<mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
    <mat-drawer class="w-full md:w-12/12 dark:bg-gray-900"
                [mode]="'side'"
                [opened]="false"
                [position]="'end'"
                [disableClose]="true"
                #matDrawer>
        <app-detail (handleCloseDetailPanel)="handleCloseDetailPanel($event)"
                    [requestId]="detailId"></app-detail>
    </mat-drawer>
    <mat-drawer-content class="flex flex-col">
        <app-datatable [dataSource]="_dataSource"
                       [tableConfig]="_tableConfig"
                       [taskbarConfig]="_taskBarConfig"
                       [tableConfigBtns]="_btnConfig"
                       (handleSearch)="handleSearch($event)"
                       (tableEvent)="handleTableEvent($event)"
                       (pageSwitch)="handlePageSwitch($event)"
                       (rowClick)="handleRowClick($event)"></app-datatable>
    </mat-drawer-content>
</mat-drawer-container>
