::ng-deep .mat-tab-body-content {
  padding: 24px 0 !important;
}

::ng-deep .mat-tab-group .mat-tab-header .mat-tab-label-container{
    padding: 0 !important;
 
}
// ::ng-deep .mat-tab-header{
//   border-bottom: none !important;
// }