<!-- <mat-drawer-container
    class="flex-auto h-full bg-white">
    <mat-drawer
        class="w-80 p-2.5"
        [mode]="'side'"
        [opened]="true"
        [position]="'start'"
        [disableClose]="true"
        #drawer>
        <app-balance-card 
            [amount]="wControlEuDTO?.weu"
            label="Số dư khả dụng (VND)">
        </app-balance-card>
    </mat-drawer>
    <mat-drawer-content class="flex flex-col">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container> -->
<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

<mat-drawer-container class="flex-auto h-full bg-white">
    <!-- Drawer -->
    <mat-drawer
      class="w-80 p-2.5"
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      [position]="'start'"
      [disableClose]="!isMobile"
      #drawer
    >
      <app-balance-card
        [amount]="wControlEuDTO?.weu"
        label="Số dư khả dụng (VND)">
      </app-balance-card>
    </mat-drawer>

    <!-- Nội dung chính -->
    <mat-drawer-content class="flex flex-col">
      <!-- Nút menu hiển thị khi mobile -->
      <!-- <button *ngIf="isMobile" mat-icon-button (click)="drawer.toggle()" class="m-2">
        <mat-icon>menu</mat-icon>
      </button> -->
      <div class="p-6 pb-0" *ngIf="isMobile">
          <app-balance-card
              [amount]="wControlEuDTO?.weu"
              label="Số dư khả dụng (VND)">
          </app-balance-card>
      </div>

      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>