<mat-drawer-container class="flex-auto h-full bg-white">
    <!-- Sidebar drawer -->
    <mat-drawer class="w-80" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" [position]="'start'"
        [disableClose]="!isMobile" #sidebarDrawer>
        <div class="m-3">
            <div *ngIf="!isMobile">
                <app-balance-card [amount]="wControlEuDTO?.weu" label="Số dư khả dụng (VND)">
                </app-balance-card>
            </div>
        </div>
        <fuse-vertical-navigation [appearance]="'default'" [navigation]="menuData" [inner]="true" [mode]="'side'"
            [name]="'sidebar-navigation'" [opened]="true"></fuse-vertical-navigation>
    </mat-drawer>
    <mat-drawer-content class="flex flex-col">
        <button *ngIf="isMobile" mat-icon-button (click)="sidebarDrawer.toggle()" class="ml-4 mt-4">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="px-6" *ngIf="isMobile">
            <app-balance-card [amount]="wControlEuDTO?.weu" label="Số dư khả dụng (VND)">
            </app-balance-card>
        </div>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>