<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container
        (backdropClick)="onBackdropClicked()"
        class="flex-auto h-full bg-white">
        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-1/2"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>
        <mat-drawer-content class="flex flex-col ">
            <!-- <ng-container>
                <div class=" border-t -mt-px pt-4 sm:pt-4 sm:pb-4 px-30 bg-gray-100">
                    <div class="w-full max-w-screen-xl mx-auto">
                        <div class="grid grid-cols-4 sm:grid-cols-4 md:grid-cols-4 gap-6 w-full min-w-0">

                            <app-balance-card
                                [amount]="totalTopup"
                                label="Tổng số tiền đã nạp (VND)"
                            ></app-balance-card>
                            <app-balance-card
                                [amount]="totalWithdraw"
                                label="Tổng số tiền đã rút (VND)"
                            ></app-balance-card>
                            <app-balance-card
                                [amount]="accountBalance"
                                label="Số dư khả dụng (VND)"
                            ></app-balance-card>
                            <app-balance-card
                                [amount]="totalAmountInvesting"
                                label="Số tiền đang đầu tư (VND)"
                            ></app-balance-card>
                            
                        </div>
                    </div>
                </div>
            </ng-container> -->
            <div class="w-full max-w-screen-xl mx-auto p-5 pb-2">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 w-full min-w-0">
                    <app-balance-card 
                        [amount]="totalTopup"
                        label="Tổng số tiền đã nạp (VND)">
                    </app-balance-card>
                    <app-balance-card 
                        [amount]="totalWithdraw"
                        label="Tổng số tiền đã rút (VND)">
                    </app-balance-card>
                    <app-balance-card 
                        [amount]="accountBalance"
                        label=" Số dư khả dụng (VND)">
                    </app-balance-card>
                    <app-balance-card   
                        [amount]="totalAmountInvesting"
                        label="Số tiền đang đầu tư (VND)">
                    </app-balance-card>
                </div>
            </div>

            <mat-tab-group (selectedTabChange)="onTabChanged($event);">
                <mat-tab label="Tài khoản gốc">
                    <div class="w-full" [ngStyle]="{'height': 'calc(100vh - 150px)'}">
                        <app-datatable
                            [containerStyle]="{width: '100%'}"
                            [fullHeight]="false"
                            [tableConfigBtns]="_tableBtnConfig"
                            [tableConfig]="_tableLoanConfig"
                            [taskbarConfig]="_taskbarConfig"
                            [dataSource]="_dataSource$"
                            (handleSearch)="handleSearch($event)"
                            (tableEvent)="handleTableEvent($event)"
                            (rowClick)="handleRowClick($event)"
                            (pageSwitch)="handlePageSwitch($event)"
                        >
                        </app-datatable>
                    </div>
                </mat-tab>
                <mat-tab label="Tài khoản đầu tư tự động">
                    <div class="w-full" [ngStyle]="{'height': 'calc(100vh - 150px)'}">
                        <app-datatable
                            [containerStyle]="{width: '100%'}"
                            [fullHeight]="false"
                            [tableConfigBtns]="_tableBtnConfig"
                            [tableConfig]="_tableLoanConfig"
                            [taskbarConfig]="_taskbarConfig"
                            [dataSource]="_dataSource$"
                            (handleSearch)="handleSearch($event)"
                            (tableEvent)="handleTableEvent($event)"
                            (rowClick)="handleRowClick($event)"
                            (pageSwitch)="handlePageSwitch($event)"
                        >
                        </app-datatable>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-drawer-content>
    </mat-drawer-container>

</div>