<div class="flex flex-col lg:flex-row gap-4 w-full p-6 pb-0 bg-white">
    <!-- Card số dư -->
    <div class="w-full lg:w-1/4">
        <div class="relative bg-[url('assets/images/ui/bg-card.svg')] bg-no-repeat bg-cover bg-center 
            text-white p-6 w-full h-full max-w-md shadow-lg rounded-lg flex flex-col justify-center">

            <img src="assets/images/logo/logo-white.svg" alt="logo" class="absolute top-4 right-4 w-6 h-6" />

            <div class="flex flex-col justify-center">
                <div class="text-sm font-semibold tracking-wide uppercase">
                    Số dư khả dụng (VND)
                </div>

                <div class="text-2xl font-bold mt-2">
                    {{ wControlEu?.wautoInvest | currencyFormatPipe : 10 }}
                </div>

                <div class="flex items-center justify-between mt-4">
                    <div class="flex items-center gap-2">
                        <img src="assets/images/logo/logo-white.svg" alt="logo" class="w-8 h-8" />
                        <span class="text-lg font-bold tracking-widest">LINKFIIN</span>
                    </div>

                    <button *ngIf="'INVESTOR_AUTO_AUTO_DEPOSIT' | permission" (click)="onClickRecharge()" class="flex items-center gap-1.5 px-2 py-1 text-primary-blue-1 font-medium 
                   border border-transparent rounded bg-white hover:bg-blue-50 
                   transition-colors duration-200">
                        <mat-icon class="text-primary-blue-1" svgIcon="heroicons_outline:plus"></mat-icon>
                        <span>Nạp tiền</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Form đặt lệnh -->
    <div class="w-full lg:w-3/4">
        <div class="flex flex-col w-full p-4 border border-primary-grayLight-2 rounded-lg">
            <article class="prose">
                <h3>Đặt lệnh đầu tư tự động</h3>
            </article>
            <mat-label>Vui lòng xác định thời gian đầu tư và số tiền đầu tư</mat-label>

            <form [formGroup]="autoInvestForm" #form="ngForm">
                <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-4 items-center">
                    <!-- Thời gian đầu tư -->
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Thời gian đầu tư</mat-label>
                        <mat-select placeholder="Chọn thời gian đầu tư" formControlName="investmentTime">
                            <mat-option *ngFor="let item of this.listInvestmentTime" [value]="item">
                                {{ item }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="autoInvestForm.get('investmentTime')?.hasError('required')">
                            {{'INVA10001' | transloco }}
                        </mat-error>
                    </mat-form-field>

                    <!-- Số tiền đầu tư -->
                    <mat-form-field class="w-full" floatLabel="always">
                        <mat-label>Số tiền đầu tư</mat-label>
                        <input placeholder="Nhập số tiền đầu tư..." id="investmentAmount" matInput currencyMask
                            autocomplete="off" maxlength="15" class="text-left"
                            [options]="{ prefix: '', thousands: ',', precision: 0, allowNegative: false }"
                            formControlName="investmentAmount">
                        <mat-error *ngIf="autoInvestForm.get('investmentAmount')?.hasError('required')">
                            {{ 'INVA10003' | transloco }}
                        </mat-error>
                        <mat-error *ngIf="autoInvestForm.get('investmentAmount').hasError('min')">
                            Số tiền nhập không hợp lệ
                        </mat-error>
                    </mat-form-field>
                    <button *ngIf="'INVESTOR_AUTO_AUTO_INVEST' | permission"
                        class="w-full sm:w-auto" mat-flat-button type="button"
                        [color]="'primary'" (click)="onSubmit()">
                        Xác nhận
                    </button>
                </div>

                <!-- Button xác nhận -->
                
            </form>
        </div>
    </div>
</div>