<div class="flex flex-col max-w-240 md:min-w-160 -m-6" style="max-height: 90vh">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-14 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Cấp hạn mức huy động vốn</div>
        <button mat-icon-button tabindex="-1">
            <mat-icon class="text-current"
                      [svgIcon]="'heroicons_outline:x'"
                      (click)="closeDialog()"></mat-icon>
        </button>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="formGroup">
        <!-- <div class="flex flex-col w-full gap-4"> -->
            <mat-form-field class="w-full" floatLabel="always">
                <mat-label>Hạn mức huy động vốn (VND)</mat-label>
                <input
                    matInput
                    maxlength="15"
                    currencyMask autocomplete="off"
                    class="text-left"
                    [options]="{ prefix: '', thousands: ',', precision: 0, allowNegative: false }"
                    formControlName="creditLimit"
                    id="creditLimit"
                    placeholder="Nhập hạn mức huy động vốn..."
                >
                <mat-error *ngIf="formGroup.get('creditLimit').hasError('required')">
                    {{ 'QLVV247' | transloco }}
                </mat-error>
                <mat-error *ngIf="formGroup.get('creditLimit').hasError('maxlength')">
                    {{ 'QLVV179' | transloco }}
                </mat-error>
                <mat-error *ngIf="formGroup.get('creditLimit').hasError('min')">
                    {{ 'QLVV180' | transloco }}
                </mat-error>
            </mat-form-field>
            <div class="w-full mb-4">
                <app-dropzone
                    topTitle="Tờ trình cấp hạn mức huy động vốn"
                    title="Tải tệp lên"
                    styleClass="h-[48px] mt-[3px]"
                    class="w-full"
                    previewClass="max-w-fit w-full"
                    requiredMsg="QLVV184"
                    sizeMsg="QLVV183"
                    maxFileSize="10"
                    [isRequired]="true"
                    [formGroup]="formGroup"
                    field="finDocumentsId"
                ></app-dropzone>
            </div>
        <!-- </div> -->

        <div class="flex flex-row w-full gap-4">
            <mat-form-field class="w-1/2">
                <mat-label>Ngày tạo</mat-label>
                <input id="createdDate"
                       matInput
                       readonly
                       formControlName="createdDate">
            </mat-form-field>
            <mat-form-field class="w-1/2">
                <mat-label>Người tạo</mat-label>
                <input id="createdByName"
                       matInput
                       readonly
                       formControlName="createdByName">
            </mat-form-field>
        </div>
    </div>

    <!-- Action -->
    <div class="flex flex-row items-center justify-center mb-4 sm:mb-6">
            <button mat-stroked-button mat-dialog-close> Đóng </button>
            <button
                mat-flat-button
                color="primary"
                class="ml-2"
                *ngIf=" 'SFF_CREDIT_LIMIT_INSERT' | permission"
                (click)="onSubmit()"
            >
                Xác nhận
            </button>
    </div>
</div>
