<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto bg-white"
    cdkScrollable>
        <!-- Main -->
    <div class="flex-auto p-6 sm:p-7">
        <!-- CONTENT GOES HERE -->
        <div class="prose min-w-full">
            <h2 class="text-start text-3xl">Tạo hồ sơ huy động</h2>
        </div>
        <form class="flex flex-col mt-4" [formGroup]="loanProfileForm">
            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                <mat-form-field class="flex-auto" floatLabel="always">
                    <mat-label>Hình thức huy động vốn</mat-label>
                    <mat-select [placeholder]="'Chọn hình thức huy động vốn'" id="raisingCapital"
                        formControlName="raisingCapital" ngForm (selectionChange)="getLstRank()">
                        <mat-option [value]="1">Có bảo đảm</mat-option>
                        <mat-option [value]="2">Tín chấp</mat-option>
                    </mat-select>
                    <mat-error *ngIf="loanProfileForm.get('raisingCapital').hasError('required')">
                        {{ 'THSV001' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="flex-auto" floatLabel="always">
                    <mat-label>Mục đích</mat-label>
                    <mat-select [placeholder]="'Chọn mục đích'" id="reasons" formControlName="reasons">
                        <mat-option [value]="lstReason.admCategoriesId"
                            *ngFor="let lstReason of _lstReasons | async">{{lstReason.categoriesName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="loanProfileForm.get('reasons').hasError('required')">
                        {{ 'THSV018' | transloco }}
                    </mat-error>
                </mat-form-field>
                <div class="flex-auto hidden md:block">
                    <p>Số tiền thực nhận sau phí (VND)<br>
                        <b class="mt-4 block text-3xl sm:text-4xl font-semibold tracking-tight text-primary">{{
                            loanProfileForm.get('feePlus').value | currencyFormatPipe: 3 }}</b>
                    </p>
                </div>

                <mat-form-field class="flex-auto" floatLabel="always">
                    <mat-label>Hình thức bảo đảm</mat-label>
                    <mat-select [placeholder]="'Chọn hình thức bảo đảm'" id="collateralType"
                        formControlName="collateralType" ngForm>
                        <mat-option [value]="lstCollateral.admCategoriesId"
                            *ngFor="let lstCollateral of _lstCollateralType | async">{{lstCollateral.categoriesName}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="loanProfileForm.get('collateralType').hasError('required')">
                        {{ 'THSV016' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="flex-auto" floatLabel="always">
                    <mat-label>Kỳ hạn(ngày) </mat-label>
                    <mat-select [placeholder]="'Chọn kỳ hạn'" id="fsConfRateId" formControlName="fsConfRateId"
                        (selectionChange)="getLstRank()">
                        <mat-option [value]="confRate.fsConfRateId"
                            *ngFor="let confRate of _confRates | async">{{confRate.tenor}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="loanProfileForm.get('fsConfRateId').hasError('required')">
                        {{ 'THSV011' | transloco }}
                    </mat-error>
                </mat-form-field>

                <div class="flex-auto hidden md:block">
                    <p>Tiền lãi (VND)<br>
                        <b class="mt-4 block text-3xl sm:text-4xl font-semibold tracking-tight text-primary">{{
                            loanProfileForm.get('interest').value | currencyFormatPipe: 3 }}</b>
                    </p>
                </div>

                <mat-form-field class="flex-auto" floatLabel="always">
                    <mat-label>Lãi suất(%/năm)</mat-label>
                    <mat-select [placeholder]="'Chọn tỷ lệ lãi suất'" id="rate" (ngModelChange)="getAmountData('rate')"
                        formControlName="rate">
                        <mat-option [value]="rate.value"
                            *ngFor="let rate of _lstRates | async">{{rate.value}}</mat-option>
                    </mat-select>
                    <span class="ml-2" matSuffix>%/năm</span>
                     <!-- lỗi THSV013 -->
                    <mat-error *ngIf="loanProfileForm.get('rate').hasError('thsv013')">
                        {{ 'THSV013' | transloco }}
                    </mat-error>

                    <!-- lỗi required -->
                    <mat-error *ngIf="loanProfileForm.get('rate').hasError('required')">
                        {{ 'Lãi suất không được trống' | transloco }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="flex-auto" floatLabel="always">
                    <mat-label>Số tiền cần huy động</mat-label>
                    <input matInput currencyMask autocomplete="off" class="text-left"
                        [options]="{ prefix: '', thousands: ',', precision: 0, allowNegative: false }"
                        formControlName="amount" [maxLength]="15"
                        [placeholder]="'Nhập số tiền cần huy động'">
                    <span class="ml-2" matSuffix>VND</span>
                    <mat-error *ngIf="loanProfileForm.get('amount').hasError('required')">
                        {{ 'THSV003' | transloco }}
                    </mat-error>
                    <mat-error *ngIf="loanProfileForm.get('amount').hasError('min')">
                        {{ 'THSV005' | transloco }}
                    </mat-error>
                    <mat-error *ngIf="loanProfileForm.get('amount').hasError('maxlength')">
                        {{ 'THSV006' | transloco }}
                    </mat-error>
                </mat-form-field>

                <div class="flex-auto hidden md:block">
                    <p>Tổng số tiền cần hoàn trả (VND)<br>
                        <b class="mt-4 block text-3xl sm:text-4xl font-semibold tracking-tight text-primary">{{
                            loanProfileForm.get('totalAmount').value | currencyFormatPipe: 3 }}</b>
                    </p>
                </div>

                <div class="flex-auto">
                    <app-date-picker [minDate]="{'days': 0}" styleFormFieldClass="col-span-1 "
                        label="Thời điểm dự kiến huy động" formControlName="expectedTime" fomatMsg="THSV043"
                        minMsg="THSV023"></app-date-picker>
                </div>


                <mat-form-field floatLabel="always" class="row-span-2">
                    <mat-label>Chi tiết</mat-label>
                    <textarea matInput rows="7" formControlName="info" maxlength="500" id="info"
                        [placeholder]="'Nhập mô tả chi tiết...'"></textarea>
                    <mat-error *ngIf="loanProfileForm.get('info').hasError('required')">
                        {{ 'THSV021' | transloco }}
                    </mat-error>
                </mat-form-field>

                <div class="flex-auto hidden md:block">
                    <mat-checkbox formControlName="isTrusted" [color]="'primary'">
                            Bằng việc xin vay vốn, bạn đã đồng ý với <a class="text-primary underline"
                                href="javascript:void(0)" (click)="download('downloadCapitalFinancingContract')">Hợp
                                đồng tài trợ vốn</a>
                            .Để được hỗ trợ, vui lòng liên hệ đường dây nóng <a class="text-primary underline"
                                href="tel:19003185">1900 3185</a>
                    </mat-checkbox>
                </div>

                <div class="flex-auto">
                    <app-dropzone [multiple]="true" [isRequired]="false" styleClass="h-[48px] mt-[3px]"
                        topTitle="Tài liệu đính kèm" title="Tải tệp lên" [maxFile]="10" [maxFileSize]="10"
                        [formGroup]="loanProfileForm" [removeValue]="isRemoved" [accept]="accept" field="finDocumentsId"
                        sizeMsg="CHBM013" typeMsg=""></app-dropzone>
                   
                </div>
               
                <div class="mt-6 space-y-4 block md:hidden">
                    <p>Số tiền thực nhận sau phí (VND)<br>
                        <b class="text-2xl md:text-5xl font-semibold text-primary">
                            {{ loanProfileForm.get('feePlus').value | currencyFormatPipe:3 }}
                        </b>
                    </p>
                    <p>Tiền lãi (VND)<br>
                        <b class="text-2xl md:text-5xl font-semibold text-primary">
                            {{ loanProfileForm.get('interest').value | currencyFormatPipe:3 }}
                        </b>
                    </p>
                    <p>Tổng số tiền cần hoàn trả (VND)<br>
                        <b class="text-2xl md:text-5xl font-semibold text-primary">
                            {{ loanProfileForm.get('totalAmount').value | currencyFormatPipe:3 }}
                        </b>
                    </p>
                </div>
                <div class="mt-6 block md:hidden">
                    <mat-checkbox formControlName="isTrusted" [color]="'primary'">
                            Bằng việc xin vay vốn, bạn đã đồng ý với <a class="text-primary underline"
                                href="javascript:void(0)" (click)="download('downloadCapitalFinancingContract')">Hợp
                                đồng tài trợ vốn</a>
                            .Để được hỗ trợ, vui lòng liên hệ đường dây nóng <a class="text-primary underline"
                                href="tel:19003185">1900 3185</a>
                    </mat-checkbox>
                </div>
                <div class="flex flex-row justify-end items-center gap-3 mt-6">
                    <button mat-stroked-button type="button" (click)="onClearForm()">
                        Nhập lại
                    </button>
                    <button 
                    [disabled]="loanProfileForm.get('isTrusted').invalid"
                    mat-flat-button type="submit" *ngIf="'LENDER_LOAN_PROFILE_CREATE_LOAN_PROFILE' | permission"
                        (click)="onSubmit()" [color]="'primary'">
                        Gửi xét duyệt
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>