.custom-dropzone {
    border: 1px solid rgb(203 213 225 / var(--tw-border-opacity)) !important;
    font-size: 14px !important;
    align-items: center !important;
    padding: 0 20px !important;
    gap: 8px;
    &.dropzone-error {
        border-color: rgba(var(--fuse-warn-rgb), var(--tw-border-opacity)) !important;
    }
}

.span-dropzone-error {
    color: var(--fuse-warn);
}

.custom-dropzone ngx-dropzone-preview {
    height: 35px !important;
    min-height: unset !important;
    background-image: unset !important;
    border: 1px solid rgb(203 213 225 / var(--tw-border-opacity)) !important;
    width: 130px;
    min-width: 130px !important;
    margin: 0 !important;
}
.custom-dropzone ngx-dropzone-preview:hover {
    background-image: unset !important;
}

.custom-dropzone ngx-dropzone-label {
    margin: auto auto !important;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body.light.mat-snack-bar-container.snackbar-warn {
    background: rgba(var(--fuse-warn-rgb), var(--tw-border-opacity)) !important;
    color: white;
}
