<!-- <div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <div mat-dialog-title class="mb-0">
        <div class="flex justify-between">
            <h2 mat-dialog-title class="mb-0">{{data.title}}</h2>
            <a class="mt-[-5px]" *ngIf="!smsOtpForm.disabled" mat-dialog-close mat-icon-button>
                <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </a>
        </div>
    </div>
    <mat-dialog-content class="mat-typography">
        <div>
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>
        </div>

        <form class="mt-8" [formGroup]="smsOtpForm">
            <div class="flex items-baseline mt-0.5 font-medium">
                {{data.content}}
            </div>

            <mat-form-field class="w-full mt-5">
                <mat-label>Nhập mã OTP được gửi qua {{typeOtp}}</mat-label>
                <input matInput inputMask maskType="number" maxlength="4"
                    onKeyPress="if(this.value.length==4) return false;" id="smsOtp" formControlName="smsOtp">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                <mat-error *ngIf="smsOtpForm.get('smsOtp')?.hasError('required')">
                    {{ 'BM000' | transloco }}
                </mat-error>
                <mat-error
                    *ngIf="smsOtpForm.get('smsOtp')?.hasError('forbiddenOtp') && !smsOtpForm.get('smsOtp')?.hasError('required')">
                    {{ 'BM001' | transloco }}
                </mat-error>
                <mat-error
                    *ngIf="smsOtpForm.get('smsOtp')?.hasError('maxlength') && !smsOtpForm.get('smsOtp')?.hasError('required')">
                    {{ 'BM001' | transloco }}
                </mat-error>
            </mat-form-field>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Bạn chưa nhận được mã?</div>
                <a class="ml-1 text-primary-500 hover:underline cursor-pointer" *ngIf="!resendTime"
                    (click)="resendOtp()">
                    Gửi lại
                </a>
                <a class="ml-1 text-primary-500 hover:underline" *ngIf="resendTime">
                    {{resendTime}}s
                </a>
            </div>

            <div class="text-center mt-6">
                <a mat-dialog-close mat-button *ngIf="!smsOtpForm.disabled" [matTooltip]="'Huỷ'">
                    Huỷ
                </a>
                <button mat-flat-button color="primary" (click)="submitOtp()" [disabled]="smsOtpForm.disabled">
                    <span *ngIf="!smsOtpForm.disabled">
                        Xác nhận
                    </span>
                    <mat-progress-spinner *ngIf="smsOtpForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                    </mat-progress-spinner>
                </button>
            </div>
        </form>
    </mat-dialog-content>
</div> -->

<div class="flex flex-col max-w-160 md:min-w-128 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary-blue-2 text-on-primary-blue-2">
        <!-- <div mat-dialog-title class="mb-0"> -->
        <!-- <div class="flex justify-between"> -->
        <h2 mat-dialog-title class="mb-0">{{data.title}}</h2>
        <a  *ngIf="!smsOtpForm.disabled" mat-dialog-close mat-icon-button>
            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </a>
        <!-- </div> -->
        <!-- </div> -->
    </div>

    <!-- Compose form -->
    <!-- <mat-dialog-content class="mat-typography ">
        <div>
           
        </div> -->

    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="smsOtpForm">
        <fuse-alert class="mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>
        <div class="flex text-center items-baseline mt-0.5 font-medium">
            {{data.content}}
        </div>

        <mat-form-field class="w-full mt-5">
            <mat-label class="text-center">Nhập mã OTP được gửi qua {{typeOtp}}</mat-label>
            <input matInput inputMask maskType="number" maxlength="4"
                onKeyPress="if(this.value.length==4) return false;" id="smsOtp" formControlName="smsOtp">
                <!-- <ng-otp-input 
                    [config]="{
                        length: 4,
                        allowNumbersOnly: true,
                        inputClass: 'otp-input focus:border-blue-500 border-gray-300 rounded-md transition-all'
                    }">
                </ng-otp-input> -->
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:phone'"></mat-icon>
            <mat-error *ngIf="smsOtpForm.get('smsOtp')?.hasError('required')">
                {{ 'BM000' | transloco }}
            </mat-error>
            <mat-error
                *ngIf="smsOtpForm.get('smsOtp')?.hasError('forbiddenOtp') && !smsOtpForm.get('smsOtp')?.hasError('required')">
                {{ 'BM001' | transloco }}
            </mat-error>
            <mat-error
                *ngIf="smsOtpForm.get('smsOtp')?.hasError('maxlength') && !smsOtpForm.get('smsOtp')?.hasError('required')">
                {{ 'BM001' | transloco }}
            </mat-error>
        </mat-form-field>
        <div class="flex justify-center items-baseline mt-0.5 font-medium">
            <div>Bạn chưa nhận được mã?</div>
            <a class="ml-1 text-primary-blue-2 hover:underline cursor-pointer" *ngIf="!resendTime" (click)="resendOtp()">
                Gửi lại
            </a>
            <a class="ml-1 text-primary-blue-2 hover:underline" *ngIf="resendTime">
                {{resendTime}}s
            </a>
        </div>

        <div class="flex justify-end items-center mt-6 gap-2">
            <a mat-dialog-close mat-button *ngIf="!smsOtpForm.disabled">
                Huỷ
            </a>
            <button mat-flat-button color="primary" (click)="submitOtp()" [disabled]="smsOtpForm.disabled">
                <span *ngIf="!smsOtpForm.disabled">
                    Xác nhận
                </span>
                <mat-progress-spinner *ngIf="smsOtpForm.disabled" [diameter]="24" [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </form>
    <!-- </mat-dialog-content> -->
</div>