::ng-deep .input-otp {
  width: 50px !important;
  height: 50px !important;
  border: 1px solid #ccc !important;
  border-radius: 8px !important;
  text-align: center !important;
  font-size: 20px !important;
  margin: 0 5px !important;
  transition: all 0.2s ease;
}

::ng-deep .input-otp:focus {
  border-color: var(--fuse-primary) !important;
  box-shadow: 0 0 5px rgba(40, 84, 242, 0.4);
}

::ng-deep .input-otp-error {
  border-color: #f44336 !important;
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  75% { transform: translateX(2px); }
}
