<mat-drawer-container
    class="flex-auto h-full bg-card dark:bg-transparent">
    <mat-drawer
        class="w-full md:w-12/12 dark:bg-gray-900"
        [mode]="'side'"
        [opened]="false"
        [position]="'end'"
        [disableClose]="true"
        #matDrawer>
        <detail-investor-refund
            [isCreate]="isCreate"
            (handleCloseDetailPanel)="handleCloseDetailPanel()"
        ></detail-investor-refund>
    </mat-drawer>
    <mat-drawer-content class="flex flex-col">
        <app-datatable
            [tableConfig]="tableTransConfig"
            [taskbarConfig]="taskBarConfig"
            [dataSource]="dataSource$"
            (rowClick)="handleRowClick($event)"
            (pageSwitch)="handlePageSwitch($event)"
            (tableEvent)="handleTableEvent($event)"
            (handleSearch)="handleSearch($event)"
            (checkboxItemChange)="checkboxItemChange($event)"
            [tableConfigBtns]="_dataButtonConfig"
        ></app-datatable>
    </mat-drawer-content>
</mat-drawer-container>
