<mat-drawer-container class="relative flex h-full min-w-0 md:w-full ">
    <mat-drawer
        class="w-full sm:w-100"
        [mode]="'side'"
        [opened]="false"
        [position]="'end'"
        #fileDrawer>
        <file-detail
            containerClass="relative"
            backgroundClass="min-h-[250px]"
            [fileDrawer]="fileDrawer"
            [selectedFile]="selectedFile"
            [replaceBtnV2]="true"
            (handleReplaceFile)="onReplaceFile($event)"
        ></file-detail>
    </mat-drawer>

    <mat-drawer-content class="flex-auto bg-white">
        <change-id-gpkd></change-id-gpkd>
        <div class="flex flex-col p-4 max-h-full overflow-y-auto">
            <div class="flex justify-end">
                <button mat-flat-button color="primary" (click)="clickUploadFile()">Tải lên</button>
            </div>
            <ng-container *ngIf="rentalContactFiles else noData">
                <div class="flex flex-wrap">
                    <file-ui
                        *ngFor="let file of rentalContactFiles"
                        [file]="file"
                        (click)="onClickFile(file)"
                    ></file-ui>
                </div>
            </ng-container>
            <ng-template #noData>
                <h4 class="uppercase text-center text-2xl">Không có dữ liệu</h4>
            </ng-template>

        </div>
    </mat-drawer-content>
</mat-drawer-container>
