<mat-drawer-container
    class="flex-auto h-full bg-card dark:bg-transparent ">

    <mat-drawer
        class="w-full sm:w-100"
        [mode]="'side'"
        [opened]="false"
        [position]="'end'"
        #fileDrawer>
        <file-detail
            [fileDrawer]="fileDrawer"
            [selectedFile]="selectedFile"
        ></file-detail>
    </mat-drawer>

    <mat-drawer-content class="flex flex-col overflow-hidden">
        <div class="flex items-center justify-end absolute top-2 right-2">
            <a
                mat-icon-button
                (click)="onClose()">
                <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </a>
        </div>
        <mat-tab-group class="py-5 shadow overflow-y-auto" cdkScrollable
                       *ngIf="(profileDetails | async) as profileDetailsData">
            <mat-tab label="Chi tiết hồ sơ">
                <div class="grid grid-cols-4 gap-5 pb-5">
                    <app-radial-bar-chart
                        color="#4c84fc"
                        title="Điểm tài chính"
                        [hideLabel]="true"
                        [score]="profileDetailsData.financialScoreChart"
                    ></app-radial-bar-chart>
                    <app-radial-bar-chart
                        color="#facc69"
                        title="Điểm định tính"
                        [hideLabel]="true"
                        [score]="profileDetailsData.qualitativeScoreChart"
                    ></app-radial-bar-chart>
                    <app-radial-bar-chart
                        color="#2ebf7e"
                        title="Điểm tổng cộng"
                        [hideLabel]="true"
                        [score]="profileDetailsData.totalScoreChart"
                    ></app-radial-bar-chart>
                    <!-- <app-radial-bar-chart
                         title="Khả năng mất vốn (%)"
                         [hideLabel]="true"
                         [score]="profileDetailsData.riskRateChart"
                     ></app-radial-bar-chart>-->
                </div>
                <div class="grid grid-cols-4 gap-5 pb-5">
                    <article class="prose break-words">
                        <p>Số hồ sơ: <br> <b>{{ profileDetailsData.fsLoanProfilesId }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Số tiền huy động(VNĐ): <br> <b>{{ profileDetailsData.amount | currencyFormatPipe : 10 }}</b>
                        </p>
                    </article>
                    <article class="prose break-words">
                        <p>Kỳ hạn(ngày): <br> <b>{{ profileDetailsData.loanTimeCycle }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Lãi suất(%/năm): <br> <b>{{ profileDetailsData.rate }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Hình thức huy động vốn: <br> <b>{{ profileDetailsData.raisingCapitalName }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Mục đích: <br> <b>{{ profileDetailsData.reasonsName }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Hình thức bảo đảm: <br> <b>{{ profileDetailsData.collateralTypeName }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Trạng thái hồ sơ: <br> <b>{{ profileDetailsData.statusName }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Chi tiết: <br> <b>{{ profileDetailsData.info }}</b></p>
                    </article>
                </div>
                <mat-divider class="pb-5"></mat-divider>
                <article class="prose mt-5">
                    <h4>Báo cáo đánh giá hồ sơ huy động vốn</h4>
                </article>
                <div class="flex flex-wrap pb-5">
                    <file-ui *ngFor="let file of reportLoanProfileAtt" [file]="file"
                             (click)="onClickFile(file)"></file-ui>
                </div>
                <mat-divider class="pb-5"></mat-divider>
                <article class="prose pb-5">
                    <h4>Thông tin đầu tư</h4>
                </article>
                <div class="grid grid-cols-4 gap-5">
                    <article class="prose break-words">
                        <p>Mã hồ sơ đầu tư: <br> <b>{{ investors.fsTransInvestorId }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Số tiền đầu tư: <br> <b>{{ investors.amount | currencyFormatPipe : 10 }}</b>
                        </p>
                    </article>
                    <article class="prose break-words">
                        <p>Kỳ hạn(ngày): <br> <b>{{ investors.investorTime }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Lãi suất (%/năm): <br> <b>{{ investors.rate }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Lãi dự kiến: <br> <b>{{ investors.interestAtimate | currencyFormatPipe : 10  }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Lãi thực tế: <br> <b>{{ investors.interest | currencyFormatPipe : 10  }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Trạng thái: <br> <b>{{ investors.statusName }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Ngày đáo hạn: <br> <b>{{ investors.investorTimeExpried | datetimeformat : 'DD/MM/YYYY HH:MM:SS' }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Lĩnh vực đầu tư: <br> <b>{{ investors.area }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Hình thức đầu tư: <br> <b>{{ investors.typeName }}</b></p>
                    </article>
                    <article class="prose break-words" *ngIf="investors.type === 3">
                        <p>Số tiền mua chuyển nhượng: <br> <b>{{ investors.payAmount | currencyFormatPipe : 10 }}</b></p>
                    </article>
                </div>
            </mat-tab>
            <mat-tab label="Chi tiết người huy động">
                <fuse-card class="flex flex-col px-8 pb-4" style="min-height: 650px"
                           *ngIf="profileDetailsData.lender.type === userType.CA_NHAN">
                    <article class="prose">
                        <h4>Thông tin cá nhân</h4>
                    </article>
                    <div class="grid grid-rows-4 grid-cols-4  gap-5 pt-5">
                        <div class="row-span-3 ...">
                            <div class="row-span-3 pr-5">
                            <div *ngIf="avatar" class="w-full h-50 avatar"
                                 [ngStyle]="{
                                    'background-image':'url('+avatar.contentBase64+')',
                                    'background-size':     'contain',
                                    'background-repeat':   'no-repeat',
                                    'background-position': 'center center'
                                 }"></div>
                        </div>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Họ và tên: <br> <b>{{ profileDetailsData.lender.fullName }}</b></p>
                            </article>
                        </div>

                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>SĐT liên hệ: <br> <b>{{ profileDetailsData.lender.mobile }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Email: <br> <b>{{ profileDetailsData.lender.email }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>CCCD/Hộ chiếu: <br> <b>{{ profileDetailsData.lender.identification }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Ngày cấp: <br>
                                    <b>{{ profileDetailsData.lender.dateOfIdnumber | datetimeformat : 'DD/MM/YYYY' }}</b>
                                </p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Nơi cấp: <br> <b>{{ profileDetailsData.lender.placeOfIdnumber }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Giới tính: <br> <b>{{ profileDetailsData.lender.genderName }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Ngày sinh: <br>
                                    <b>{{ profileDetailsData.lender.dateOfBirth | datetimeformat : 'DD/MM/YYYY' }}</b>
                                </p>
                            </article>
                        </div>

                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Tình trạng hôn nhân: <br> <b>{{ profileDetailsData.lender.maritalName }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Nghề nghiệp: <br> <b>{{ profileDetailsData.lender.jobName }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Đơn vị công tác: <br> <b>{{ profileDetailsData.lender.jobAddress }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>MST cá nhân: <br> <b>{{ profileDetailsData.lender.taxCode }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Trang Facebook: <br> <b>{{ profileDetailsData.lender.facebook }}</b></p>
                            </article>
                        </div>
                        
                        <div class="col-span-2 ...">
                            <article class="prose break-words">
                                <p>Địa chỉ thường trú: <br> <b>{{ profileDetailsData.lender.address2 }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-2 ...">
                            <article class="prose break-words">
                                <p>Địa chỉ hiện tại: <br> <b>{{ profileDetailsData.lender.address1 }}</b>
                                </p>
                            </article>
                        </div>
                    </div>
                </fuse-card>

                <fuse-card class="flex flex-col px-8 pb-4" *ngIf="profileDetailsData.lender.type === userType.DOANH_NGHIEP">
                    <article class="prose">
                        <h4>Thông tin doanh nghiệp</h4>
                    </article>
                    <div class="grid grid-rows-4 grid-cols-4  gap-5 pt-5">
                        <div class="row-span-3 ...">
                            <div class="row-span-3 pr-5">
                            <div *ngIf="avatar" class="w-full h-50 avatar"
                                 [ngStyle]="{
                                    'background-image':'url('+avatar.contentBase64+')',
                                    'background-size':     'contain',
                                    'background-repeat':   'no-repeat',
                                    'background-position': 'center center'
                                 }"></div>
                        </div>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Bên huy động vốn: <br> <b>{{ profileDetailsData.lender.fullName }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Lĩnh vực hoạt động: <br> <b>{{ profileDetailsData.lender.admCategoriesName }}</b>
                                </p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words truncate"
                                     [matTooltip]="profileDetailsData.lender.website">
                                <p>Website: <br> <b><a target="_blank"
                                                       [href]="profileDetailsData.lender.website">{{ profileDetailsData.lender.website }}</a></b>
                                </p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Số GPKD: <br> <b>{{ profileDetailsData.lender.businessLicense }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Ngày cấp phép: <br>
                                    <b>{{ profileDetailsData.lender.businessLicenseDate | datetimeformat : 'DD/MM/YYYY' }}</b>
                                </p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Nơi cấp: <br> <b>{{ profileDetailsData.lender.placeOfBusinessLicense }}</b>
                                </p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>MST doanh nghiệp: <br> <b>{{ profileDetailsData.lender.businessCode }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>SĐT liên hệ: <br> <b>{{ profileDetailsData.lender.landline }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words truncate"
                                     [matTooltip]="profileDetailsData.lender.facebook">
                                <p>Trang Facebook: <br> <b><a target="_blank"
                                                              [href]="profileDetailsData.lender.facebook">{{ profileDetailsData.lender.facebook }}</a></b>
                                </p>
                            </article>
                        </div>
                        <div class="col-span-2 ...">
                            <article class="prose break-words">
                                <p>Địa chỉ(theo GPKD): <br> <b>{{ profileDetailsData.lender.address3 }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-2 ...">
                            <article class="prose break-words">
                                <p>Địa chỉ hoạt động: <br> <b>{{ profileDetailsData.lender.address2 }}</b></p>
                            </article>
                        </div>
                    </div>
                </fuse-card>
                <fuse-card class="flex flex-col px-8 pb-4 mt-5" *ngIf="profileDetailsData?.lender?.representative">
                    <article class="prose">
                        <h4>Thông tin người đại diện</h4>
                    </article>
                    <div class="grid grid-cols-4 gap-5 p-5">
                        <article class="prose break-words">
                            <p>Họ và tên: <br> <b>{{ profileDetailsData.lender.representative.fullName }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Giới tính: <br> <b>{{ profileDetailsData.lender.representative.genderName }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Ngày sinh: <br>
                                <b>{{ profileDetailsData.lender.representative.dateOfBirth | datetimeformat : 'DD/MM/YYYY' }}</b>
                            </p>
                        </article>
                        <article class="prose break-words">
                            <p>MST cá nhân: <br> <b>{{ profileDetailsData.lender.representative.taxCode }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>CCCD/Hộ chiếu: <br>
                                <b>{{ profileDetailsData.lender.representative.identification }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Ngày cấp: <br>
                                <b>{{ profileDetailsData.lender.representative.idDate | datetimeformat : 'DD/MM/YYYY' }}</b>
                            </p>
                        </article>
                        <article class="prose break-words">
                            <p>Nơi cấp: <br> <b>{{ profileDetailsData.lender.representative.idAddress }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>SĐT liên hệ: <br> <b>{{ profileDetailsData.lender.representative.mobile }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Email: <br> <b>{{ profileDetailsData.lender.representative.email }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Chức vụ: <br>
                                <b>{{ profileDetailsData.lender.representative.positionCompany }}</b></p>
                        </article>
                        
                        <article class="prose break-words col-span-2">
                            <p>Địa chỉ thường trú: <br>
                                <b>{{ profileDetailsData.lender.representative.address2 }}</b></p>
                        </article>
                        <article class="prose break-words col-span-2">
                            <p>Địa chỉ hiện tại: <br>
                                <b>{{ profileDetailsData.lender.representative.address1 }}</b></p>
                        </article>
                    </div>
                </fuse-card>

                <!--<fuse-card class="flex flex-col px-8 pb-4 mt-5"
                           *ngFor="let pcontact of profileDetailsData?.lender?.contact; let idx = index">
                    <article class="prose">
                        <h4>Thông tin người Liên hệ {{idx + 1}}</h4>
                    </article>
                    <div class="grid grid-cols-4 gap-5 p-5">
                        <article class="prose break-words">
                            <p>Họ và tên: <br> <b>{{ pcontact.fullName }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Giới tính: <br> <b>{{ pcontact.genderName }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Ngày sinh: <br> <b>{{ pcontact.dateOfBirth | datetimeformat : 'DD/MM/YYYY' }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>MST cá nhân: <br> <b>{{ pcontact.taxCode }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>CCCD/Hộ chiếu: <br> <b>{{ pcontact.identification }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Ngày cấp: <br> <b>{{ pcontact.idDate | datetimeformat : 'DD/MM/YYYY' }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Nơi cấp: <br> <b>{{ pcontact.idAddress }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Số di động: <br> <b>{{ pcontact.mobile }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Email cá nhân: <br> <b>{{ pcontact.email }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Chức vụ: <br> <b>{{ pcontact.positionCompany }}</b></p>
                        </article>
                        <article class="prose break-words col-span-2">
                            <p>Địa chỉ(Theo CCCD/Hộ chiếu): <br> <b>{{ pcontact.address1 }}</b></p>
                        </article>
                        <article class="prose break-words col-span-2">
                            <p>Địa chỉ thường trú: <br> <b>{{ pcontact.address2 }}</b></p>
                        </article>
                    </div>
                </fuse-card>-->
            </mat-tab>
            <mat-tab label="Lịch sử huy động">
                <article class="prose">
                    <h4>Danh sách lịch sử huy động</h4>
                </article>
                <div class="flex flex-col flex-auto py-2 sm:py-4 overflow-auto table-container">
                    <table mat-table [dataSource]="_dataSource" *ngIf="_dataSource?.data.length > 0">
                        <ng-container matColumnDef="loanProfilesCode">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Số hợp đồng
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.fsLoanProfilesId }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="reasonsName">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Mục đích
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.reasonsName}}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Số tiền yêu cầu (VNĐ)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.amount | currencyFormatPipe : 10 }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="rate">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Lãi suất (%/Năm)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.rate }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="loanTimeCycle">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Kỳ hạn(ngày)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.loanTimeCycle }}
                                </div>
                            </td>
                        </ng-container>

                       <!-- <ng-container matColumnDef="totalAmount">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Tổng tiền phải trả (VNĐ)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.totalAmount | currencyFormatPipe : 10 }}
                                </div>
                            </td>
                        </ng-container-->>

                        <ng-container matColumnDef="amountRef">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Số tiền đã huy động (VNĐ)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.amountRef | currencyFormatPipe : 10 }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="statusName">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Trạng thái
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.statusName }}
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row
                            *matHeaderRowDef="[
                                'loanProfilesCode',
                                'reasonsName',
                                'amount',
                                'rate',
                                'loanTimeCycle',
                                'amountRef',
                                'statusName'
                              ]"></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: [
                                'loanProfilesCode',
                                'reasonsName',
                                'amount',
                                'rate',
                                'loanTimeCycle',
                                'amountRef',
                                'statusName'
                             ];"
                            class="hover:bg-accent-50 hover:cursor-pointer"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 20, 30, 50 , 100]"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements"></mat-paginator>
                </div>
            </mat-tab>
            <mat-tab label="Thông tin thanh toán" *ngIf="investors.status != 1 && investors.status != 3" >
                <article class="prose">
                    <h4>Danh sách chi tiết thanh toán</h4>
                </article>
                <div class="flex flex-col flex-auto p-2 sm:p4 overflow-y-auto">
                    <table mat-table [dataSource]="_dataSourceTranpayInvTransaction" *ngIf="_dataSourceTranpayInvTransaction?.data.length > 0">
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    STT
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element; let j = index">
                                <div class="cell-overflow">
                                    {{j + 1}}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="createdDate">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Ngày thanh toán
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.createdDate | datetimeformat : 'DD/MM/YYYY - hh:mm:ss'}}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="amount_Interest">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Số tiền thanh toán (VNĐ)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ (element.amount + element.interest) | currencyFormatPipe : 10 }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="feeTax">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Khấu trừ thuế TNCN (VNĐ)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.feeTax | currencyFormatPipe : 10 }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="fee">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Phí (VNĐ)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.fee | currencyFormatPipe : 10 }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="totalAmount">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Thực nhận (VNĐ)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.netAmount | currencyFormatPipe : 10 }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="statusName">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Trạng thái
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.statusName }}
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row
                            *matHeaderRowDef="['index', 'createdDate', 'amount_Interest', 'feeTax', 'fee', 'totalAmount', 'statusName']"></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: ['index', 'createdDate', 'amount_Interest', 'feeTax', 'fee', 'totalAmount', 'statusName'];"
                            class="hover:bg-accent-50 hover:cursor-pointer"></tr>
                    </table>
                    <mat-paginator class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                   [pageSizeOptions]="[10, 25, 50, 100]"
                                   [length]="_dataSourceTranpayInvTransaction?.data.length"
                                   [pageIndex]="0"
                                   [pageSize]="10"
                                   [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </mat-tab>
            <mat-tab label="Lịch sử chuyển nhượng" >
                <article class="prose">
                    <h4>Danh sách lịch sử chuyển nhượng</h4>
                </article>
                <div class="flex flex-col flex-auto p-2 sm:p4 overflow-y-auto">
                    <table mat-table [dataSource]="_dataSourceP2PHistory" *ngIf="_dataSourceP2PHistory?.data.length > 0">
                        <ng-container matColumnDef="index">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    STT
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element; let j = index">
                                <div class="cell-overflow">
                                    {{j + 1}}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="transCode">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Mã giao dịch
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.transCode }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="transCode2">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Lệnh chuyển nhượng
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.fsReqTransP2PDTO?.transCode }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="loanTimeCycle">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Kỳ hạn(ngày)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.fsReqTransP2PDTO?.loanTimeCycle }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="investorTimeExpried">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Ngày đáo hạn
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.fsReqTransP2PDTO.investorTimeExpried | datetimeformat : 'DD/MM/YYYY' }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="createdByName">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Bên nhận chuyển nhượng
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.createdByName}}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="transferAmount">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Số tiền gốc chuyển nhượng (VNĐ)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.transferAmount | currencyFormatPipe : 10 }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="payAmount">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Giá trị chuyển nhượng  (VNĐ)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.payAmount | currencyFormatPipe : 10 }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="transDate">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Ngày giao dịch
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.transDate | datetimeformat : 'DD/MM/YYYY' }}
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row
                            *matHeaderRowDef="['index', 'transCode', 'transCode2', 'loanTimeCycle', 'investorTimeExpried', 'createdByName', 'transferAmount', 'payAmount', 'transDate']"></tr>
                        <tr
                            mat-row
                            *matRowDef="let row; columns: ['index', 'transCode', 'transCode2', 'loanTimeCycle', 'investorTimeExpried', 'createdByName', 'transferAmount', 'payAmount', 'transDate'];"
                            class="hover:bg-accent-50 hover:cursor-pointer"></tr>
                    </table>
                    <mat-paginator class="sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                                   [pageSizeOptions]="[10, 25, 50, 100]"
                                   [length]="0"
                                   [pageIndex]="0"
                                   [pageSize]="10"
                                   [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>
            </mat-tab>
        </mat-tab-group>
        <mat-divider class="pb-5" style="    min-height: 70px;"></mat-divider>
        <div class="flex justify-end px-5 pb-5 absolute inset-x-0 bottom-0">
            <a
                class="ml-auto sm:ml-0"
                mat-stroked-button
                [matTooltip]="'Đóng'"
                (click)="onClose()">
                Đóng
            </a>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
