$columnNames: 'index', 'receiveAdmAccountName', 'transCode', 'createdDate', 'transferAmount', 'payAmount', 'interestEstimate';

@each $name in $columnNames {
    .mat-column-#{$name} {
        padding: 0 12px !important;
        border-top: 1px solid rgba(var(--fuse-border-rgb), var(--tw-border-opacity));
    }
}

.child-table-container {
    //width: calc(100% - 238px);
    //justify-content: flex-end;
}
