<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:px-10 bg-white border-b">
        <div class="flex-1 min-w-0">
            
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10">
                    {{investorType === userType.CA_NHAN ? 'Tạo mới nhà đầu tư cá nhân' : 'Tạo mới nhà đầu tư doanh nghiệp'}}
                </h2>
            </div>
        </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-4 sm:mt-0 sm:ml-4">
            <button class="order-first sm:order-last ml-2" mat-stroked-button (click)="back()">
                    Huỷ
                </button>
               
                <button class="order-first sm:order-last ml-2" mat-flat-button [color]="'primary'" (click)="submit()">
                    Lưu
                </button>
        </div>
    </div>

    <!-- Main -->
    <div
        class="flex-auto p-6 sm:p-10 pt-4 bg-white shadow overflow-y-auto"
        cdkScrollable>

        <!-- CONTENT GOES HERE -->
        <ng-container *ngIf="investorType === userType.CA_NHAN; else businessTemplate">
                <app-personal-investor #personal class="w-full"></app-personal-investor>
            </ng-container>

    </div>

</div>

<ng-template #businessTemplate>
    <app-corporate-investor #corporate class="w-full"></app-corporate-investor>
</ng-template>