<div
    @fadeOutTop
    @slideInTop
    class="mb-5"
    *ngIf="checkDisplayBtnExport">
    <button mat-flat-button color="primary" (click)="onExportTrans()">
        <mat-icon class="mr-2">check</mat-icon>
        Export
    </button>
</div>
<table mat-table [dataSource]="dataSource" class="w-full">
    <ng-container matColumnDef="select" >
        <th class="bg-gray-100" style="width: 15px !important;" mat-header-cell *matHeaderCellDef>
            <mat-checkbox
                (change)="$event ? masterToggle() : null"
                [checked]="selectionTransactionHistory.hasValue() && isAllSelected()"
                [indeterminate]="selectionTransactionHistory.hasValue() && !isAllSelected()"
                color="primary"
            >
            </mat-checkbox>
        </th>
        <td mat-cell style="width: 15px !important;"  *matCellDef="let row">
            <mat-checkbox
                (click)="$event.stopPropagation()"
                (change)="$event ? selectionTransactionHistory.toggle(row) : null"
                [checked]="selectionTransactionHistory.isSelected(row)"
                color="primary"
            >
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="transDate">
        <th mat-header-cell *matHeaderCellDef>
            <div class="cell-overflow table-header">
                Thời gian giao dịch
            </div>
        </th>
        <td mat-cell *matCellDef="let element">
            <div class="cell-overflow">
                {{ element.transDate | datetimeformat : 'DD/MM/YYYY' }}
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>
            <div class="cell-overflow table-header">
                Số tiền giao dịch (VNĐ)
            </div>
        </th>
        <td mat-cell *matCellDef="let element">
            <div class="cell-overflow">
                {{ element.amount | currencyFormatPipe : 10 }}
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="transTypeName">
        <th mat-header-cell *matHeaderCellDef>
            <div class="cell-overflow table-header">
                Loại giao dịch
            </div>
        </th>
        <td mat-cell *matCellDef="let element">
            <div class="cell-overflow">
                {{ element.transTypeName }}
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="fsLoanProfilesId">
        <th mat-header-cell *matHeaderCellDef>
            <div class="cell-overflow table-header">
                Số hồ sơ
            </div>
        </th>
        <td mat-cell *matCellDef="let element">
            <div class="cell-overflow">
                {{ element.fsLoanProfilesId }}
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="transCode">
        <th mat-header-cell *matHeaderCellDef>
            <div class="cell-overflow table-header">
                Mã giao dịch
            </div>
        </th>
        <td mat-cell *matCellDef="let element">
            <div class="cell-overflow">
                {{ element.transCode}}
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="newAmount">
        <th mat-header-cell *matHeaderCellDef>
            <div class="cell-overflow table-header">
                Số dư khả dụng tại thời điểm (VNĐ)
            </div>
        </th>
        <td mat-cell *matCellDef="let element">
            <div class="cell-overflow">
                {{ element.newAmount | currencyFormatPipe : 10 }}
            </div>
        </td>
    </ng-container>
    <tr mat-header-row
        *matHeaderRowDef="[
                                            'select',
                                            'transDate',
                                            'amount',
                                            'transTypeName',
                                            'fsLoanProfilesId',
                                            'transCode',
                                            'newAmount',
                                             ]"></tr>
    <tr mat-row
        *matRowDef="let row; columns: [
                                            'select',
                                            'transDate',
                                            'amount',
                                            'transTypeName',
                                            'fsLoanProfilesId',
                                            'transCode',
                                            'newAmount',
                                                ];"
        class="hover:bg-accent-50 hover:cursor-pointer"></tr>
</table>
<mat-paginator #transHistoryPaginator
               [pageSizeOptions]="pageSizeOptions"
               [length]="dataSource?.data?.length"
               [pageSize]="transHistoryPageSize"
               [showFirstLastButtons]="true">
</mat-paginator>
