<div class="flex flex-col max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-14 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Thay đổi mật khẩu</div>
        <button mat-icon-button [tabIndex]="-1">
            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'" (click)="discard()"></mat-icon>
        </button>
    </div>
    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="changePasswordForm">
        <mat-form-field floatLabel="always">
            <mat-label>Mật khẩu hiện tại</mat-label>
            <input id="passwd" type="password" trim="blur" matInput formControlName="passwd" placeholder="Nhập..."
                #passwordField>
            <button mat-icon-button type="button"
                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                    [svgIcon]="'heroicons_outline:eye-off'"></mat-icon>
                <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                    [svgIcon]="'heroicons_outline:eye'"></mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.get('passwd').invalid">
                {{ getErrorOldPassword() | transloco }}
            </mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always">
            <mat-label>Mật khẩu mới</mat-label>
            <input id="newPasswd" type="password" maxlength="30" trim="blur" placeholder="Nhập..." matInput formControlName="newPasswd"
                #newPasswd  (focus)="isPassFocused = true" (blur)="isPassFocused = false" >
            <button mat-icon-button type="button"
                (click)="newPasswd.type === 'password' ? newPasswd.type = 'text' : newPasswd.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5" *ngIf="newPasswd.type === 'password'"
                    [svgIcon]="'heroicons_outline:eye-off'"></mat-icon>
                <mat-icon class="icon-size-5" *ngIf="newPasswd.type === 'text'"
                    [svgIcon]="'heroicons_outline:eye'"></mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.get('newPasswd').invalid">
                {{ getErrorPassword() | transloco }}
            </mat-error>
            <mat-error
                *ngIf="changePasswordForm.get('newPasswd').touched && changePasswordForm.get('newPasswd').errors?.newIsNotOld">
                {{ 'TKDT014' | transloco }}
            </mat-error>

        </mat-form-field>
        <div class="password-rules mb-1 text-md transition-all duration-200"
            *ngIf="isPassFocused && !( hasMinLength && hasLowerCase && hasUpperCase && hasSpecialChar)">
            <div [ngClass]="hasMinLength ? 'text-green-500' : 'text-[#dc2626]'">
                Ít nhất có 8 ký tự
            </div>
            <div [ngClass]="hasLowerCase ? 'text-green-500' : 'text-[#dc2626]'">
                Có ít nhất một chữ viết thường
            </div>
            <div [ngClass]="hasUpperCase ? 'text-green-500' : 'text-[#dc2626]'">
                Có ít nhất một chữ viết hoa
            </div>
            <div [ngClass]="hasSpecialChar ? 'text-green-500' : 'text-[#dc2626]'">
                Có ít nhất một ký tự đặc biệt (!@#$%^&*?)
            </div>
        </div>
        <mat-form-field floatLabel="always">
            <mat-label>Xác nhận mật khẩu mới</mat-label>
            <input id="reNewPasswd" matInput placeholder="Nhập..." trim="blur" type="password"
                formControlName="reNewPasswd" #reNewPasswd>
            <button mat-icon-button type="button"
                (click)="reNewPasswd.type === 'password' ? reNewPasswd.type = 'text' : reNewPasswd.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5" *ngIf="reNewPasswd.type === 'password'"
                    [svgIcon]="'heroicons_outline:eye-off'"></mat-icon>
                <mat-icon class="icon-size-5" *ngIf="reNewPasswd.type === 'text'"
                    [svgIcon]="'heroicons_outline:eye'"></mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.get('reNewPasswd').invalid">
                {{ getErrorReNewPassword() | transloco }}
            </mat-error>
            <mat-error
                *ngIf="changePasswordForm.get('reNewPasswd').touched && changePasswordForm.get('reNewPasswd').errors?.mustMatch">
                {{ 'TKDT017' | transloco }}
            </mat-error>
        </mat-form-field>
    </form>
    <div class="flex flex-row items-center justify-center gap-3 sm:gap-2 w-auto mb-4 sm:mb-6">
        <button class="w-auto" mat-stroked-button (click)="changePasswordForm.reset()">
            Nhập lại
        </button>
        <button class="w-auto" mat-flat-button [disabled]="!canSubmit" (click)="changePassword()" [color]="'primary'">
            Xác nhận
        </button>
    </div>
</div>