<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8">
        <div class="text-2xl font-medium">Thay đổi mật khẩu</div>
        <button mat-icon-button>
            <mat-icon class=""
                      [svgIcon]="'heroicons_outline:x'"
                      (click)="discard()"
            ></mat-icon>
        </button>
    </div>
    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="changePasswordForm">
        <mat-form-field>
            <mat-label>Mật khẩu hiện tại</mat-label>
            <input id="passwd"
                   type="password"
                   trim="blur"
                   matInput
                   formControlName="passwd"
                   #passwordField>
            <button mat-icon-button
                type="button"
                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5"
                    *ngIf="passwordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                <mat-icon class="icon-size-5"
                    *ngIf="passwordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.get('passwd').invalid">
                {{ getErrorOldPassword() | transloco }}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Mật khẩu mới</mat-label>
            <input id="newPasswd"
                   type="password"
                   trim="blur"
                   matInput
                   formControlName="newPasswd" #newPasswd>
            <button mat-icon-button
                type="button"
                (click)="newPasswd.type === 'password' ? newPasswd.type = 'text' : newPasswd.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5"
                    *ngIf="newPasswd.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                <mat-icon class="icon-size-5"
                    *ngIf="newPasswd.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.get('newPasswd').invalid">
                {{ getErrorPassword() | transloco }}
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('newPasswd').touched && changePasswordForm.get('newPasswd').errors?.newIsNotOld">
                {{ 'TKDT014' | transloco }}
            </mat-error>

        </mat-form-field>
        <mat-form-field>
            <mat-label>Xác nhận mật khẩu mới</mat-label>
            <input id="reNewPasswd"
                   matInput
                   trim="blur"
                   type="password"
                   formControlName="reNewPasswd" #reNewPasswd>
            <button mat-icon-button
                type="button"
                (click)="reNewPasswd.type === 'password' ? reNewPasswd.type = 'text' : reNewPasswd.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5"
                    *ngIf="reNewPasswd.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                <mat-icon class="icon-size-5"
                    *ngIf="reNewPasswd.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
            </button>
            <mat-error *ngIf="changePasswordForm.get('reNewPasswd').invalid">
                {{ getErrorReNewPassword() | transloco }}
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('reNewPasswd').touched && changePasswordForm.get('reNewPasswd').errors?.newMatchesConfirm">
                {{ 'TKDT017' | transloco }}
            </mat-error>
        </mat-form-field>
    </form>
    <div class="flex flex-col sm:flex-row sm:items-center justify-center mb-4 sm:mb-6 pr-8 sm:pr-8">
        <button class="ml-auto sm:ml-0"
                mat-stroked-button
                (click)="changePasswordForm.reset()">
            Nhập lại
        </button>
        <button class="order-first sm:order-last ml-2"
                mat-flat-button
                [disabled]="!canSubmit"
                (click)="changePassword()"
                [color]="'primary'">
            Xác nhận
        </button>
    </div>
</div>
