::ng-deep .borrower-table {
    justify-content: flex-end;
    .mat-table {
        overflow: auto;
        display: grid;
        @media only screen and (min-width: 1441px) {
            display: inline-table;
        }
    }
}