<div class="flex flex-col max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-14 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Thay đổi số điện thoại</div>
        <button mat-icon-button [tabIndex]="-1">
            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'" (click)="discard()"></mat-icon>
        </button>
    </div>
    <form class="flex flex-col flex-auto p-6 sm:p-8 pb-2 sm:pb-4 overflow-y-auto" [formGroup]="changeMobile">
        <mat-form-field @fadeOutLeft @slideInLeft *ngIf="changeMobileStep == 0">
            <mat-label>Số điện thoại cũ</mat-label>
            <input id="mobile" [tabIndex]="-1" readonly matInput formControlName="mobile">

        </mat-form-field>
        <mat-form-field floatLabel="always" @fadeOutLeft @slideInLeft *ngIf="changeMobileStep == 1">
            <mat-label>Số điện thoại mới</mat-label>
            <input id="newMobile" matInput placeholder="Nhập số điện thoại..." inputMask maskType="number"
                maxlength="11" formControlName="mobile">

            <mat-error *ngIf="changeMobile.get('mobile').touched && changeMobile.get('mobile').hasError('required')">
                {{ 'QLNV013' | transloco }}
            </mat-error>
            <mat-error *ngIf="changeMobile.get('mobile').touched
             && (changeMobile.get('mobile').hasError('minlength')
              || changeMobile.get('mobile').hasError('maxlength')
              || changeMobile.get('mobile').hasError('forbiddenPhoneNumber'))">
                {{ 'QLNV014' | transloco }}
            </mat-error>
        </mat-form-field>

    </form>
    <div class="flex flex-row items-center justify-center mb-4 sm:mb-6">
        <div class="flex items-center justify-center mt-0">
            <button class="w-auto" *ngIf="changeMobileStep == 0" mat-flat-button (click)="verifyContactInfo()" color="primary">
            Gửi OTP
            </button>
            <button *ngIf="changeMobileStep == 1" mat-flat-button (click)="changeContactInfo()" color="primary">
                Xác nhận
            </button>
        </div>
    </div>

</div>