<mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
    <mat-drawer
        class="w-full sm:w-100"
        [mode]="'side'"
        [opened]="false"
        [position]="'end'"
        #fileDrawer>
        <file-detail
            [fileDrawer]="fileDrawer"
            [selectedFile]="selectedFile"
        ></file-detail>
    </mat-drawer>

    <mat-drawer-content class="flex flex-col overflow-hidden">
        <ng-container>
            <div class="relative w-full px-5">
                <div class="flex items-center justify-between w-full mx-auto py-2">
                    <article class="w-2/4 prose break-words">
                        <h3>
                            Thông tin cấu hình biểu mẫu
                        </h3>
                    </article>
                    <div class="flex items-center justify-end">
                        <button (click)="onClose()"
                                mat-stroked-button>
                            Đóng
                        </button>
                        <button @fadeInRight
                                mat-flat-button
                                color="primary"
                                class="ml-5"
                                (click)="submit()">
                            Cập nhật
                        </button>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="(configDetail | async) as configDetailDTO">
                <div class="p-5 flex flex-col overflow-y-auto"
                     *ngIf="configDetailDTO">
                        <fuse-card class="flex flex-col px-8 p-8">
                            <h3 class="font-semibold">Thông tin biểu mẫu</h3>
                            <div class="w-full flex gap-5 p-5 ">
                                <article class="w-1/2 prose break-words">
                                    <p>Tên biểu mẫu<br><b>{{configDetailDTO.admDocumentConfigName}}</b></p>
                                </article>
                                <article class="prose break-words">
                                    <p>File biểu mẫu: {{finDocumentsId?.docName}}
                                        <br> <a href="javascript:void(0)"
                                                              (click)="clickViewImage(configDetailDTO.fileId)">Xem
                                        file</a></p>
                                </article>
                            </div>
                            <div class="w-full flex gap-5 p-5 ">
                                <app-dropzone
                                    styleClass="w-full max-h-15"
                                    topTitle="Tải lên biểu mẫu"
                                    title="Tải tệp lên"
                                    [maxFile]="1"
                                    [formGroup]="configDocumentForm"
                                    [removeValue]="isRemoved"
                                    [isRequired]="true"
                                    requiredMsg="CHBM016"
                                    [maxFileSize]="10"
                                    sizeMsg="CHBM013"
                                    field="fileId"
                                ></app-dropzone>
                            </div>
                        </fuse-card>
                        <fuse-card class="flex flex-col  pb-6">
                            <div class="mt-5">
                                <div class="w-full flex gap-5 p-5 ">
                                    <article class="w-1/2 prose break-words">
                                        <p>Người lập<br>
                                            <b>{{configDetailDTO.createdByName}}</b>
                                        </p>
                                    </article>
                                    <article class="w-1/2 prose break-words">
                                        <p>Ngày lập<br>
                                            <b>{{configDetailDTO.createdDate | datetimeformat: 'DD/MM/YYYY'}}</b>
                                        </p>
                                    </article>
                                </div>
                                <div class="w-full flex gap-5 p-5 ">
                                    <article class="w-1/2 prose break-words">
                                        <p>Người cập nhật<br>
                                            <b>{{configDetailDTO.lastUpdatedByName}}</b>
                                        </p>
                                    </article>
                                    <article class="w-1/2 prose break-words">
                                        <p>Ngày cập nhật<br>
                                            <b>{{configDetailDTO.lastUpdatedDate | datetimeformat: 'DD/MM/YYYY'}}</b>
                                        </p>
                                    </article>
                                </div>
                            </div>
                        </fuse-card>
                </div>
            </ng-container>
        </ng-container>
    </mat-drawer-content>
</mat-drawer-container>
