<div class="flex flex-col max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-14 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Nhập địa chỉ</div>
        <button mat-icon-button tabindex="-1">
            <mat-icon class="text-current" mat-dialog-close [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <div class="flex flex-col flex-auto p-6 sm:p-8 pb-2 overflow-y-auto" [formGroup]="formGroup">
        <div mat-dialog-content class="flex flex-col">
            <!-- Province -->
            <mat-form-field class="w-full" floatLabel="always">
                <mat-label>Tỉnh/Thành phố</mat-label>
                <input type="text" matInput placeholder="Chọn Tỉnh/Thành phố" [formControl]="provinceFormControl"
                    [matAutocomplete]="autoProvince" (blur)="onProvinceBlur()" />
                <mat-autocomplete #autoProvince="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="loadDistrict()">
                    <mat-option *ngFor="let province of filteredProvinces" [value]="province">
                        {{ province.categoriesName }}
                    </mat-option>
                    <mat-option *ngIf="filteredProvinces.length === 0 && provinceFormControl.value" disabled>
                        Không tìm thấy tỉnh/thành phố
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="provinceFormControl.invalid">{{ message.form.errors.required }}</mat-error>
            </mat-form-field>

            <!-- District -->
            <mat-form-field class="w-full" floatLabel="always">
                <mat-label>Quận/Huyện</mat-label>
                <input type="text" matInput placeholder="Chọn Quận/Huyện" [formControl]="districtFormControl"
                    [matAutocomplete]="autoDistrict" (blur)="onDistrictBlur()" />
                <mat-autocomplete #autoDistrict="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="loadCommune()">
                    <mat-option *ngFor="let district of filteredDistricts" [value]="district">
                        {{ district.categoriesName }}
                    </mat-option>
                    <mat-option *ngIf="filteredDistricts.length === 0 && districtFormControl.value" disabled>
                        Không tìm thấy quận/huyện
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="districtFormControl.invalid">{{ message.form.errors.required }}</mat-error>
            </mat-form-field>

            <!-- Commune -->
            <mat-form-field class="w-full" floatLabel="always">
                <mat-label>Xã/Phường</mat-label>
                <input type="text" matInput placeholder="Chọn Xã/Phường" [formControl]="communeFormControl"
                    [matAutocomplete]="autoCommune" (blur)="onCommuneBlur()" />
                <mat-autocomplete #autoCommune="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let commune of filteredCommunes" [value]="commune">
                        {{ commune.categoriesName }}
                    </mat-option>
                    <mat-option *ngIf="filteredCommunes.length === 0 && communeFormControl.value" disabled>
                        Không tìm thấy xã/phường
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="communeFormControl.invalid">{{ message.form.errors.required }}</mat-error>
            </mat-form-field>

            <!-- Street -->
            <mat-form-field class="w-full" floatLabel="always">
                <mat-label>Địa chỉ chi tiết</mat-label>
                <input matInput formControlName="street" placeholder="Số nhà, tên đường..." />
                <mat-error *ngIf="streetAddressFormControl.invalid">{{ message.form.errors.required }}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row items-center justify-center mb-4 sm:mb-6">
        <div class="flex items-center mt-0 gap-4">
            <button mat-stroked-button (click)="resetForm()">
                Nhập lại
            </button>
            <button mat-flat-button color="primary" (click)="onSubmit()" cdkFocusInitial>
                Xác nhận
            </button>
        </div>
    </div>
</div>