<mat-drawer-container
    class="flex-auto h-full bg-card dark:bg-transparent">
    <!-- Sidebar drawer -->
    <mat-drawer
        class="w-60"
        [mode]="'side'"
        [opened]="true"
        [position]="'start'"
        [disableClose]="true"
        #sidebarDrawer>
        <fuse-vertical-navigation
            [appearance]="'default'"
            [navigation]="menuData"
            [inner]="true"
            [mode]="'side'"
            [name]="'sidebar-navigation'"
            [opened]="true"></fuse-vertical-navigation>
    </mat-drawer>
    <mat-drawer-content class="flex flex-col">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<!--

<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <div class="flex flex-auto overflow-hidden">
        <div class="relative flex flex-auto w-full bg-card dark:bg-transparent">
            <mat-drawer-container class="flex-auto h-full" [hasBackdrop]="false">
                <mat-drawer class="w-80" mode="side" opened>
                    <div
                        class="relative flex flex-auto flex-col w-full min-w-0 lg:min-w-80 lg:max-w-80 bg-card dark:bg-transparent border-r border-solid">
                        <div class="flex-auto overflow-y-auto">
                            <fuse-vertical-navigation
                                [appearance]="'default'"
                                [navigation]="menuData"
                                [inner]="true"
                                [mode]="'side'"
                                [name]="'sidebar-navigation'"
                                [opened]="true"></fuse-vertical-navigation>
                        </div>
                    </div>
                </mat-drawer>
                <mat-drawer-content class="flex flex-col">
                    <div class="border-b relative p-6 flex items-center justify-between bg-white">
                        <h3 class="leading-tight text-2xl mt-0 uppercase font-bold">
                            {{ titlePage }}
                        </h3>
                        <div class="flex">
                            <button
                                *ngIf="authService.authenticatedUser.type === 1"
                                mat-flat-button
                                color="primary"
                                (click)="changeIdentification()"
                            >
                                Thay đổi CCCD/Hộ Chiếu
                            </button>
                            <button
                                *ngIf="authService.authenticatedUser.type === 2"
                                mat-flat-button
                                color="primary"
                                (click)="changeBusinessLicense()"
                            >
                                Thay đổi GPKD
                            </button>
                        </div>
                    </div>
                    <router-outlet></router-outlet>
                </mat-drawer-content>
            </mat-drawer-container>
        </div>
    </div>
</div>
-->
