/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
.mat-form-field-required-marker {
    color: red;
}

.mat-form-field-label {
    color: red;

    &.mat-accent,
    .mat-form-field-required-marker {
        color: red;
    }
}

.mat-focused .mat-form-field-required-marker {
    color: red!important;
}

.checkbox-invalid {
    .mat-checkbox-inner-container {
        .mat-checkbox-persistent-ripple {
            opacity: .04;
        }
    }
}

.input-search-mat-select {
    width: 100%;
    height: 40px;
    padding: 0 16px;
}

.searchSelectPanel {
    margin-top: -14px;
}

.mat-header-cell {
    color: #1E293B !important;
    font-weight: bold !important;
}
