table {
    width: 100%;

    .mat-column-select {
        width: 10%;
        text-align: center;
    }

    .mat-column-module {
        width: 30%;
    }

    .mat-column-_VIEW,
    .mat-column-_VIEW_DETAIL,
    .mat-column-_INSERT,
    .mat-column-_UPDATE,
    .mat-column-_DELETE,
    .mat-column-_EXPORT,
    .mat-column-_ASSIGN,
    .mat-column-_APPROVE {
        width: 10%;
        text-align: center;
    }
}
