<div class="flex flex-col flex-1 items-center justify-center p-4 h-full min-w-0 w-screen">
    <div class="w-full text-center">
        <img alt="operator" style="margin: auto auto 1.3rem; width: 200px"
             src="assets/images/demo-content/approve-image.jpg">
        <h2 class="prose-headings:h2 text-slate-500 uppercase mb-4 font-bold text-[24px]">bạn đã hoàn thành xác minh thông tin tài khoản</h2>
        <h4 class="prose-headings:h4 text-slate-500 uppercase mb-4">
            <p>Chúc mừng bạn đã hoàn thành form KYC thông tin! Hồ sơ của bạn sẽ được xem xét và xét duyệt.</p>
            <p>Chúng tôi sẽ thông báo cho bạn nếu có bất kỳ cập nhật hay thay đổi mới đối với hồ sơ của bạn</p>
        </h4>
    </div>
</div>
