<h3 class=" text-xl text-black text-start font-bold">
    Ảnh đại diện
</h3>
<div [class]="styleClass" class="relative w-full h-60 mx-auto">
    <!-- Avatar -->
    <div *ngIf="previewAvatar?.contentBase64" [@zoomIn]
        class="w-full h-full max-h-[300px] rounded-lg border border-primary-grayLight-2 bg-primary-grayNeutral-5 flex items-center justify-center overflow-hidden py-2">

        <img [src]="getSafeImageUrl(previewAvatar.contentBase64)" alt="Avatar"
            class="w-[220px] h-auto max-h-full object-contain rounded-md" />
    </div>

    <div *ngIf="!previewAvatar?.contentBase64"
        class="w-full h-full rounded-lg border border-primary-grayLight-2 bg-primary-grayNeutral-5 bg-center bg-contain bg-no-repeat"
        [ngStyle]="{
      'background-image': 'url(assets/images/icon/user-avatar.svg)'
    }"></div>

    <!-- Button chọn ảnh -->
    <ng-container *ngIf="showFileButton">
        <button type="button"
            class="absolute bottom-2 right-2 px-2 py-1 flex items-center gap-1 bg-white text-black rounded shadow-sm"
            (click)="fileInput.click()">
            <mat-icon class="text-black icon-size-3.5" svgIcon="heroicons_outline:camera"></mat-icon> Chọn ảnh
        </button>
        <input type="file" class="hidden" #fileInput accept="image/png, image/jpg, image/jpeg"
            (change)="uploadFile($event)" />
    </ng-container>

    <!-- Lỗi validate -->
    <mat-error *ngIf="showFileButton && formGroup.get(this.field)?.hasError('validateFileSize')"
        class="text-center mt-1 block">
        {{ 'TKDT144' | transloco }}
    </mat-error>
</div>