<h1 mat-dialog-title
    class="flex flex-row justify-between align-center" xmlns="http://www.w3.org/1999/html">
    Mật khẩu mới
    <button mat-icon-button>
        <mat-icon class="text-current"
                  [svgIcon]="'heroicons_outline:x'"
                  (click)="discard()"></mat-icon>
    </button>
</h1>
<div mat-dialog-content
     class="flex flex-col w-full"
     [formGroup]="changePasswordForm">
    <div class="w-full flex flex-row gap-3 align-center  pb-6">
        <mat-label class="w-1/3">Mật khẩu mới</mat-label>
        <div class="w-3/4">
            <mat-form-field class="w-full">
                <input id="newPasswd"
                       matInput
                       trim="blur"
                       maxlength="50"
                       type="password"
                       formControlName="newPasswd"
                       #newPasswd>
                <button mat-icon-button
                        type="button"
                        (click)="newPasswd.type === 'password' ? newPasswd.type = 'text' : newPasswd.type = 'password'"
                        matSuffix>
                    <mat-icon class="icon-size-5"
                              *ngIf="newPasswd.type === 'password'"
                              [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    <mat-icon class="icon-size-5"
                              *ngIf="newPasswd.type === 'text'"
                              [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                </button>
            </mat-form-field>
            <mat-error *ngIf="changePasswordForm.get('newPasswd').invalid">
                {{ getErrorPassword() | transloco }}
            </mat-error>
        </div>
    </div>
    <div class="w-full flex flex-row gap-3 align-center pb-6">
        <mat-label class="w-1/3">Nhập lại mật khẩu mới</mat-label>
        <div class="w-3/4">
            <mat-form-field class="w-full">
                <input id="reNewPasswd"
                       matInput
                       trim="blur"
                       type="password"
                       formControlName="reNewPasswd"
                       #reNewPasswd>
                <button mat-icon-button
                        type="button"
                        (click)="reNewPasswd.type === 'password' ? reNewPasswd.type = 'text' : reNewPasswd.type = 'password'"
                        matSuffix>
                    <mat-icon class="icon-size-5"
                              *ngIf="reNewPasswd.type === 'password'"
                              [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    <mat-icon class="icon-size-5"
                              *ngIf="reNewPasswd.type === 'text'"
                              [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                </button>
            </mat-form-field>
            <mat-error *ngIf="changePasswordForm.get('reNewPasswd').invalid">
                {{ getErrorReNewPassword() | transloco }}
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('reNewPasswd').touched && changePasswordForm.get('reNewPasswd').errors?.newMatchesConfirm">
                {{ 'TKDT017' | transloco }}
            </mat-error>
        </div>
    </div>
</div>
<div mat-dialog-actions
     class="flex flex-row justify-center">
    <button mat-stroked-button
            (click)="discard()"
            cdkFocusInitial>Huỷ</button>
    <button mat-flat-button
            (click)="submit()"
            color="primary"
            cdkFocusInitial>Lưu</button>
</div>
