<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

<mat-drawer-container
    class="flex-auto h-full bg-white">
    <!-- Sidebar drawer -->
    <mat-drawer
        class="w-80"
        [mode]="isMobile ? 'over' : 'side'"
        [opened]="!isMobile"
        [position]="'start'"
        [disableClose]="!isMobile"
        #sidebarDrawer>
        <fuse-vertical-navigation
            [appearance]="'default'"
            [navigation]="menuData"
            [inner]="true"
            [mode]="'side'"
            [name]="'sidebar-navigation'"
            [opened]="true"></fuse-vertical-navigation>
    </mat-drawer>
    <!-- Detail drawer -->
    <mat-drawer
        class="w-6/12"
        [mode]="'side'"
        [opened]="false"
        [position]="'end'"
        [disableClose]="true"
        #detailDrawer>
    </mat-drawer>
    <mat-drawer-content class="flex flex-col">
        <button *ngIf="isMobile" mat-icon-button (click)="sidebarDrawer.toggle()" class="ml-4 mt-4">
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
</div>

