<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto p-6 sm:p-8 bg-white" cdkScrollable>
    <!-- Header -->
    <div class="flex items-center gap-3 mb-6">
        <div *ngIf="avatar" class="w-16 h-16 rounded-full overflow-hidden bg-gray-100 flex items-center justify-center">
            <img [src]="avatar" alt="avatar" class="object-cover w-full h-full">
        </div>
        <div *ngIf="!avatar"
            style="background: linear-gradient(106.46deg, #2854F2 18.36%, #394EE4 27.43%, #6641C1 42.73%, #BA219D 65.37%, #FF6C0E 92.94%);"
            class="w-16 h-16 rounded-full text-white flex items-center justify-center text-3xl font-medium">
            {{ getInitials(user.fullName) }}
        </div>
        <div>
            <p class="text-gray-700 ">
                Chào mừng bạn trở lại, <br><span class="font-semibold text-xl"> {{ user.fullName }}</span>
            </p>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto">
        <div class="w-full mx-auto">
            <mat-tab-group>
                <mat-tab [label]="dashboardDTO.tab1?.tabTitle" *ngIf="dashboardDTO?.tab1">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                            <div style="background: linear-gradient(106.46deg, #2854F2 18.36%, #394EE4 27.43%, #6641C1 42.73%, #BA219D 65.37%, #FF6C0E 92.94%);"
                                *ngFor="let dashboardPanelDTO of dashboardDTO.tab1.lstDasboad;"
                                class="relative rounded text-white p-6 flex flex-col flex-auto">
                                <img src="assets/images/logo/logo-white.svg" alt="logo"
                                    class="absolute top-4 right-4 w-6 h-6" />

                                <div class="flex flex-col item-center justify-start">
                                    <div class="text-lg font-semibold tracking-wide uppercase opacity-90">
                                        {{dashboardPanelDTO.title}}
                                    </div>

                                    <div class="flex gap-2 items-center justify-start mt-2">
                                        <div class="text-2xl sm:text-2xl font-bold tracking-tight leading-none ">
                                            {{ dashboardPanelDTO.mainType == 'currency' ?
                                            (dashboardPanelDTO.mainNumber | currencyFormatPipe : 10) :
                                            dashboardPanelDTO.mainNumber}}</div>
                                        <div class="text-lg font-medium ">{{dashboardPanelDTO.mainSuffix}}</div>
                                    </div>
                                    <div class="text-xl font-bold mt-2" *ngIf="dashboardPanelDTO.secondTitle">
                                        {{dashboardPanelDTO.secondTitle}} : {{ dashboardPanelDTO.secondType ==
                                        'currency' ? (dashboardPanelDTO.secondNumber | currencyFormatPipe : 10) :
                                        dashboardPanelDTO.secondNumber}} {{dashboardPanelDTO.secondSuffix}}
                                    </div>

                                    <div class="flex items-center space-x-2 mt-4 opacity-70">
                                        <img src="assets/images/logo/logo-white.svg" alt="logo" class="w-6 h-6" />
                                        <span class="text-lg font-bold tracking-widest">LINKFIIN</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab [label]="dashboardDTO.tab2?.tabTitle" *ngIf="dashboardDTO?.tab2">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                            <div style="background: linear-gradient(106.46deg, #2854F2 18.36%, #394EE4 27.43%, #6641C1 42.73%, #BA219D 65.37%, #FF6C0E 92.94%);"
                                *ngFor="let dashboardPanelDTO of dashboardDTO.tab2.lstDasboad;"
                                class="relative rounded text-white p-6 flex flex-col flex-auto">
                                <img src="assets/images/logo/logo-white.svg" alt="logo"
                                    class="absolute top-4 right-4 w-6 h-6" />

                                <div class="flex flex-col item-center justify-start">
                                    <div class="text-lg font-semibold tracking-wide uppercase opacity-90">
                                        {{dashboardPanelDTO.title}}
                                    </div>

                                    <div class="flex gap-2 items-center justify-start mt-2">
                                        <div class="text-2xl sm:text-2xl font-bold tracking-tight leading-none ">
                                            {{ dashboardPanelDTO.mainType == 'currency' ?
                                            (dashboardPanelDTO.mainNumber | currencyFormatPipe : 10) :
                                            dashboardPanelDTO.mainNumber}}</div>
                                        <div class="text-lg font-medium ">{{dashboardPanelDTO.mainSuffix}}</div>
                                    </div>
                                    <div class="text-xl font-bold mt-2" *ngIf="dashboardPanelDTO.secondTitle">
                                        {{dashboardPanelDTO.secondTitle}} : {{ dashboardPanelDTO.secondType ==
                                        'currency' ? (dashboardPanelDTO.secondNumber | currencyFormatPipe : 10) :
                                        dashboardPanelDTO.secondNumber}} {{dashboardPanelDTO.secondSuffix}}
                                    </div>

                                    <div class="flex items-center space-x-2 mt-4 opacity-70">
                                        <img src="assets/images/logo/logo-white.svg" alt="logo" class="w-6 h-6" />
                                        <span class="text-lg font-bold tracking-widest">LINKFIIN</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </ng-template>
                </mat-tab>
                <mat-tab [label]="dashboardDTO.tab3?.tabTitle" *ngIf="dashboardDTO?.tab3">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">

                            <div style="background: linear-gradient(106.46deg, #2854F2 18.36%, #394EE4 27.43%, #6641C1 42.73%, #BA219D 65.37%, #FF6C0E 92.94%);"
                                *ngFor="let dashboardPanelDTO of dashboardDTO.tab3.lstDasboad;"
                                class="relative rounded text-white p-6 flex flex-col flex-auto">
                                <img src="assets/images/logo/logo-white.svg" alt="logo"
                                    class="absolute top-4 right-4 w-6 h-6" />

                                <div class="flex flex-col item-center justify-start">
                                    <div class="text-lg font-semibold tracking-wide uppercase opacity-90">
                                        {{dashboardPanelDTO.title}}
                                    </div>

                                    <div class="flex gap-2 items-center justify-start mt-2">
                                        <div class="text-2xl sm:text-2xl font-bold tracking-tight leading-none ">
                                            {{ dashboardPanelDTO.mainType == 'currency' ?
                                            (dashboardPanelDTO.mainNumber | currencyFormatPipe : 10) :
                                            dashboardPanelDTO.mainNumber}}</div>
                                        <div class="text-lg font-medium ">{{dashboardPanelDTO.mainSuffix}}</div>
                                    </div>
                                    <div class="text-xl font-bold mt-2" *ngIf="dashboardPanelDTO.secondTitle">
                                        {{dashboardPanelDTO.secondTitle}} : {{ dashboardPanelDTO.secondType ==
                                        'currency' ? (dashboardPanelDTO.secondNumber | currencyFormatPipe : 10) :
                                        dashboardPanelDTO.secondNumber}} {{dashboardPanelDTO.secondSuffix}}
                                    </div>

                                    <div class="flex items-center space-x-2 mt-4 opacity-70">
                                        <img src="assets/images/logo/logo-white.svg" alt="logo" class="w-6 h-6" />
                                        <span class="text-lg font-bold tracking-widest">LINKFIIN</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto mt-5 pb-20">
                            <div class="flex flex-col flex-auto">
                                <apx-chart class="flex-auto w-full h-80" [chart]="chartConfigSales.chart"
                                    [colors]="chartConfigSales.colors" [dataLabels]="chartConfigSales.dataLabels"
                                    [grid]="chartConfigSales.grid" [labels]="chartConfigSales.labels"
                                    [legend]="chartConfigSales.legend" [plotOptions]="chartConfigSales.plotOptions"
                                    [series]="chartConfigSales.series" [states]="chartConfigSales.states"
                                    [stroke]="chartConfigSales.stroke" [tooltip]="chartConfigSales.tooltip"
                                    [xaxis]="chartConfigSales.xaxis" [yaxis]="chartConfigSales.yaxis"
                                    [title]="chartConfigSales.title" [markers]="chartConfigSales.markers"></apx-chart>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto mt-5 pb-10">
                            <div class="flex flex-col flex-auto">
                                <apx-chart class="flex-auto w-full h-80" [chart]="chartConfigAccount.chart"
                                    [colors]="chartConfigAccount.colors" [dataLabels]="chartConfigAccount.dataLabels"
                                    [grid]="chartConfigAccount.grid" [labels]="chartConfigAccount.labels"
                                    [legend]="chartConfigAccount.legend" [plotOptions]="chartConfigAccount.plotOptions"
                                    [series]="chartConfigAccount.series" [states]="chartConfigAccount.states"
                                    [stroke]="chartConfigAccount.stroke" [tooltip]="chartConfigAccount.tooltip"
                                    [xaxis]="chartConfigAccount.xaxis" [yaxis]="chartConfigAccount.yaxis"
                                    [title]="chartConfigAccount.title"
                                    [markers]="chartConfigAccount.markers"></apx-chart>
                            </div>
                        </div>
                        <div class="flex flex-col flex-auto mt-5 pb-10">
                            <div class="flex flex-col flex-auto">
                                <apx-chart class="flex-auto w-full h-80" [chart]="chartConfigPay.chart"
                                    [colors]="chartConfigPay.colors" [dataLabels]="chartConfigPay.dataLabels"
                                    [grid]="chartConfigPay.grid" [labels]="chartConfigPay.labels"
                                    [legend]="chartConfigPay.legend" [plotOptions]="chartConfigPay.plotOptions"
                                    [series]="chartConfigPay.series" [states]="chartConfigPay.states"
                                    [stroke]="chartConfigPay.stroke" [tooltip]="chartConfigPay.tooltip"
                                    [xaxis]="chartConfigPay.xaxis" [yaxis]="chartConfigPay.yaxis"
                                    [title]="chartConfigPay.title" [markers]="chartConfigPay.markers"></apx-chart>
                            </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>