<div class="flex flex-col max-w-240 md:min-w-160 -m-6" style="max-height: 90vh">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Tạo ghi nhận xử lý công nợ</div>
        <button mat-icon-button>
            <mat-icon class="text-current"
                      [svgIcon]="'heroicons_outline:x'"
                      (click)="closeDialog()"></mat-icon>
        </button>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="formGroup">
        <mat-form-field class="w-full">
            <mat-label>Tên ghi nhận xử lý công nợ</mat-label>
            <input
                matInput
                formControlName="name"
                id="name"
            >
            <mat-error *ngIf="formGroup.get('name').hasError('required')">
                {{ 'QLCN014' | transloco }}
            </mat-error>
            <mat-error *ngIf="formGroup.get('name').hasError('maxlength')">
                {{ 'QLCN015' | transloco }}
            </mat-error>
        </mat-form-field>
        <mat-form-field
            class="w-full">
            <mat-label>Đợt giải ngân</mat-label>
            <mat-select formControlName="fsCardDownIds" multiple>
                <mat-option
                    *ngFor="let fsCardDownDTO of data.lstFsCardDown"
                    [value]="fsCardDownDTO.fsCardDownId"
                    class="min-h-15"
                >
                    {{fsCardDownDTO.transCode}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('fsCardDownIds').hasError('required')">
                {{ 'QLCN001' | transloco }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-span-2">
            <mat-label>Nội dung</mat-label>
            <textarea id="processingContent"
                      matInput
                      maxlength="500"
                      value=""
                      formControlName="processingContent"></textarea>

            <mat-error *ngIf="formGroup.get('processingContent').hasError('required')">
                {{ 'QLCN005' | transloco }}
            </mat-error>
            <mat-error *ngIf="formGroup.get('processingContent').hasError('maxlength')">
                {{ 'QLCN006' | transloco }}
            </mat-error>
        </mat-form-field>
        <div class="w-full mb-4">
            <app-dropzone
                topTitle="File đính kèm"
                title="Tải tệp lên"
                styleClass="h-12 mt-[3px]"
                class="w-full"
                previewClass="max-w-fit w-full"
                [formGroup]="formGroup"
                field="finDocumentsId"
                [isRequired]="true"
                [multiple]="true"
                [maxFile]="10"
                [maxFileSize]="10"
                requiredMsg="QLCN007"
                typeMsg="QLCN017"
                sizeMsg="QLCN018"
            ></app-dropzone>
        </div>
        <div class="flex flex-row w-full gap-4">
            <mat-form-field class="w-1/2">
                <mat-label>Ngày tạo</mat-label>
                <input id="createdDate"
                       matInput
                       readonly
                       formControlName="createdDate">
            </mat-form-field>
            <mat-form-field class="w-1/2">
                <mat-label>Người tạo</mat-label>
                <input id="createdByName"
                       matInput
                       readonly
                       formControlName="createdByName">
            </mat-form-field>
        </div>
        <!--<div class="flex flex-row w-full gap-4">
            <mat-form-field class="w-1/2">
                <mat-label>Ngày cập nhật</mat-label>
                <input id="lastUpdatedDate"
                       matInput
                       readonly
                       formControlName="lastUpdatedDate">
            </mat-form-field>
            <mat-form-field class="w-1/2">
                <mat-label>Người cập nhật</mat-label>
                <input id="lastUpdatedByName"
                       matInput
                       readonly
                       formControlName="lastUpdatedByName">
            </mat-form-field>
        </div>-->
    </div>

    <!-- Action -->
    <div class="flex flex-col sm:flex-row sm:items-center justify-end mb-4 sm:mb-6 pr-8 sm:pr-8">
        <div class="flex items-center mt-4 sm:mt-0">
            <button class="ml-2"
                    mat-stroked-button
                    (click)="closeDialog()"
            >
                Đóng
            </button>
            <button
                mat-flat-button
                color="primary"
                class="ml-2"
                (click)="onSubmit()"
            >
                Lưu
            </button>
        </div>
    </div>
</div>
