<mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent">
    <mat-drawer class="w-full sm:w-100" [mode]="'side'" [opened]="false" [position]="'end'" #fileDrawer>
        <file-detail [fileDrawer]="fileDrawer" [selectedFile]="selectedFile"></file-detail>
    </mat-drawer>

    <mat-drawer-content class="flex flex-col">
        <div class="w-full px-5">
            <div class="flex items-center justify-between w-full mx-auto pt-3 pb-2">
                <article class="w-full prose break-words py-3">
                    <h3 class="flex flex-col sm:flex-row items-start sm:items-center justify-start gap-3 w-full">
                        <span (click)="onClose()"
                            class="text-primary-grayNeutral-1 flex items-center justify-center gap-1 text-sm cursor-pointer">
                            <mat-icon class="icon-size-5 text-primary-grayNeutral-1"
                                svgIcon="heroicons_outline:chevron-left"></mat-icon>
                            Quay lại
                        </span>
                        Chi tiết yêu cầu thay đổi thông tin
                    </h3>
                </article>
                <div class="flex items-center justify-end">
                    <button @fadeInRight *ngIf="detail?.status === 1 && ('SFF_CHANGE_ID_APPROVE' | permission)"
                        (click)="onClickApprove()" mat-flat-button color="primary" class="ml-5">
                        Xử lý yêu cầu
                    </button>
                </div>
            </div>
        </div>
        <div class="px-5 flex flex-col" [formGroup]="accountInfoForm">
            <div class="flex flex-col flex-auto w-full border border-primary-grayLight-2 rounded-lg p-4 mb-6">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-4">
                    <mat-form-field>
                        <mat-label>Mã yêu cầu</mat-label>
                        <input id="transCode" matInput [readonly]="true" formControlName="transCode">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Loại yêu cầu</mat-label>
                        <input id="type" [disabled]="true" matInput [readonly]="true" formControlName="type">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Người yêu cầu</mat-label>
                        <input id="createdByName" matInput [readonly]="true" formControlName="createdByName">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Ngày yêu cầu</mat-label>
                        <input id="createdDate" matInput [readonly]="true" formControlName="createdDate">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Người xử lý</mat-label>
                        <input id="approvalBy" matInput [readonly]="true" formControlName="approvalByName">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Ngày xử lý</mat-label>
                        <input id="approvalDate" matInput [readonly]="true" formControlName="approvalDate">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Trạng thái</mat-label>
                        <input id="statusName" matInput [readonly]="true" formControlName="statusName">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Nội dung xử lý</mat-label>
                        <input id="approvalInfo" matInput [readonly]="true" formControlName="approvalInfo">
                    </mat-form-field>
                </div>
            </div>
            <div class="flex flex-col flex-auto w-full border border-primary-grayLight-2 rounded-lg mb-8">
                <article class="prose break-words p-4">
                    <h3>
                        Nội dung yêu cầu
                    </h3>
                </article>
                <div class="w-full grid grid-cols-1 sm:grid-cols-3 border-t">
                    <article class="prose break-words p-3 text-start border-b hidden sm:block">
                        <h4>
                            Nội dung thay đổi
                        </h4>
                    </article>
                    <article class="prose break-words p-3 text-start  border-b border-solid hidden sm:block">
                        <h4>
                            Thông tin cũ
                        </h4>
                    </article>
                    <article class="prose break-words p-3 text-start border-b border-solid hidden sm:block">
                        <h4>
                            Thông tin mới
                        </h4>
                    </article>
                    <ng-container [ngSwitch]="detail?.type">
                        <ng-container *ngSwitchCase="2">
                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <!-- <span class="sm:hidden"> Nội dung thay đổi:</span> -->
                                <h6> Địa chỉ (Theo GPKD) </h6>
                            </article>
                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <span class="sm:hidden font-semibold">Thông tin cũ:</span>
                                <span> {{ detail?.oldAccountDetailDTO.address3 }} </span>
                            </article>
                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <span class="sm:hidden font-semibold">Thông tin mới:</span>
                                <span> {{ detail?.newAccountDetailDTO.address3 }} </span>
                            </article>
                            <article class="prose break-words p-3 text-start border-b sm:border-none border-solid">
                                <h6> Ảnh GPKD </h6>
                            </article>
                            <article class="prose break-words p-3 text-start border-solid">
                                <span class="sm:hidden font-semibold mr-1.5">Thông tin cũ:</span>
                                    <a href="javascript:void(0)"
                                        (click)="clickViewImage(detail?.oldAccountDetailDTO.photoOfBusiness )">Xem
                                        file
                                    </a>
                            </article>
                            <article class="prose break-words p-3 text-start border-solid">
                                <span class="sm:hidden font-semibold mr-1.5">Thông tin mới:</span>
                                    <a href="javascript:void(0)"
                                        (click)="clickViewImage(detail?.newAccountDetailDTO.photoOfBusiness )">Xem
                                        file</a>
                            </article>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <h6> CCCD/Hộ chiếu </h6>
                            </article>
                            <article class="prose break-words p-3 text-start  border-b border-solid">
                                <span class="sm:hidden font-semibold">Thông tin cũ:</span>
                                <span> {{ detail?.oldAccountDetailDTO.identification }} </span>
                            </article>
                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <span class="sm:hidden font-semibold">Thông tin mới:</span>
                                <span> {{ detail?.newAccountDetailDTO.identification }} </span>
                            </article>
                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <h6> Nơi cấp </h6>
                            </article>
                            <article class="prose break-words p-3 text-start  border-b border-solid">
                                <span class="sm:hidden font-semibold">Thông tin cũ:</span>
                                <span> {{ detail?.oldAccountDetailDTO.placeOfIdnumber }} </span>
                            </article>
                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <span class="sm:hidden font-semibold">Thông tin mới:</span>
                                <span> {{ detail?.newAccountDetailDTO.placeOfIdnumber }} </span>
                            </article>
                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <h6> Ngày cấp </h6>
                            </article>
                            <article class="prose break-words p-3 text-start  border-b border-solid">
                                <span class="sm:hidden font-semibold">Thông tin cũ:</span>
                                <span> {{ detail?.oldAccountDetailDTO.dateOfIdnumber | datetimeformat : 'DD/MM/YYYY'}}
                                </span>
                            </article>
                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <span class="sm:hidden font-semibold">Thông tin mới:</span>
                                <span> {{ detail?.newAccountDetailDTO.dateOfIdnumber | datetimeformat : 'DD/MM/YYYY'}}
                                </span>
                            </article>

                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <h6> Địa chỉ thường trú </h6>
                            </article>
                            <article class="prose break-words p-3 text-start  border-b border-solid">
                                <span class="sm:hidden font-semibold">Thông tin cũ:</span>
                                <span> {{ detail?.oldAccountDetailDTO.address1}} </span>
                            </article>
                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <span class="sm:hidden font-semibold">Thông tin mới:</span>
                                <span> {{ detail?.newAccountDetailDTO.address1}} </span>
                            </article>


                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <h6> Mặt trước CCCD/Hộ chiếu </h6>
                            </article>
                            <article class="prose break-words p-3 text-start  border-b border-solid">
                                <span class="sm:hidden font-semibold mr-1.5">Thông tin cũ:</span>
                                <span>
                                    <a href="javascript:void(0)"
                                        (click)="clickViewImage(detail?.oldAccountDetailDTO.frontPhotoIdentication)">Mặt
                                        trước</a>
                                </span>
                            </article>
                            <article class="prose break-words p-3 text-start border-b border-solid">
                                <span class="sm:hidden font-semibold mr-1.5">Thông tin mới:</span>
                                <span>
                                    <a href="javascript:void(0)"
                                        (click)="clickViewImage(detail?.newAccountDetailDTO.frontPhotoIdentication)">Mặt
                                        trước</a>
                                </span>
                            </article>
                            <article class="prose break-words p-3 text-start border-b sm:border-none border-solid">
                                <h6>
                                    Mặt sau CCCD/Hộ chiếu
                                </h6>
                            </article>
                            <article class="prose break-words p-3 text-start  border-solid">
                                <span class="sm:hidden font-semibold mr-1.5">Thông tin cũ:</span>
                                <span>
                                    <a href="javascript:void(0)"
                                        (click)="clickViewImage(detail?.oldAccountDetailDTO.backsitePhotoIdentication )">Mặt
                                        sau</a>
                                </span>
                            </article>
                            <article class="prose break-words p-3 text-start">
                                <span class="sm:hidden font-semibold mr-1.5">Thông tin mới:</span>
                                <span>
                                    <a href="javascript:void(0)"
                                        (click)="clickViewImage(detail?.newAccountDetailDTO.backsitePhotoIdentication )">Mặt
                                        sau</a>
                                </span>
                            </article>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>