<change-id-gpkd></change-id-gpkd>
<mat-drawer class="w-full sm:w-100" [mode]="'side'" [opened]="false" [position]="'end'" #fileDrawer>
    <file-detail [fileDrawer]="fileDrawer" [selectedFile]="selectedFile"></file-detail>
</mat-drawer>
<div class="relative min-w-0 p-4">
    <div class="flex-auto">
        <div class="flex flex-col" [formGroup]="formGroup">
            <ng-container *ngIf="this.authService.authenticatedUser.accountType === 1">
                <ng-container *ngIf="isEditable else viewOnlyType1">
                    <div class="flex flex-col flex-auto mb-4">
                        <div class="border border-primary-grayLight-2 rounded-lg p-4">
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 sm:gap-x-4">
                                <div class="row-span-1 col-span-4 md:row-span-3 md:col-span-1">
                                    <avatar-component-shared styleClass="h-[220px]" [formGroup]="formGroup"
                                        field="avatar">
                                    </avatar-component-shared>
                                </div>
                                <mat-form-field class="col-span-4 sm:col-span-1 mt-4 sm:mt-0">
                                    <mat-label>Tên công ty</mat-label>
                                    <input matInput type="text" formControlName="fullName">
                                </mat-form-field>
                                <mat-form-field class="col-span-4 sm:col-span-1">
                                    <mat-label>MST doanh nghiệp</mat-label>
                                    <input matInput type="text" formControlName="businessCode">
                                </mat-form-field>
                                <app-date-picker class="col-span-4 sm:col-span-1" label="Ngày cấp"
                                    formControlName="businessLicenseDate"></app-date-picker>
                                <mat-form-field class="col-span-4 sm:col-span-1">
                                    <mat-label>Nơi cấp</mat-label>
                                    <input matInput type="text" formControlName="placeOfBusinessLicense">
                                </mat-form-field>
                                <mat-form-field class="col-span-4 sm:col-span-1">
                                    <mat-label>Số GPKD</mat-label>
                                    <input matInput type="text" formControlName="businessLicense">
                                </mat-form-field>
                                <mat-form-field class="col-span-4 sm:col-span-1">
                                    <mat-label>SĐT liên hệ</mat-label>
                                    <input matInput type="text" maxlength="11" formControlName="landline">
                                    <mat-error
                                        *ngIf="formGroup.get('landline').touched && formGroup.get('landline').hasError('forbiddenPhoneNumber')">
                                        {{ 'TKDT079' | transloco }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="col-span-4 sm:col-span-3">
                                    <mat-label>Lĩnh vực hoạt động</mat-label>
                                    <mat-select disableOptionCentering formControlName="admCategoriesId"
                                        panelClass="searchSelectPanel">
                                        <input class="input-search-mat-select"
                                            (keydown)="$event.stopPropagation(); onKey($event.target)" #mySearch>
                                        {{ mySearch?.focus() }}
                                        <mat-option *ngIf="lvhdCodeListFilter.length === 0">None</mat-option>
                                        <mat-option *ngFor="let lvhd of lvhdCodeListFilter"
                                            [value]="lvhd.admCategoriesId">
                                            {{ lvhd.categoriesName }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isInvalidForm('admCategoriesId')">
                                        {{ 'TKDT081' | transloco }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="w-full col-span-4 sm:col-span-2">
                                    <mat-label>Địa chỉ theo GPKD</mat-label>
                                    <input matInput type="text" formControlName="address3">
                                </mat-form-field>
                                <mat-form-field class="w-full col-span-4 sm:col-span-2">
                                    <mat-label>Địa chỉ hoạt động</mat-label>
                                    <input (click)="openAddressDialog('address2')" class="cursor-pointer" matInput
                                        readonly formControlName="address2">
                                    <mat-error *ngIf="isInvalidForm('address2')">
                                        {{ 'TKDT083' | transloco }}
                                    </mat-error>
                                </mat-form-field>

                            </div>
                        </div>
                        <div class="flex flex-row justify-end mt-4">
                            <button mat-stroked-button class="mr-2" (click)="cancelEditing()">Đóng</button>
                            <button mat-flat-button color="primary" (click)="saveData()">Lưu</button>
                        </div>
                    </div>
                </ng-container>
                <ng-template #viewOnlyType1>
                    <div class="flex flex-col flex-auto mb-4">
                        <div class="border border-primary-grayLight-2 rounded-lg p-4">
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                                <div class="row-span-1 col-span-2 md:row-span-3 md:col-span-1">
                                    <avatar-component-shared styleClass="h-[220px]"
                                        [fileFromServer]="accountDetail?.avatar"
                                        [showFileButton]="false"></avatar-component-shared>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2">
                                    <mat-label>Tên công ty</mat-label>
                                    <strong>{{accountDetail?.fullName}}</strong>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2">
                                    <mat-label>MST doanh nghiệp</mat-label>
                                    <strong>{{accountDetail?.businessCode}}</strong>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2">
                                    <mat-label>Ngày cấp</mat-label>
                                    <strong>{{accountDetail?.businessLicenseDate | date: 'dd/MM/YYYY'}}</strong>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2">
                                    <mat-label>Nơi cấp</mat-label>
                                    <strong>{{accountDetail?.placeOfBusinessLicense}}</strong>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2">
                                    <mat-label>Số GPKD</mat-label>
                                    <strong>{{accountDetail?.businessLicense}}</strong>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2">
                                    <mat-label>SĐT liên hệ</mat-label>
                                    <strong>{{accountDetail?.landline}}</strong>
                                </div>
                                <div class="flex flex-col col-span-2 sm:col-span-2 gap-2">
                                    <mat-label>Lĩnh vực hoạt động:</mat-label>
                                    <strong>{{accountDetail?.admCategoriesName}}</strong>
                                </div>
                                <div *ngIf="accountDetail?.type === 2" class="flex flex-col col-span-1 gap-2">
                                    <mat-label>Ảnh giấy phép kinh doanh</mat-label>
                                    <span class="text-primary underline cursor-pointer"
                                        (click)="clickViewImage(accountDetail?.photoOfBusiness)">Xem
                                        file</span>
                                </div>
                                <div class="flex flex-col col-span-2 sm:col-span-2 gap-2">
                                    <mat-label>Địa chỉ theo GPKD:</mat-label>
                                    <strong>{{accountDetail?.address3}}</strong>
                                </div>
                                <div class="flex flex-col col-span-2 gap-2">
                                    <mat-label>Địa chỉ hoạt động:</mat-label>
                                    <strong>{{accountDetail?.address2}}</strong>
                                </div>

                            </div>
                        </div>
                        <div class="flex flex-row justify-end mt-4">
                            <button mat-flat-button [color]="'primary'" (click)="isEditing()">
                                <span>Cập nhật</span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
            <ng-container *ngIf="this.authService.authenticatedUser.accountType === 2">
                <ng-container *ngIf="isEditable else viewOnlyType2">
                    <div class="flex flex-col flex-auto mb-4">
                        <div class="border border-primary-grayLight-2 rounded-lg p-4">
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 sm:gap-x-4">
                                <div class="row-span-1 col-span-4 md:row-span-3 md:col-span-1">
                                    <avatar-component-shared styleClass="h-[220px] aspect-[9/6] col-span-1 "
                                        [formGroup]="formGroup" field="avatar"></avatar-component-shared>
                                </div>
                                <mat-form-field class="col-span-4 sm:col-span-1 mt-4 sm:mt-0">
                                    <mat-label>Tên công ty</mat-label>
                                    <input matInput type="text" formControlName="fullName">
                                </mat-form-field>
                                <mat-form-field class="col-span-4 sm:col-span-1">
                                    <mat-label>MST doanh nghiệp</mat-label>
                                    <input matInput type="text" formControlName="businessCode">
                                </mat-form-field>
                                <app-date-picker class="col-span-4 sm:col-span-1" label="Ngày cấp"
                                    formControlName="businessLicenseDate"></app-date-picker>
                                <mat-form-field class="col-span-4 sm:col-span-1">
                                    <mat-label>Nơi cấp</mat-label>
                                    <input matInput type="text" formControlName="placeOfBusinessLicense">
                                </mat-form-field>
                                <mat-form-field class="col-span-4 sm:col-span-1">
                                    <mat-label>Số GPKD</mat-label>
                                    <input matInput type="text" formControlName="businessLicense">
                                </mat-form-field>
                                <mat-form-field class="col-span-4 sm:col-span-1">
                                    <mat-label>SĐT liên hệ</mat-label>
                                    <input matInput type="text" maxlength="11" formControlName="landline">
                                    <mat-error
                                        *ngIf="formGroup.get('landline').touched && formGroup.get('landline').hasError('forbiddenPhoneNumber')">
                                        {{ 'TKDT079' | transloco }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field
                                class="col-span-4"
                                [ngClass]="accountType === 2 ? 'sm:col-span-1' : 'sm:col-span-3'"
                                >
                                    <mat-label>Lĩnh vực hoạt động</mat-label>
                                    <mat-select disableOptionCentering formControlName="admCategoriesId"
                                        panelClass="searchSelectPanel">
                                        <input class="input-search-mat-select"
                                            (keydown)="$event.stopPropagation(); onKey($event.target)" #mySearch>
                                        {{ mySearch?.focus() }}
                                        <mat-option *ngIf="lvhdCodeListFilter.length === 0">None</mat-option>
                                        <mat-option *ngFor="let lvhd of lvhdCodeListFilter"
                                            [value]="lvhd.admCategoriesId">
                                            {{ lvhd.categoriesName }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isInvalidForm('admCategoriesId')">
                                        {{ 'TKDT081' | transloco }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field *ngIf="accountType === 2" class="col-span-4 sm:col-span-1">
                                    <mat-label>Trang Facebook</mat-label>
                                    <input matInput type="text" formControlName="facebook">
                                </mat-form-field>
                                <mat-form-field *ngIf="accountType === 2" class="w-full col-span-4 sm:col-span-1">
                                    <mat-label>Địa chỉ website</mat-label>
                                    <input matInput type="text" maxlength="100" formControlName="website">
                                </mat-form-field>
                                <mat-form-field class="w-full col-span-4 sm:col-span-2">
                                    <mat-label>Địa chỉ theo GPKD</mat-label>
                                    <input matInput type="text" formControlName="address3">
                                </mat-form-field>
                                <mat-form-field class="w-full col-span-4 sm:col-span-2">
                                    <mat-label>Địa chỉ hoạt động</mat-label>
                                    <input (click)="openAddressDialog('address2')" class="cursor-pointer" matInput
                                        readonly formControlName="address2">
                                    <mat-error *ngIf="isInvalidForm('address2')">
                                        {{ 'TKDT083' | transloco }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-auto justify-end mt-4">
                            <button mat-stroked-button class="mr-2" (click)="cancelEditing()">Đóng</button>
                            <button mat-flat-button color="primary" (click)="saveData()">Lưu</button>
                        </div>
                    </div>
                </ng-container>
                <ng-template #viewOnlyType2>
                    <div class="flex flex-col flex-auto mb-4">
                        <div class="border border-primary-grayLight-2 rounded-lg p-4">
                            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                                <div class="row-span-1 col-span-2 md:row-span-3 md:col-span-1">
                                    <avatar-component-shared styleClass="h-[220px] aspect-[9/6]"
                                        [fileFromServer]="accountDetail?.avatar"
                                        [showFileButton]="false"></avatar-component-shared>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2">
                                    <mat-label>Tên công ty</mat-label>
                                    <strong>{{accountDetail?.fullName}}</strong>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2">
                                    <mat-label>MST doanh nghiệp</mat-label>
                                    <strong>{{accountDetail?.businessCode}}</strong>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2">
                                    <mat-label>Ngày cấp</mat-label>
                                    <strong>{{accountDetail?.businessLicenseDate | date: 'dd/MM/YYYY'}}</strong>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2">
                                    <mat-label>Nơi cấp</mat-label>
                                    <strong>{{accountDetail?.placeOfBusinessLicense}}</strong>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2">
                                    <mat-label>Số GPKD</mat-label>
                                    <strong>{{accountDetail?.businessLicense}}</strong>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2">
                                    <mat-label>SĐT liên hệ</mat-label>
                                    <strong>{{accountDetail?.landline}}</strong>
                                </div>
                                <div *ngIf="accountType === 2" class="flex flex-col col-span-1 gap-2">
                                    <mat-label>Trang Facebook:</mat-label>
                                    <strong>{{accountDetail?.facebook}}</strong>
                                </div>
                                <div *ngIf="accountType === 2" class="flex flex-col col-span-1 gap-2">
                                    <mat-label>Địa chỉ website:</mat-label>
                                    <strong>{{accountDetail?.website}}</strong>
                                </div>
                                <div class="flex flex-col col-span-1 gap-2" *ngIf="accountDetail?.type === 2">
                                    <mat-label>Ảnh giấy phép kinh doanh</mat-label>
                                    <span class="text-primary underline cursor-pointer"
                                        (click)="clickViewImage(accountDetail?.photoOfBusiness)">Xem
                                        file</span>
                                </div>
                                <div class="flex flex-col col-span-2 gap-2">
                                    <mat-label>Lĩnh vực hoạt động:</mat-label>
                                    <strong>{{accountDetail?.admCategoriesName}}</strong>
                                </div>

                                <div class="flex flex-col col-span-2 gap-2">
                                    <mat-label>Địa chỉ theo GPKD:</mat-label>
                                    <strong>{{accountDetail?.address3}}</strong>
                                </div>
                                <div class="flex flex-col col-span-2 gap-2">
                                    <mat-label>Địa chỉ hoạt động:</mat-label>
                                    <strong>{{accountDetail?.address2}}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row justify-end mt-4">
                            <button mat-flat-button [color]="'primary'" (click)="isEditing()">
                                <span>Cập nhật</span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </ng-container>
        </div>
    </div>
</div>