<change-id-gpkd></change-id-gpkd>
<mat-drawer
    class="w-full sm:w-100"
    [mode]="'side'"
    [opened]="false"
    [position]="'end'"
    #fileDrawer>
    <file-detail
        [fileDrawer]="fileDrawer"
        [selectedFile]="selectedFile"
    ></file-detail>
</mat-drawer>
<div class="relative flex overflow-hidden h-full min-w-0 md:w-full p-4">
    <div class="flex-auto ">
        <div class="flex flex-col h-full" [formGroup]="formGroup">

            <ng-container *ngIf="this.authService.authenticatedUser.accountType === 1">
                <ng-container *ngIf="isEditable else viewOnlyType1">
                    <div class="flex flex-col flex-auto overflow-y-auto mt-4 gap-3">
                        <div class="flex flex-col flex-auto overflow-y-auto mt-4 gap-3">
                            <div class="flex flex-row flex-auto overflow-hidden sm:overflow-y-auto gap-8 max-h-[280px]">
                                <avatar-component-shared
                                    styleClass="h-[220px] aspect-[9/6] col-span-1"
                                    [formGroup]="formGroup"
                                    field="avatar"
                                ></avatar-component-shared>
                                <div class="flex flex-col w-1/4 gap-4">
                                    <mat-form-field>
                                        <mat-label>Tên công ty</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            formControlName="fullName"
                                        >
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Nơi cấp</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            formControlName="placeOfBusinessLicense"
                                        >
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-1/4 gap-4">
                                    <mat-form-field>
                                        <mat-label>MST doanh nghiệp</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            formControlName="businessLicense"
                                        >
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Số GPKD</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            formControlName="businessCode"
                                        >
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-1/4 gap-4">
                                    <app-date-picker
                                        label="Ngày cấp"
                                        formControlName="businessLicenseDate"
                                    ></app-date-picker>
                                    <mat-form-field>
                                        <mat-label>SĐT liên hệ</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            maxlength="11"
                                            formControlName="landline"
                                        >
                                        <mat-error *ngIf="formGroup.get('landline').touched && formGroup.get('landline').hasError('forbiddenPhoneNumber')">
                                            {{ 'TKDT079' | transloco }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="flex flex-row overflow-hidden sm:overflow-y-auto gap-8 px-8 mt-2">
                                <mat-form-field style="width: calc(100% - 75px)">
                                    <mat-label>Lĩnh vực hoạt động</mat-label>
                                    <mat-select
                                        disableOptionCentering
                                        formControlName="admCategoriesId"
                                        panelClass="searchSelectPanel"
                                    >
                                        <input
                                            class="input-search-mat-select"
                                            (keydown)="$event.stopPropagation(); onKey($event.target)"
                                            #mySearch
                                        >
                                        {{ mySearch?.focus() }}
                                        <mat-option *ngIf="lvhdCodeListFilter.length === 0">None</mat-option>
                                        <mat-option *ngFor="let lvhd of lvhdCodeListFilter" [value]="lvhd.admCategoriesId">
                                            {{ lvhd.categoriesName }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isInvalidForm('admCategoriesId')">
                                        {{ 'TKDT081' | transloco }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>Địa chỉ theo GPKD</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        formControlName="address3"
                                    >
                                </mat-form-field>
                            </div>
                            <div class="flex flex-row overflow-hidden sm:overflow-y-auto gap-8 px-8 mt-2">
                                <mat-form-field class="w-full">
                                    <mat-label>Địa chỉ hoạt động</mat-label>
                                    <input
                                        (click)="openAddressDialog('address2')"
                                        class="cursor-pointer"
                                        matInput
                                        readonly
                                        formControlName="address2"
                                    >
                                    <mat-error *ngIf="isInvalidForm('address2')">
                                        {{ 'TKDT083' | transloco }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flex flex-auto justify-end">
                            <button mat-stroked-button class="mr-2" (click)="cancelEditing()">Đóng</button>
                            <button mat-flat-button color="primary" (click)="saveData()">Lưu</button>
                        </div>
                    </div>
                </ng-container>
                <ng-template #viewOnlyType1>
                    <div class="flex flex-col flex-auto sm:overflow-y-auto mt-4 gap-3">
                            <avatar-component-shared
                                styleClass="h-[220px]"
                                [fileFromServer]="accountDetail?.avatar"
                                [showFileButton]="false"
                            ></avatar-component-shared>
                            <div class="w-3/4 flex flex-col">
                                <div class="flex flex-row flex-auto ">
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>Tên công ty</mat-label>
                                        <strong>{{accountDetail?.fullName}}</strong>
                                    </div>
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>MST doanh nghiệp</mat-label>
                                        <strong>{{accountDetail?.businessLicense}}</strong>
                                    </div>
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>Ngày cấp</mat-label>
                                        <strong>{{accountDetail?.businessLicenseDate | date: 'dd/MM/YYYY'}}</strong>
                                    </div>
                                </div>
                                <div class="flex flex-row flex-auto  pt-3">
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>Nơi cấp</mat-label>
                                        <strong>{{accountDetail?.placeOfBusinessLicense}}</strong>
                                    </div>
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>Số GPKD</mat-label>
                                        <strong>{{accountDetail?.businessCode}}</strong>
                                    </div>
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>SĐT liên hệ</mat-label>
                                        <strong>{{accountDetail?.landline}}</strong>
                                    </div>
                                </div>
                                <div class="flex flex-row flex-auto  pt-3">
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>Lĩnh vực hoạt động:</mat-label>
                                        <strong>{{accountDetail?.admCategoriesName}}</strong>
                                    </div>
                                    <div class="flex flex-col w-2/3 gap-4">
                                        <mat-label>Địa chỉ theo GPKD:</mat-label>
                                        <strong>{{accountDetail?.address3}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row overflow-hidden mt-2  pb-2 gap-8 sm:overflow-y-auto">
                            <div style="width: calc(100% - 154px)" class="flex flex-col gap-4">
                                <mat-label>Địa chỉ hoạt động:</mat-label>
                                <strong>{{accountDetail?.address2}}</strong>
                            </div>
                            <div *ngIf="accountDetail?.type === 2" class="flex flex-col w-full gap-4">
                                <mat-label>Ảnh giấy phép kinh doanh</mat-label>
                                <span class="text-primary underline cursor-pointer"
                                      (click)="clickViewImage(accountDetail?.photoOfBusiness)">Xem
                                file</span>
                            </div>
                        </div>
                    <div class="flex flex-row justify-end flex-auto overflow-hidden sm:overflow-y-auto gap-4 mb-6 mt-8">
                        <button mat-flat-button
                                [color]="'primary'"
                                (click)="isEditing()">
                            <span>Cập nhật</span>
                        </button>
                    </div>
                </ng-template>
            </ng-container>

            <ng-container *ngIf="this.authService.authenticatedUser.accountType === 2">
                <ng-container *ngIf="isEditable else viewOnlyType2">
                    <div class="flex flex-col flex-auto overflow-y-auto mt-4 gap-3">
                        <div class="flex flex-col flex-auto overflow-y-auto mt-4 gap-3">
                            <div class="flex flex-row flex-auto overflow-hidden sm:overflow-y-auto gap-8 max-h-[280px]">
                                <avatar-component-shared
                                    styleClass="h-[220px] aspect-[9/6] col-span-1"
                                    [formGroup]="formGroup"
                                    field="avatar"
                                ></avatar-component-shared>
                                <div class="flex flex-col w-1/4 gap-4">
                                    <mat-form-field>
                                        <mat-label>Tên công ty</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            formControlName="fullName"
                                        >
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Nơi cấp</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            formControlName="placeOfBusinessLicense"
                                        >
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-1/4 gap-4">
                                    <mat-form-field>
                                        <mat-label>MST doanh nghiệp</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            formControlName="businessLicense"
                                        >
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Số GPKD</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            formControlName="businessCode"
                                        >
                                    </mat-form-field>
                                </div>
                                <div class="flex flex-col w-1/4 gap-4">
                                    <app-date-picker
                                        label="Ngày cấp"
                                        formControlName="businessLicenseDate"
                                    ></app-date-picker>
                                    <mat-form-field>
                                        <mat-label>SĐT liên hệ</mat-label>
                                        <input
                                            matInput
                                            type="text"
                                            maxlength="11"
                                            formControlName="landline"
                                        >
                                        <mat-error *ngIf="formGroup.get('landline').touched && formGroup.get('landline').hasError('forbiddenPhoneNumber')">
                                            {{ 'TKDT079' | transloco }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="flex flex-row overflow-hidden sm:overflow-y-auto gap-8 px-8 mt-2">
                                <mat-form-field style="width: calc(100% - 75px)">
                                    <mat-label>Lĩnh vực hoạt động</mat-label>
                                    <mat-select
                                        disableOptionCentering
                                        formControlName="admCategoriesId"
                                        panelClass="searchSelectPanel"
                                    >
                                        <input
                                            class="input-search-mat-select"
                                            (keydown)="$event.stopPropagation(); onKey($event.target)"
                                            #mySearch
                                        >
                                        {{ mySearch?.focus() }}
                                        <mat-option *ngIf="lvhdCodeListFilter.length === 0">None</mat-option>
                                        <mat-option *ngFor="let lvhd of lvhdCodeListFilter" [value]="lvhd.admCategoriesId">
                                            {{ lvhd.categoriesName }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="isInvalidForm('admCategoriesId')">
                                        {{ 'TKDT081' | transloco }}
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="w-full">
                                    <mat-label>Địa chỉ theo GPKD</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        formControlName="address3"
                                    >
                                </mat-form-field>
                            </div>
                            <div class="flex flex-row overflow-hidden sm:overflow-y-auto gap-8 px-8 mt-2">
                                <mat-form-field class="w-full">
                                    <mat-label>Địa chỉ hoạt động</mat-label>
                                    <input
                                        (click)="openAddressDialog('address2')"
                                        class="cursor-pointer"
                                        matInput
                                        readonly
                                        formControlName="address2"
                                    >
                                    <mat-error *ngIf="isInvalidForm('address2')">
                                        {{ 'TKDT083' | transloco }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="flex flex-row overflow-hidden sm:overflow-y-auto gap-8 px-8 mt-2">
                                <mat-form-field *ngIf="accountType === 2" style="width: calc(100% - 75px)">
                                    <mat-label>Trang Facebook</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        formControlName="facebook"
                                    >
                                </mat-form-field>
                                <mat-form-field *ngIf="accountType === 2" class="w-full">
                                    <mat-label>Địa chỉ website</mat-label>
                                    <input
                                        matInput
                                        type="text"
                                        maxlength="100"
                                        formControlName="website"
                                    >
                                </mat-form-field>
                            </div>
<!--                            <div class="flex flex-row flex-auto overflow-hidden sm:overflow-y-auto gap-8 px-8 mt-2">-->
<!--                                <div class="w-full">-->
<!--                                    <app-dropzone-->
<!--                                        inputId="frontPhotoIdentication"-->
<!--                                        styleClass="max-h-[46px]"-->
<!--                                        [maxFile]="1"-->
<!--                                        topTitle="Ảnh CCCD/Hộ Chiếu mặt trước"-->
<!--                                        title="Ảnh CCCD/Hộ Chiếu mặt trước *"-->
<!--                                        [maxFileSize]="5"-->
<!--                                        accept="image/png, image/jpg, image/jpeg"-->
<!--                                        [formGroup]="formGroup"-->
<!--                                        field="frontPhotoIdentication"-->
<!--                                        [isRequired]="true"-->
<!--                                        [multiple]="false"-->
<!--                                        requiredMsg="QLDT110"-->
<!--                                        typeMsg="QLDT111"-->
<!--                                        sizeMsg="QLDT112"-->
<!--                                    ></app-dropzone>-->
<!--                                </div>-->
<!--                                <div class="w-full">-->
<!--                                    <app-dropzone-->
<!--                                        inputId="backsitePhotoIdentication"-->
<!--                                        field="backsitePhotoIdentication"-->
<!--                                        styleClass="max-h-[46px]"-->
<!--                                        [maxFile]="1"-->
<!--                                        [multiple]="false"-->
<!--                                        topTitle="Ảnh CCCD/Hộ Chiếu mặt sau"-->
<!--                                        title="Ảnh CCCD/Hộ Chiếu mặt sau *"-->
<!--                                        [maxFileSize]="5"-->
<!--                                        accept="image/png, image/jpg, image/jpeg"-->
<!--                                        [formGroup]="formGroup"-->
<!--                                        requiredMsg="QLDT114"-->
<!--                                        typeMsg="QLDT115"-->
<!--                                        sizeMsg="QLDT116"-->
<!--                                    ></app-dropzone>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <div class="flex flex-auto justify-end">
                            <button mat-stroked-button class="mr-2" (click)="cancelEditing()">Đóng</button>
                            <button mat-flat-button color="primary" (click)="saveData()">Lưu</button>
                        </div>
                    </div>
                </ng-container>
                <ng-template #viewOnlyType2>
                    <div class="flex flex-col flex-auto sm:overflow-y-auto mt-4 gap-3">
                        <div class="flex flex-row flex-auto sm:overflow-y-auto gap-8 max-h-[250px]">
                            <avatar-component-shared
                                styleClass="h-[220px] aspect-[9/6]"
                                [fileFromServer]="accountDetail?.avatar"
                                [showFileButton]="false"
                            ></avatar-component-shared>
                            <div class="w-3/4 flex flex-col">
                                <div class="flex flex-row flex-auto ">
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>Tên công ty</mat-label>
                                        <strong>{{accountDetail?.fullName}}</strong>
                                    </div>
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>MST doanh nghiệp</mat-label>
                                        <strong>{{accountDetail?.businessLicense}}</strong>
                                    </div>
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>Ngày cấp</mat-label>
                                        <strong>{{accountDetail?.businessLicenseDate | date: 'dd/MM/YYYY'}}</strong>
                                    </div>
                                </div>
                                <div class="flex flex-row flex-auto  pt-3">
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>Nơi cấp</mat-label>
                                        <strong>{{accountDetail?.placeOfBusinessLicense}}</strong>
                                    </div>
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>Số GPKD</mat-label>
                                        <strong>{{accountDetail?.businessCode}}</strong>
                                    </div>
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>SĐT liên hệ</mat-label>
                                        <strong>{{accountDetail?.landline}}</strong>
                                    </div>
                                </div>
                                <div class="flex flex-row flex-auto  pt-3">
                                    <div class="flex flex-col w-1/3 gap-4">
                                        <mat-label>Lĩnh vực hoạt động:</mat-label>
                                        <strong>{{accountDetail?.admCategoriesName}}</strong>
                                    </div>
                                    <div *ngIf="accountType === 2" class="flex flex-col w-1/3 gap-4">
                                        <mat-label>Trang Facebook:</mat-label>
                                        <strong>{{accountDetail?.facebook}}</strong>
                                    </div>
                                    <div *ngIf="accountType === 2" class="flex flex-col w-1/3 gap-4">
                                        <mat-label>Địa chỉ website:</mat-label>
                                        <strong>{{accountDetail?.website}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-row overflow-hidden mt-2 pb-2 gap-8 sm:overflow-y-auto">
                            <div style="width: calc(50% - 56px)" class="flex flex-col gap-4">
                                <mat-label>Địa chỉ theo GPKD:</mat-label>
                                <strong>{{accountDetail?.address3}}</strong>
                            </div>
                            <div class="flex flex-col w-1/2 gap-4">
                                <mat-label>Địa chỉ hoạt động:</mat-label>
                                <strong>{{accountDetail?.address2}}</strong>
                            </div>
                        </div>
                        <div *ngIf="accountDetail?.type === 2" class="flex flex-row overflow-hidden mt-2 pb-2 gap-8 sm:overflow-y-auto">
                            <div class="flex flex-col w-full gap-4">
                                <mat-label>Ảnh giấy phép kinh doanh</mat-label>
                                <span class="text-primary underline cursor-pointer"
                                      (click)="clickViewImage(accountDetail?.photoOfBusiness)">Xem
                                file</span>
                            </div>
                        </div>
<!--                        <div class="flex flex-row overflow-hidden mt-2  px-8 pb-2 gap-8 sm:overflow-y-auto">-->
<!--                            <div style="width: calc(50% - 56px)" class="flex flex-col gap-4">-->
<!--                                <mat-label>Ảnh CCCD/Hộ chiếu(Mặt trước):</mat-label>-->
<!--                                <span class="text-primary underline cursor-pointer"-->
<!--                                      (click)="clickViewImage(accountDetail?.frontPhotoIdentication)">Xem-->
<!--                                file</span>-->
<!--                            </div>-->
<!--                            <div class="flex flex-col w-1/2 gap-4">-->
<!--                                <mat-label>Ảnh CCCD/Hộ chiếu(Mặt sau):</mat-label>-->
<!--                                <span class="text-primary underline cursor-pointer"-->
<!--                                      (click)="clickViewImage(accountDetail?.backsitePhotoIdentication)">Xem-->
<!--                               file</span>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <div class="flex flex-row justify-end flex-auto overflow-hidden sm:overflow-y-auto gap-4 px-8 mb-6 mt-8">
                        <button mat-flat-button
                                [color]="'primary'"
                                (click)="isEditing()">
                            <span>Cập nhật</span>
                        </button>
                    </div>
                </ng-template>
            </ng-container>

        </div>
    </div>
</div>
