/*
.kyc-first-page {
    background-image: url('../../../../../assets/images/ui/media/kyc-desktop.png');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: contain;
}
*/
