<mat-form-field
  floatLabel="always"
  class="w-full password-input">

  <mat-label>{{ label }}</mat-label>

  <input
    matInput
    formControlName="passwd"
    [type]="showPassword ? 'text' : 'password'"
    [required]="required"
    [value]="control?.value"
    [placeholder]="placeholder"
    maxlength="30"
    (focus)="isFocused = true"        
    (blur)="isFocused = false; control.markAsTouched()"
    (input)="onInput($event)" />

  <button mat-icon-button type="button" matSuffix (click)="showPassword = !showPassword">
    <mat-icon *ngIf="!showPassword" svgIcon="heroicons_outline:eye-off"></mat-icon>
    <mat-icon *ngIf="showPassword" svgIcon="heroicons_outline:eye"></mat-icon>
  </button>

  <!-- ✅ Hiển thị lỗi -->
  <mat-error *ngIf="showRequiredError">
    Mật khẩu không được để trống
  </mat-error>
  <!-- <mat-error *ngIf="showInvalidError">
    Mật khẩu phải có 8-30 ký tự, gồm chữ hoa, chữ thường và ký tự đặc biệt
  </mat-error> -->
</mat-form-field>

<!-- ✅ Chỉ hiển thị rule khi đang focus hoặc chưa đủ điều kiện -->
<div
  class="password-rules mb-2 text-md transition-all duration-200"
  *ngIf="isFocused && !(
    hasMinLength && hasLowerCase && hasUpperCase && hasSpecialChar
  )">
  <div [ngClass]="hasMinLength ? 'text-green-500' : 'text-[#dc2626]'">
    Ít nhất có 8 ký tự
  </div>
  <div [ngClass]="hasLowerCase ? 'text-green-500' : 'text-[#dc2626]'">
    Có ít nhất một chữ viết thường
  </div>
  <div [ngClass]="hasUpperCase ? 'text-green-500' : 'text-[#dc2626]'">
    Có ít nhất một chữ viết hoa
  </div>
  <div [ngClass]="hasSpecialChar ? 'text-green-500' : 'text-[#dc2626]'">
    Có ít nhất một ký tự đặc biệt (!@#$%^&*?)
  </div>
</div>
