.password-rules {
  div {
    display: flex;
    align-items: center;
    margin-top: 2px;
  }
}
::ng-deep .password-input .mat-form-field-wrapper{
    margin-bottom: 0px !important;
}
.password-input.error-field {
  ::ng-deep .mat-mdc-text-field-wrapper {
    border-color: #dc2626 !important;
  }

  ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__leading,
  ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__notch,
  ::ng-deep .mdc-text-field--outlined .mdc-notched-outline__trailing {
    border-color: #dc2626 !important;
  }
}
