<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8">
        <div class="text-2xl font-medium">Thay đổi Email</div>
        <button mat-icon-button>
            <mat-icon class=""
                      [svgIcon]="'heroicons_outline:x'"
                      (click)="discard()"
            ></mat-icon>
        </button>
    </div>
    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"
        [formGroup]="changeEmail">
        <mat-form-field
            @fadeOutLeft
            @slideInLeft
            *ngIf="changeEmailStep == 0">
            <mat-label>Email cũ</mat-label>
            <input id="email"
                   readonly
                matInput
                formControlName="email">
            <button mat-flat-button
                    (click)="verifyContactInfo()"
                    color="primary" >
                <mat-icon svgIcon="feather:edit"
                          class="mr-2"></mat-icon>
                <span>Gửi OTP</span>
            </button>
        </mat-form-field>
        <mat-form-field
            @fadeOutLeft
            @slideInLeft
            *ngIf="changeEmailStep == 1">
            <mat-label>Email mới</mat-label>
            <input id="newEmail"
                   matInput
                   formControlName="email">
            <button mat-flat-button
                    (click)="changeContactInfo()"
                    color="primary" >
                <mat-icon svgIcon="feather:edit"
                          class="mr-2"></mat-icon>
                <span>Gửi OTP</span>
            </button>
            <mat-error *ngIf="changeEmail.get('email').hasError('required')">
                {{ 'HSVV122' | transloco }}
            </mat-error>
            <mat-error *ngIf="changeEmail.get('email').hasError('maxlength')">
                {{ 'HSVV121' | transloco }}
            </mat-error>
            <mat-error *ngIf="changeEmail.get('email').hasError('email')">
                {{ 'HSVV123' | transloco }}
            </mat-error>
        </mat-form-field>

    </form>
</div>
