<div class="flex flex-col max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-14 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Thay đổi email</div>
        <button mat-icon-button [tabIndex]="-1">
            <mat-icon class="text-white" [svgIcon]="'heroicons_outline:x'" (click)="discard()"></mat-icon>
        </button>
    </div>
    <form class="flex flex-col flex-auto p-6 sm:p-8 pb-2 sm:pb-4 overflow-y-auto" [formGroup]="changeEmail">
        <mat-form-field @fadeOutLeft @slideInLeft *ngIf="changeEmailStep == 0">
            <mat-label>Email cũ</mat-label>
            <input [tabIndex]="-1" id="email" readonly matInput formControlName="email">

        </mat-form-field>
        <mat-form-field @fadeOutLeft @slideInLeft *ngIf="changeEmailStep == 1">
            <mat-label>Email mới</mat-label>
            <input id="newEmail" matInput formControlName="email">

            <mat-error *ngIf="changeEmail.get('email').hasError('required')">
                {{ 'HSVV122' | transloco }}
            </mat-error>
            <mat-error *ngIf="changeEmail.get('email').hasError('maxlength')">
                {{ 'HSVV121' | transloco }}
            </mat-error>
            <mat-error *ngIf="changeEmail.get('email').hasError('email')">
                {{ 'HSVV123' | transloco }}
            </mat-error>
        </mat-form-field>

    </form>
    <div class="flex flex-row items-center justify-center mb-4 sm:mb-6">
        <div class="flex items-center justify-center mt-0">
            <button class="w-auto" *ngIf="changeEmailStep == 0" mat-flat-button (click)="verifyContactInfo()"
                color="primary">
                Gửi OTP
            </button>
            <button *ngIf="changeEmailStep == 1" mat-flat-button (click)="changeContactInfo()" color="primary">
                Xác nhận
            </button>
        </div>
    </div>
</div>