// .page-kyc-sidebar-header-title {
//     color: #b32426;
//     font-size: 20px;
//     font-weight: 700;
// }

// .muiltr-9gecks {
//     margin: 0px;
//     line-height: 1.5;
// }

// .mat-tab-group.fuse-mat-no-header .mat-tab-header {
//     height: 0!important;
//     max-height: 0!important;
//     border: none!important;
//     visibility: hidden!important;
//     opacity: 0!important;
// }

// .mat-form-field-wrapper {
//     padding-bottom: 0 !important;
// }

// .btn-upload-avatar {
//     align-items: center;
//     background-color: #0069df;
//     border-radius: 35px;
//     color: #fff;
//     display: flex;
//     font-size: 13px;
//     height: 42px;
//     justify-content: center;
//     margin-bottom: 1.3rem;
//     max-width: 140px;
//     text-align: center;
// }

// .alert-custom {
//     position: fixed;
//     top: 4%;
//     right: 4%;
//     z-index: 100;
//     width: 300px;
// }

// .kyc-stepper .mat-vertical-stepper-header {
//     pointer-events: none !important;
// }

// @media (max-width: 1624px) {
//     .mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element::placeholder {
//         font-size: 9px !important;
//     }
// }


