<mat-drawer-container
    class="flex-auto h-full bg-card dark:bg-transparent">
    <mat-drawer
        class="w-full md:w-12/12"
        [mode]="'side'"
        [opened]="true"
        [position]="'end'"
        [disableClose]="true"   
        #matDrawer>
        <profiles-management-detail
            (handleCloseDetailPanel)="handleCloseDetailPanel($event)"
            [hasApproveBtn]="true"></profiles-management-detail>
    </mat-drawer>
    <mat-drawer-content class="flex flex-col">
        <app-datatable
            [toggleDrawerFn]="toggleDrawer.bind(this)"
            [containerStyle]="{width: matDrawer.opened ? '100vw' : '100%'}"
            [tableConfig]="_tableConfig"
            [taskbarConfig]="_taskbarConfig"
            [tableConfigBtns]="_tableButtonConfig"
            [dataSource]="_dataSource$"
            (handleSearch)="handleSearch($event)"
            (rowClick)="handleRowClick($event)"
            (pageSwitch)="handlePageSwitch($event)"
            (tableEvent)="handleTableEvent($event)"
        >
        </app-datatable>
    </mat-drawer-content>
</mat-drawer-container>

