:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

.vnv-gradient {
    background: rgb(15,165,196);
    background: linear-gradient(90deg, rgba(15,165,196,1) 0%, rgba(104,251,215,1) 100%);

}
