:host {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}

* {
    translate: no;
}
input,
textarea,
select {
  font-size: 16px !important;
}

.mat-input-element {
  font-size: 16px !important;
}