<mat-drawer-container
    class="flex-auto h-full bg-card dark:bg-transparent">
    <mat-drawer-content class="flex flex-col">
        <app-datatable
            [tableConfig]="_tableConfig"
            [taskbarConfig]="_taskbarConfig"
            [dataSource]="_dataSource$"
            (tableEvent)="handleTableEvent($event)"
            [tableConfigBtns]="_tableBtnConfig"
            (handleSearch)="handleSearch($event)"
            (pageSwitch)="handlePageSwitch($event)"
        >
        </app-datatable>
    </mat-drawer-content>
</mat-drawer-container>
