<div>

    <div class="w-[30%]">
        <img src="assets/images/logo/logo-auth.svg">
    </div>
    <!-- Promo banner -->
    <div
        class="promo-banner mt-3 flex items-center justify-center font-extrabold text-lg py-2 overflow-hidden relative bg-white">
        <div class="marquee">
            <div class="marquee__inner flex items-center gap-3 px-4 whitespace-nowrap">
                🎁
                <span class="promo-text uppercase tracking-wide">
                    Mở tài khoản ngay – Nhận tiền liền tay
                </span>
                🎁
            </div>
            <!-- Bản sao để tạo hiệu ứng nối liền -->
            <div class="marquee__inner flex items-center gap-3 px-4 whitespace-nowrap" aria-hidden="true">
                🎁
                <span class="promo-text uppercase tracking-wide">
                    Mở tài khoản ngay – Nhận tiền liền tay
                </span>
                🎁
            </div>
            <div class="marquee__inner flex items-center gap-3 px-4 whitespace-nowrap" aria-hidden="true">
                🎁
                <span class="promo-text uppercase tracking-wide">
                    Mở tài khoản ngay – Nhận tiền liền tay
                </span>
                🎁
            </div>
        </div>
    </div>
    <!-- Title -->
    <div class="mt-3 text-4xl font-extrabold tracking-tight leading-tight text-primary-blue">Đăng nhập</div>
    <div class="flex items-baseline mt-1 font-medium">
        <span class="text-[#848484]">Đăng nhập tài khoản của bạn để sử dụng đầy đủ tính năng.</span>
    </div>

    <!-- Alert -->
    <fuse-alert class="mt-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
        [@shake]="alert.type === 'error'">
        {{alert.message}}
    </fuse-alert>

    <div *ngIf="maintenanceMessage" class="bg-[#F9CC69] mt-4 text-black px-4 py-2.5 rounded-md shadow-sm">
        <span [innerHTML]="maintenanceMessage"></span>
    </div>

    <!-- Sign in form -->
    <form class="mt-4" [formGroup]="signInForm" #signInNgForm="ngForm">

        <!-- Email field -->
        <mat-form-field floatLabel="always" class="w-full">
            <mat-label>Tên tài khoản</mat-label>
            <input id="username" trim="blur" matInput lowerCaseInput placeholder="Nhập tên tài khoản..."
                formControlName="username">
            <mat-error *ngIf="signInForm.get('username').invalid">
                {{ getErrorKey('username') | transloco }}
            </mat-error>
        </mat-form-field>

        <!-- Password field -->
        <mat-form-field floatLabel="always" class="w-full">
            <mat-label>Mật khẩu</mat-label>
            <input id="password" trim="blur" matInput type="password" formControlName="password" #passwordField
                placeholder="Nhập mật khẩu...">
            <button mat-icon-button type="button"
                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                matSuffix>
                <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                    [svgIcon]="'heroicons_outline:eye-off'"></mat-icon>
                <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                    [svgIcon]="'heroicons_outline:eye'"></mat-icon>
            </button>
            <mat-error *ngIf="signInForm.get('password').hasError('required')">
                {{ 'DNTK004' | transloco }}
            </mat-error>
        </mat-form-field>

        <!-- Actions -->
        <div class="inline-flex items-center justify-between w-full mt-1.5">
            <mat-checkbox class="" [color]="'primary'" [formControlName]="'rememberMe'">
                Nhớ mật khẩu
            </mat-checkbox>
            <a class="text-md font-medium text-primary-500 hover:underline cursor-pointer"
                (click)="onClickPage('/forgot-password')">Quên mật
                khẩu?
            </a>
        </div>

        <!-- Submit button -->
        <button class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
            [disabled]="signInForm.disabled" (click)="signIn()">
            <span *ngIf="!signInForm.disabled || maintenanceEnabled">
                Đăng nhập
            </span>
            <mat-progress-spinner *ngIf="signInForm.disabled && !maintenanceEnabled" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
        </button>

        <!-- Form footer -->
        <div class="mt-4 text-md text-center font-medium ">
            <span>Bạn chưa có tài khoản?</span>
            <a class="ml-1 text-primary-orange-1 hover:underline cursor-pointer" (click)="onClickPage('/sign-up')">Đăng
                ký ngay
            </a>
        </div>

    </form>

</div>