<div class="flex flex-col max-h-screen -m-6">
    <div class="flex flex-0 items-center justify-between h-14 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Kết quả rà soát hồ sơ huy động vốn</div>
        <button mat-icon-button tabindex="-1">
            <mat-icon mat-dialog-close class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>
    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="formGroup">
        <div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4">
            <mat-form-field class="w-full">
                <mat-label>Người rà soát</mat-label>
                <input matInput formControlName="createdByName">
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Ngày rà soát</mat-label>
                <input matInput formControlName="createdDate">
            </mat-form-field>

            <mat-form-field class="w-full" floatLabel="always">
                <mat-label>Kết quả rà soát</mat-label>
                <mat-select placeholder="Chọn kết quả rà soát" formControlName="status">
                    <mat-option [value]="0">Từ chối</mat-option>
                    <mat-option [value]="1">Phê duyệt</mat-option>
                    <mat-option [value]="2">Làm lại</mat-option>
                </mat-select>
                <mat-error *ngIf="formGroup.get('status').hasError('required')">
                    {{ 'QLHS004' | transloco }}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="w-full pb-4">
            <mat-label>Báo cáo đánh giá hồ sơ huy động vốn <span *ngIf="isRq === true" style="color: red">*</span>
                </mat-label>
            <app-dropzone [multiple]="true" styleClass="h-[48px] mt-[3px]"
                title="Tải lên báo cáo đánh giá hồ sơ huy động vốn" [formGroup]="formGroup" [maxFile]="5"
                [isRequired]="isRq" maxFileSize="10" accept="application/pdf" field="finDocumentsId" sizeMsg="QLHS015"
                typeMsg="QLHS016"></app-dropzone>
        </div>
        <div class="w-full pb-4" *ngIf="formGroup.get('financialStatement')">
            <mat-label>Báo cáo tài chính đánh giá nội bộ <span *ngIf="isRq === true" style="color: red">*</span>
                </mat-label>
            <app-dropzone [multiple]="false" styleClass="h-[48px] mt-[3px]" title="Tải lên báo cáo tài chính"
                accept="application/VND.ms-excel,application/VND.openxmlformats-officedocument.spreadsheetml.sheet"
                [formGroup]="formGroup" field="financialStatement" [isRequired]="isRq" requiredMsg="QLHS009"
                typeMsg="QLHS008" sizeMsg="QLHS007"></app-dropzone>
        </div>
        <mat-form-field class="w-full" floatLabel="always">
            <mat-label>Nội dung rà soát hồ sơ</mat-label>
            <textarea placeholder="Nhập nôi dung..." matInput formControlName="content"></textarea>
            <mat-error *ngIf="formGroup.get('content').hasError('required')">
                Dữ liệu chưa được nhập
            </mat-error>
        </mat-form-field>
    </form>
    <div class="flex flex-row items-center justify-center mb-4 sm:mb-6">
        <button mat-flat-button color="primary" (click)="onClickSubmit()">Xác nhận</button>
    </div>
</div>