<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Empty layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<empty-layout *ngIf="layout === 'empty'"></empty-layout>

<!-- Auth layout -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<auth-layout *ngIf="layout === 'auth'"></auth-layout>
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- Layouts with horizontal navigation -->
<!-- ----------------------------------------------------------------------------------------------------- -->


<!-- Compact -->
<compact-layout *ngIf="layout === 'compact'"></compact-layout>
