layout {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    min-width: 0;

    /* Base styles for individual layouts */
    > * {
        position: relative;
        display: flex;
        flex: 1 1 auto;
        width: 100%;
    }

    /* Base styles for components that load as a route */
    router-outlet {

        + * {
            position: relative;
            flex: 1 1 auto;
            width: 100%;
        }
    }
}
.bg-color-vnv {
    background-color: #4bcbad !important;
}
.disabled-color {
    background-color: gray !important;
}
.gradient-tab {
    background: linear-gradient(to right, #21bbba 0%, #76dc9f 100%)
}
