<div class="flex flex-col items-center justify-center min-h-full bg-white overflow-hidden px-6">
  <!-- Illustration -->
  <img src="assets/images/ui/bg-kyc.png" alt="KYC Success" class="w-[250px] max-w-full mb-6" />

  <!-- Description -->
  <h2 class="prose-headings:h2 text-black uppercase mb-4 font-bold text-[24px]">bạn đã hoàn thành xác minh thông tin tài
    khoản</h2>

  <p class="text-center text-slate-600 max-w-2xl leading-relaxed">
    Chúc mừng bạn đã hoàn thành mẫu KYC thông tin hồ sơ của bạn sẽ được xem xét và xét duyệt.
    <br />
    Chúng tôi sẽ thông báo cho bạn nếu có bất kỳ cập nhật hay thay đổi mới đối với hồ sơ của bạn.
  </p>
  <button mat-raised-button class="w-full md:w-auto flex items-center justify-center mt-4" color="primary"
    (click)="signOut()">
    Đăng xuất
  </button>
</div>