<div class="flex flex-col flex-auto min-h-0 relative z-10 bg-white w-screen h-full">
    <div class="flex flex-col flex-1 items-center text-center justify-center p-4 prose max-w-none">
        <img src="assets/images/etc/customer-service%201.png" alt="customer service" class="w-[200px]">
        <h2 class="prose-headings:h2 text-slate-500 uppercase mt-3 text-[30px]">Yêu cầu của bạn đã được ghi nhận</h2>
        <h5 class="prose-headings:h5">
            <p class="m-0">Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi!</p>
            <p class="m-0">Yêu cầu của bạn đã được ghi nhận, nhân viên CSKH của chúng tôi sẽ liên hệ lại với bạn trong thời gian sớm nhất có thể</p>
            <p class="m-0">
                Hotline:
                <span class="text-primary mr-2">033 808 8228</span>
                Email:
                <span class="text-primary">{{'cskh@linkfiin.vn'}}</span>
            </p>
        </h5>
        <button
            class="mt-5"
            mat-raised-button
            color="primary"
            (click)="onClickBackToKyc()"
        >
            Xác minh thông tin tài khoản
        </button>
    </div>
</div>
