<!-- <div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 md:p-8 h-full">
    <div class="flex md:w-full md:max-w-6xl sm:rounded-2xl sm:shadow overflow-hidden sm:bg-card">
        <div
             class="relative hidden md:flex flex-auto items-center justify-center h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-r">
            <img alt=""
                 src="assets/images/logo/logobes.png"
                 class="absolute h-full" />
        </div>
        <div class="w-full sm:w-auto py-8 px-4 sm:p-12 md:p-16">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                
            </div>
        </div>
    </div>
</div> -->
<!-- Logo -->
<div class="w-[30%]">
    <img src="assets/images/logo/logo-auth.svg">
</div>

<!-- Title -->
<div class="mt-3 text-4xl font-extrabold tracking-tight leading-tight text-primary-blue">Quên mật khẩu ?</div>
<div class="flex items-baseline mt-1 font-medium">
    <span class="text-[#848484]"> Nhập tên tài khoản và email của bạn để đặt lại mật khẩu.</span>
</div>
<!-- Alert -->
<fuse-alert class="mt-4 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false" [type]="alert.type"
    [@shake]="alert.type === 'error'">
    {{alert.message}}
</fuse-alert>

<!-- Forgot password form -->
<form class="mt-8" [formGroup]="forgotPasswordForm">

    <!-- Username field -->
    <mat-form-field floatLabel="always" class="w-full">
        <mat-label>Tên tài khoản</mat-label>
        <input id="username" matInput formControlName="username" trim="blur" placeholder="Nhập tên tài khoản...">
        <!-- <button mat-icon-button type="button" matSuffix>
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:user'"></mat-icon>
        </button> -->
        <mat-error *ngIf="forgotPasswordForm.get('username').hasError('required')">
            {{ 'MQMK004' | transloco}}
        </mat-error>
    </mat-form-field>

    <!-- Email field -->
    <mat-form-field floatLabel="always" class="w-full">
        <mat-label>Email</mat-label>
        <input matInput id="email" [maxlength]="50" formControlName="email" trim="blur"
            placeholder="Nhập email...">
        <!-- <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:mail'"></mat-icon> -->
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('invalidEmail')">
            Email không được để trống
        </mat-error>
        <!-- <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">
                            Dữ liệu chưa được nhập
                        </mat-error>-->
    </mat-form-field>

    <!-- Submit button -->
    <button class="fuse-mat-button-large w-full mt-3" mat-flat-button [color]="'primary'"
        [disabled]="forgotPasswordForm.disabled" (click)="sendResetLink()">
        <span *ngIf="!forgotPasswordForm.disabled">
            Lấy mã OTP
        </span>
        <mat-progress-spinner *ngIf="forgotPasswordForm.disabled" [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
    </button>

    <!-- Form footer -->
    <div class="mt-4 text-md font-medium text-center">
        <span>Quay lại trang</span>
        <a class="ml-1 text-primary-orange-1 hover:underline" [routerLink]="['/sign-in']">Đăng nhập
        </a>
    </div>

</form>