<!-- Button -->
<button [matMenuTriggerFor]="userActions">
    <span class="flex items-center gap-2.5 px-2 py-1 w-fit cursor-pointer">
        <div *ngIf="avatar" class="w-10 h-10 rounded-full overflow-hidden bg-white flex items-center justify-center">
            <img  [src]="avatar" alt="avatar" class="object-cover w-full h-full">
        </div>
        <div *ngIf="!avatar"
            class="w-10 h-10 rounded-full bg-primary-orange-2 text-white flex items-center justify-center text-lg font-medium">
            {{ getInitials(user.fullName) }}
        </div>
        <div *ngIf="user.fullName" [matTooltip]="user.fullName" class="hidden md:block text-left text-white leading-tight">
            <p class="text-sm">Xin chào,</p>
            <p  class="text-base font-medium truncate max-w-[5.5rem]">
                {{ user.fullName }}
            </p>
        </div>

    </span>
</button>
<mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item (click)="goToProfile()" *ngIf="accStatus == 2">
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
        <span>Hồ sơ của tôi</span>
    </button>
    
    <button mat-menu-item (click)="signOut()">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>
        <span>Đăng xuất</span>
    </button>
</mat-menu>