<div [class]="containerClass" class="flex flex-col flex-auto p-4 overflow-y-auto" *ngIf="selectedFile" [ngStyle]="{width: '-webkit-fill-available'}">
    <div class="flex items-center justify-end">
        <a
            (click)="fileDrawer.close()"
            mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </a>
    </div>

    <div class="mt-5 aspect-[9/6]" [class]="backgroundClass">
        <div *ngIf="selectedFile.contentBase64 !== null && selectedFile.contentBase64 && selectedFile.contentBase64 !== '' "
             @zoomIn
             style="background-size: cover;"
             [ngStyle]="{'background-image':'url('+selectedFile.contentBase64+')'}"
             class="flex items-center justify-center h-full border rounded-lg bg-gray-50 dark:bg-card">
        </div>
        <div *ngIf="selectedFile.contentBase64 === null || !selectedFile.contentBase64 || selectedFile.contentBase64 === '' "

             class="flex items-center justify-center h-full border rounded-lg bg-gray-50 dark:bg-card">
            <ng-container >
                <mat-icon
                    class="icon-size-24 text-hint"
                    [svgIcon]="'heroicons_outline:document'"></mat-icon>
                <div
                    class="mt-1 px-1.5 rounded text-sm font-semibold leading-5 text-white"
                    [class.bg-red-600]="selectedFile.type.toUpperCase() === 'PDF'"
                    [class.bg-blue-600]="selectedFile.type.toUpperCase() === 'DOC'"
                    [class.bg-green-600]="['XLS', 'XLSX'].includes(selectedFile.type.toUpperCase())"
                    [class.bg-gray-600]="['TXT', 'ZIP'].includes(selectedFile.type.toUpperCase())"
                    [class.bg-amber-600]="['JPG','JPEG', 'PNG'].includes(selectedFile.type.toUpperCase())">
                    {{selectedFile.type.toUpperCase()}}
                </div>
            </ng-container>
        </div>
    </div>

    <div class="flex flex-col items-start mt-8">
        <div class="text-xl font-medium break-all">{{selectedFile.docName}}</div>
        <div
            class="mt-1 px-1.5 rounded text-sm font-semibold leading-5 text-white"
            [class.bg-red-600]="selectedFile.type.toUpperCase() === 'PDF'"
            [class.bg-blue-600]="['DOC', 'DOCX'].includes(selectedFile.type.toUpperCase())"
            [class.bg-green-600]="['XLS', 'XLSX'].includes(selectedFile.type.toUpperCase())"
            [class.bg-gray-600]="['TXT', 'ZIP'].includes(selectedFile.type.toUpperCase())"
            [class.bg-amber-600]="['JPG','JPEG', 'PNG'].includes(selectedFile.type.toUpperCase())">
            {{selectedFile.type.toUpperCase()}}
        </div>
    </div>

    <!-- Information -->
    <div class="text-lg font-medium mt-8">Thông tin chi tiết</div>
    <div class="flex flex-col mt-4 border-t border-b divide-y font-medium">
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Người tạo</div>
            <div>{{selectedFile.createdByName}}</div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Ngày tạo</div>
            <div>{{selectedFile.createdDate | date : 'dd/MM/YYYY'}}</div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Người cập nhật</div>
            <div>{{selectedFile.lastUpdatedByName}}</div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Ngày cập nhật</div>
            <div>{{selectedFile.lastUpdatedDate | date : 'dd/MM/YYYY'}}</div>
        </div>
        <div class="flex items-center justify-between py-3">
            <div class="text-secondary">Dung lượng file</div>
            <div>{{selectedFile.fileSize}} KB</div>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4 w-full mt-8">
        <input type="file" class="hidden"
               (change)="onFileSelected($event)" #fileUpload>
        <button
            *ngIf="hasReplaceBtn"
            class="flex-auto bg-amber-600 text-white"
            mat-flat-button
            (click)="fileUpload.click()"
        >
            Thay thế
        </button>
        <button
            *ngIf="replaceBtnV2"
            class="flex-auto bg-amber-600 text-white"
            mat-flat-button
            (click)="onClickBtnReplace()"
        >
            Thay thế
        </button>
        <button
            class="flex-auto"
            mat-flat-button
            [color]="'primary'"
            (click)="downloadFile(selectedFile.finDocumentsId.toString())"
        >
            Tải về
        </button>
    </div>

</div>

