<div mat-dialog-title
     class="mb-0">
    <div class="flex justify-between">
        <h2 mat-dialog-title
            class="mb-0">
            Nhập mã xác thực OTP
        </h2>
        <a class="mt-[-5px]"
           mat-dialog-close
           mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </a>
    </div>
</div>
<mat-dialog-content class="mat-typography"
                    [style]="{maxWidth: '450px'}">
    <div>
        <!-- Alert -->
        <fuse-alert class="mt-8 -mb-4"
                    *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>
    </div>

    <!-- Sms OTP form -->
    <form class="mt-8"
          [formGroup]="smsOtpForm"
          *ngIf="!isEmailOtp">
        <div class="flex items-baseline mt-0.5 font-medium">
            Hệ thống đã gửi mã OTP xác thực vào số điện thoại bạn đã đăng ký. Vui lòng kiểm tra và
            điền mã xác nhận để hoàn tất đăng ký!
        </div>

        <!-- OTP field -->
        <mat-form-field class="w-full mt-5">
            <mat-label>Nhập mã OTP được gửi qua SMS</mat-label>
            <input matInput
                   id="smsOtp"
                   formControlName="smsOtp"
                   [maxlength]="4"
                   inputMask maskType="number">
            <mat-icon class="icon-size-5"
                      [svgIcon]="'heroicons_solid:phone'"></mat-icon>
            <mat-error *ngIf="smsOtpForm.get('smsOtp')?.hasError('required')">
                Dữ liệu chưa được nhập
            </mat-error>
            <mat-error
                       *ngIf="smsOtpForm.get('smsOtp')?.hasError('forbiddenOtp') && !smsOtpForm.get('smsOtp')?.hasError('required')">
                Mã OTP không hợp lệ
            </mat-error>
        </mat-form-field>
        <div class="flex items-baseline mt-0.5 font-medium">
            <div>Bạn chưa nhận được mã?</div>
            <a class="ml-1 text-primary-500 hover:underline cursor-pointer"
               *ngIf="!resendTime"
               (click)="resendOtp(60)">
                Gửi lại
            </a>
            <a class="ml-1 text-primary-500 hover:underline"
               *ngIf="resendTime">
                {{resendTime}}
            </a>
        </div>

        <!-- Submit button -->
        <div class="text-center mt-6">
            <a mat-dialog-close
               mat-button
               class="mr-2"
               [matTooltip]="'Huỷ'">
                Huỷ
            </a>
            <button mat-flat-button
                    color="primary"
                    (click)="submitOtp()"
                    [disabled]="smsOtpForm.disabled">
                <span *ngIf="!smsOtpForm.disabled">
                    Xác nhận
                </span>
                <mat-progress-spinner *ngIf="smsOtpForm.disabled"
                                      [diameter]="24"
                                      [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </form>

    <!-- Email OTP form -->
    <form class="mt-8"
          [formGroup]="emailOtpForm"
          *ngIf="isEmailOtp">
        <div class="flex items-baseline mt-0.5 font-medium">
            Hệ thống đã gửi mã OTP xác thực vào email bạn đã đăng ký. Vui lòng kiểm tra và điền mã xác
            nhận để hoàn tất đăng ký!
        </div>

        <!-- OTP field -->
        <mat-form-field class="w-full">
            <mat-label>Nhập mã OTP được gửi qua Email</mat-label>
            <input matInput
                   id="emailOtp"
                   formControlName="emailOtp"
                   [maxlength]="4"
                   inputMask maskType="number">
            <mat-icon class="icon-size-5"
                      [svgIcon]="'heroicons_solid:mail-open'"></mat-icon>
            <mat-error *ngIf="emailOtpForm.get('emailOtp')?.hasError('required')">
                Dữ liệu chưa được nhập
            </mat-error>
            <mat-error *ngIf="emailOtpForm.get('emailOtp')?.hasError('forbiddenOtp')
                            && !emailOtpForm.get('emailOtp')?.hasError('required')">
                Mã OTP không hợp lệ
            </mat-error>
        </mat-form-field>
        <div class="flex items-baseline mt-0.5 font-medium">
            <div>Bạn chưa nhận được mã?</div>
            <a class="ml-1 text-primary-500 hover:underline cursor-pointer"
               *ngIf="!resendTime"
               (click)="resendOtp(180)">
                Gửi lại
            </a>
            <a class="ml-1 text-primary-500 hover:underline"
               *ngIf="resendTime">
                {{resendTime}}
            </a>
        </div>

        <!-- Submit button -->
        <div class="text-center mt-6">
            <a mat-dialog-close
               mat-button
               [matTooltip]="'Huỷ'"
               class="mr-2">
                Huỷ
            </a>
            <button mat-flat-button
                    color="primary"
                    (click)="submitOtp()"
                    [disabled]="emailOtpForm.disabled">
                <span *ngIf="!emailOtpForm.disabled">
                    Xác nhận
                </span>
                <mat-progress-spinner *ngIf="emailOtpForm.disabled"
                                      [diameter]="24"
                                      [mode]="'indeterminate'">
                </mat-progress-spinner>
            </button>
        </div>
    </form>
</mat-dialog-content>
