<div class="relative">
    <mat-icon
        mat-dialog-close
        class="cursor-pointer absolute right-0 top-[4px] hover:text-gray-900"
    >
        close
    </mat-icon>
    <h2 mat-dialog-title class="flex items-center mb-10">
        <mat-icon class="mr-1">search</mat-icon>
        Tìm kiếm nâng cao
    </h2>
    <div
        mat-dialog-content
        class="mat-typography grid grid-cols-1
               sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-4
               xl:grid-cols-4 2xl:grid-cols-4 gap-4"
    >
        <!-------------- Text -------------->
        <mat-form-field class="col-span-2">
            <mat-label>Mã yêu cầu</mat-label>
            <input matInput type="text">
<!--            <mat-error *ngIf="isInvalidRequired(indexTab, payload.formGroupName, form.formControlName)">-->
<!--                {{ appConfig.form.errors.required }}-->
<!--            </mat-error>-->
<!--            <mat-error *ngIf="isInvalidPattern(indexTab, payload.formGroupName, form.formControlName)">-->
<!--                {{ appConfig.form.errors.pattern }}-->
<!--            </mat-error>-->
        </mat-form-field>

        <!-------------- Select -------------->
        <mat-form-field class="col-span-2">
            <mat-label>Trạng thái</mat-label>
            <mat-select>
                <mat-select-trigger>Chọn</mat-select-trigger>
                <mat-option
                    [value]="1"
                    class="min-h-15"
                >Soạn thảo</mat-option>
                <mat-option
                    [value]="1"
                    class="min-h-15"
                >Chờ phê duyệt</mat-option>
                <mat-option
                    [value]="1"
                    class="min-h-15"
                >Từ chối</mat-option>
            </mat-select>
            <!--            <mat-error *ngIf="isInvalidRequired(indexTab, payload.formGroupName, form.formControlName)">-->
            <!--                {{ appConfig.form.errors.required }}-->
            <!--            </mat-error>-->
            <!--            <mat-error *ngIf="isInvalidPattern(indexTab, payload.formGroupName, form.formControlName)">-->
            <!--                {{ appConfig.form.errors.pattern }}-->
            <!--            </mat-error>-->
        </mat-form-field>

        <!-------------- Date Picker -------------->
        <mat-form-field class="col-span-1">
            <mat-label>Ngày ghi nhận</mat-label>
            <input matInput type="text" [matDatepicker]="datepicker" placeholder="From">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
            <!--            <mat-error *ngIf="isInvalidRequired(indexTab, payload.formGroupName, form.formControlName)">-->
            <!--                {{ appConfig.form.errors.required }}-->
            <!--            </mat-error>-->
            <!--            <mat-error *ngIf="isInvalidPattern(indexTab, payload.formGroupName, form.formControlName)">-->
            <!--                {{ appConfig.form.errors.pattern }}-->
            <!--            </mat-error>-->
        </mat-form-field>
        <mat-form-field class="col-span-1">
            <mat-label></mat-label>
            <input matInput type="text" [matDatepicker]="datepicker" placeholder="To">
            <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
            <!--            <mat-error *ngIf="isInvalidRequired(indexTab, payload.formGroupName, form.formControlName)">-->
            <!--                {{ appConfig.form.errors.required }}-->
            <!--            </mat-error>-->
            <!--            <mat-error *ngIf="isInvalidPattern(indexTab, payload.formGroupName, form.formControlName)">-->
            <!--                {{ appConfig.form.errors.pattern }}-->
            <!--            </mat-error>-->
        </mat-form-field>
    </div>
    <mat-dialog-actions align="end">
        <button mat-flat-button class="mr-2">
            Nhập lại
        </button>
        <button
            mat-flat-button
            class="bg-yellow-400 text-white"
        >
            Tìm kiếm
        </button>
    </mat-dialog-actions>
</div>
