@media screen and (min-width: 768px) {
  ::ng-deep .mat-paginator .mat-paginator-container {
    justify-content: flex-end;
  }
}

.reWidth70 {
    width: 70% !important;
}
.arrow-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid rgb(226 232 240);
    top: -12px;
    right: 10px;

}

.cell-align-right {
    text-align: right;
}

.header-align-center,
.cell-align-center {
    text-align: center;
}

.sm-screen {
    visibility: hidden;
    display: none;
}


@media only screen and (max-width: 428px) {
    .title {
        font-size: 16px !important;
        width: 100%;
    }

    .md\:px-8 {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .sm\:justify-between {
        justify-content: space-between !important;
    }

    .sm\:items-center {
        align-items: center !important;
    }

    .sm\:flex-row {
        flex-direction: row !important;
    }

    .actions {
        visibility: hidden;
        display: none !important;

    }

    .sm-screen {
        visibility: visible;
        display: inline-block;
    }

}

.active-scroll {
    cursor: grabbing;
}

tr.detail-row {
    height: 0;
}

tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

// .element-row td {
//     //border-bottom-width: 0;
// }

.element-detail {
    overflow: hidden;
    display: flex;
}



