<div class="sm:absolute flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-white" *ngIf="!tableConfig.isViewDetail"
    @fadeOutLeft @slideInLeft [ngClass]="fullHeight ? 'sm:inset-0' : ''" [ngStyle]="containerStyle">
    <div *ngIf="tableConfig?.title"
        class="relative flex flex-col md:flex-row justify-start items-start md:items-center md:justify-between p-5 border-b gap-y-4">
        <div class="font-extrabold tracking-tight">
            <!-- <div class="flex items-center justify-start gap-2" *ngIf="!isSearchOpen"> -->
            <!-- <button (click)="callToggleDrawer()" class="block md:hidden" mat-icon-button>
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                </button> -->
            <div *ngIf="!hasSelected()" @fadeInTop class="text-2xl font-extrabold tracking-tight title">
                {{ tableConfig.title }}
            </div>
            <!-- </div> -->
            <div [matTooltip]="tableConfig.title" *ngIf="hasSelected()" @fadeInLeft
                class="text-1xl font-extrabold tracking-tight">
                {{ tableConfig.title }}
            </div>
            <div class="flex gap-2.5 m-2 fadeInBottom" *ngIf="hasSelected() && tableConfigBtns" @fadeInBottom>
                <ng-container *ngIf="tableConfigBtns.commonBtn && tableConfigBtns.commonBtn.length > 0">
                    <ng-container *ngFor="let btn of tableConfigBtns.commonBtn;">
                        <button mat-stroked-button [color]="'primary'" *ngIf="(btn.role | permission)"
                            class="bg-primary-blue-6 !border-none" [disabled]="disabedBtn(btn.type)"
                            (click)="handleTableAction(btn.type, btn.fileName)">
                            <mat-icon *ngIf="btn.type == 'edit'" svgIcon="{{btn.icon ?? 'feather:edit' }}"
                                class="mr-2 icon-size-4"></mat-icon>
                            <mat-icon *ngIf="btn.type == 'deleted'" svgIcon="{{btn.icon ?? 'feather:trash-2' }}"
                                class="mr-2 icon-size-4"></mat-icon>
                            <mat-icon *ngIf="btn.type == 'lock'" svgIcon="{{btn.icon ?? 'feather:lock' }}"
                                class="mr-2 icon-size-4"></mat-icon>
                            <mat-icon *ngIf="btn.type == 'unlock'" svgIcon="{{btn.icon ?? 'feather:unlock' }}"
                                class="mr-2 icon-size-4"></mat-icon>
                            <img *ngIf="btn.type == 'export'" src="assets/images/icon/file-down.svg" alt="icon"
                                class="mr-2 h-4 w-4">
                            <!-- <mat-icon *ngIf="btn.type == 'export'"  svgIcon="{{btn.icon ?? 'feather:file-text' }}" class="mr-2 icon-size-4"></mat-icon> -->
                            <mat-icon *ngIf="btn.type == 'sign-process'" svgIcon="{{btn.icon ?? 'feather:send' }}"
                                class="mr-2 icon-size-4"></mat-icon>
                            <mat-icon *ngIf="btn.type == 'approve'" svgIcon="{{btn.icon ?? 'feather:edit-3' }}"
                                class="mr-2 icon-size-4"></mat-icon>
                            <span *ngIf="btn.label">{{btn.label}}</span>
                            <span *ngIf="!btn.label">{{btn.type == 'edit' ? 'Sửa' : ''}}</span>
                            <span *ngIf="!btn.label">{{btn.type == 'deleted' ? 'Xoá' : ''}}</span>
                            <span *ngIf="!btn.label">{{btn.type == 'lock' ? 'Khoá' : ''}}</span>
                            <span *ngIf="!btn.label">{{btn.type == 'unlock' ? 'Mở khoá' : ''}}</span>
                            <span *ngIf="!btn.label">{{btn.type == 'export' ? 'Xuất tài liệu' : ''}}</span>
                            <span *ngIf="!btn.label">{{btn.type == 'approve' ? 'Phê duyệt' : ''}}</span>
                            <span *ngIf="!btn.label">{{btn.type == 'sign-process' ? 'Trinh ký' : ''}}</span>
                        </button>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="tableConfigBtns.otherBtn && tableConfigBtns.otherBtn.length > 0">
                    <ng-container *ngFor="let btn of tableConfigBtns.otherBtn;">
                        <button mat-stroked-button [color]="'primary'" class="bg-primary-blue-6 !border-none"
                            *ngIf="(btn.role | permission)" [disabled]="!selectionModel.hasValue()"
                            (click)="onBtnClick(btn.action)">
                            <!-- <mat-icon [svgIcon]="btn.icon"
                                      class="mr-2 icon-size-4"></mat-icon> -->
                            <span>{{ btn.label }}</span>
                        </button>
                    </ng-container>
                </ng-container>
            </div>
        </div>
        <!-- Mobile Actions -->
        <div class="flex relative shrink-0 items-center md:hidden w-full" *ngIf="taskbarConfig">
            <div class="flex items-center gap-4 w-full" *ngIf="taskbarConfig.searchBar && isSearchOpen">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64 w-full">
                    <button matPrefix>
                        <mat-icon [svgIcon]="'feather:search'"></mat-icon>
                    </button>
                    <input matInput trim="blur" *ngIf=" taskbarConfig.searchBar.searchBarRole | permission"
                        [(ngModel)]="searchInputControl" placeholder="Tìm kiếm" (input)="onSearchQueryInput($event)"
                        [autocomplete]="'off'" autoFocus>
                    <button mat-icon-button
                        *ngIf="taskbarConfig.searchBar.isShowBtnFilter && ( taskbarConfig.searchBar.btnFilterRole | permission)"
                        matSuffix (click)="onBtnClick('advanced-search')" [disabled]="selectionModel.hasValue()">
                        <mat-icon svgIcon="heroicons_outline:adjustments"></mat-icon>
                    </button>
                </mat-form-field>
                <button mat-icon-button (click)="onClickSearchIcon(false)">
                    <mat-icon svgIcon="heroicons_outline:x"></mat-icon>
                </button>
            </div>
            <div *ngIf="!isSearchOpen">
                <button mat-icon-button>
                    <mat-icon (click)="onClickSearchIcon(true)" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                </button>
                <ng-container *ngFor="let btn of taskbarConfig.otherBtn">
                    <button *ngIf="btn.isBtn && (btn.role | permission)" mat-icon-button
                        (click)="onBtnClick(btn.action)">
                        <mat-icon [svgIcon]="btn.icon"></mat-icon>
                    </button>
                    <button class="btn-open-config" *ngIf="btn.isConfigDatatable" (click)="toggleConfig($event)"
                        mat-icon-button>
                        <mat-icon [svgIcon]="btn.icon"></mat-icon>
                    </button>
                    <!-- Dropdown config -->
                    <div *ngIf="btn.isConfigDatatable && isShowConfig" #configPanel class="absolute right-0 top-12 w-64 max-w-[90vw] origin-top-right rounded-xl
                    bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none
                     p-4 z-[9999]" (click)="$event.stopPropagation()">
                        <div class="flex flex-col gap-1.5 max-h-[70vh] overflow-y-auto">
                            <ng-container *ngFor="let item of columnDefinition">
                                <mat-checkbox *ngIf="item.id !== 'selection'" (click)="$event.stopPropagation()"
                                    (change)="onItemChecked(item)" color="primary" [checked]="item.isShow">
                                    {{ item.name }}
                                </mat-checkbox>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- Actions -->
        <div class="hidden relative md:flex flex-col md:flex-row items-center justify-between md:space-x-4"
            *ngIf="taskbarConfig">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64 w-full"
                *ngIf="taskbarConfig.searchBar && !isStatisticalReport()">
                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'feather:search'"></mat-icon>
                <input matInput trim="blur" [(ngModel)]="searchInputControl" placeholder="Tìm kiếm"
                    (input)="onSearchQueryInput($event)" [autocomplete]="'off'">
                <button [matTooltip]="'Tìm kiếm nâng cao'" mat-icon-button
                    *ngIf="taskbarConfig.searchBar.isShowBtnFilter" matSuffix (click)="onBtnClick('advanced-search')"
                    [disabled]="selectionModel.hasValue()">
                    <mat-icon svgIcon="heroicons_outline:adjustments"></mat-icon>
                </button>
            </mat-form-field>

            <button mat-flat-button color="primary" class="w-full"
                *ngIf="taskbarConfig.searchBar.isShowBtnFilter && isStatisticalReport()"
                (click)="onBtnClick('advanced-search')" [disabled]="selectionModel.hasValue()">
                Tìm kiếm nâng cao
            </button>
            <!-- Button group area -->
            <ng-container *ngFor="let btn of taskbarConfig.otherBtn">
                <button class="w-full" *ngIf="btn.isBtn && (btn.role | permission)"
                    [ngClass]="[btn.buttonType ? btn.buttonType : 'mat-flat-button']" mat-flat-button
                    [color]="btn.color ? btn.color : 'primary'" (click)="onBtnClick(btn.action)">
                    <ng-container *ngIf="btn.icon">
                        <mat-icon [svgIcon]="btn.icon"></mat-icon>
                    </ng-container>
                    <span class="ml-2 mr-1" *ngIf="btn.label">{{btn.label}}</span>
                </button>
                <!-- <button *ngIf="btn.isConfigDatatable" class="ml-3 relative" (click)="showBtnConfig()" mat-icon-button>
                    <mat-icon [svgIcon]="btn.icon"></mat-icon>
                </button>
                <div *ngIf="btn.isConfigDatatable && isShowConfig"
                    class="absolute right-0 mt-2 w-64 origin-top-right rounded-xl bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none p-4 z-99">
                    <div class="content-config flex flex-col gap-1">
                        <ng-container *ngFor="let item of columnDefinition">
                            <mat-checkbox *ngIf="item.id !== 'selection'" (change)="onItemChecked(item)" color="primary"
                                [checked]="item.isShow">{{item.name}}</mat-checkbox>
                        </ng-container>
                    </div>
                    <div class="arrow-up"></div>
                </div> -->
                <!-- Nút Setting -->
                <button class="btn-open-config" *ngIf="btn.isConfigDatatable" (click)="toggleConfig($event)"
                    mat-icon-button>
                    <mat-icon [svgIcon]="btn.icon"></mat-icon>
                </button>

                <!-- Dropdown config -->
                <div *ngIf="btn.isConfigDatatable && isShowConfig" #configPanel class="absolute right-0 top-12 w-64 max-w-[90vw] origin-top-right rounded-xl
                    bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none
                    p-5 z-[9999]" (click)="$event.stopPropagation()">
                    <div class="flex flex-col gap-1.5 max-h-[70vh] overflow-y-auto">
                        <ng-container *ngFor="let item of columnDefinition">
                            <mat-checkbox *ngIf="item.id !== 'selection'" (click)="$event.stopPropagation()"
                                (change)="onItemChecked(item)" color="primary" [checked]="item.isShow">
                                {{ item.name }}
                            </mat-checkbox>
                        </ng-container>
                    </div>
                </div>

            </ng-container>
        </div>
    </div>
    <div *ngIf="displayColumns.length > 0 && (dataSource | async)" [@fadeOutTop]="tableConfig.isViewDetail !== false"
        [@fadeOutBottom]="tableConfig.isViewDetail === false" class="flex flex-auto overflow-hidden relative">
        <div class="flex flex-col flex-auto mb-32 sm:mb-18 overflow-y-auto">
            <table mat-table #matTable [dataSource]="(dataSource | async)?.content || []"
                (matSortChange)="handleSort.emit($event)" multiTemplateDataRows>
                <ng-container *ngFor="let column of columnDefinition" [matColumnDef]="column.id"
                    [sticky]="column.sticky" [stickyEnd]="column.stickyEnd">

                    <ng-container [ngSwitch]="column.type">
                        <!-- ::::::::::::::::::::::::::::::::::INDEX:::::::::::::::::::::::::::::::::::::::: -->
                        <div *ngSwitchCase="'index'">
                            <th *matHeaderCellDef mat-header-cell [class.header-align-center]="column.alignCenter"
                                [ngStyle]="{ 'padding-left' : '20px',width: '50px', 'min-width': '50px' }">
                                <div class="cell-overflow table-header">
                                    {{ column.name }}
                                </div>
                            </th>
                            <td *matCellDef="let row; let j = dataIndex" mat-cell
                                [class.cell-align-center]="column.alignCenter"
                                [ngStyle]="{ 'padding-left' : '20px',width: '50px', 'min-width': '50px' }">
                                <div class="cell-overflow">
                                    {{
                                    (j + 1) + ((dataSource | async).size * ((dataSource | async).number))
                                    }}
                                </div>
                            </td>
                        </div>
                        <!-- ::::::::::::::::::::::::::::::::::EXPAND COLUMN:::::::::::::::::::::::::::::::::::::::: -->
                        <div *ngSwitchCase="'expand-column'">
                            <th *matHeaderCellDef mat-header-cell [class.header-align-center]="true"
                                [ngStyle]="{ 'padding-left' : '20px',width: '50px', 'min-width': '50px' }">
                                <div class="cell-overflow table-header">
                                    {{ column.name }}
                                </div>
                            </th>
                            <td *matCellDef="let element; let row; let j = dataIndex" mat-cell
                                [class.cell-align-center]="true"
                                [ngStyle]="{ 'padding-left' : '20px',width: '50px', 'min-width': '50px' }">
                                <div class="cell-overflow flex justify-center items-center">
                                    <button mat-icon-button aria-label="expand row"
                                        (click)="onExpandRow($event, element)">
                                        <mat-icon *ngIf="this.isElementExits(element)">keyboard_arrow_down</mat-icon>
                                        <mat-icon *ngIf="!this.isElementExits(element)">keyboard_arrow_right</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </div>

                        <!-- ::::::::::::::::::::::::::::::::::TEXT:::::::::::::::::::::::::::::::::::::::: -->
                        <div *ngSwitchCase="'text'">
                            <th *matHeaderCellDef mat-header-cell [ngStyle]="{
                                'text-align' :  column.alignRight ? 'right' : 'left',
                                'padding-left' : column.alignRight ? '20px': '10px',
                                'width': ((column.weight || 0)*10) + 'px',
                                'min-width': ((column.weight || 0)*10) + 'px'}">
                                {{ column.name }}
                            </th>
                            <td (click)="handleRowClick(row, j, column)" [ngClass]="column.className"
                                *matCellDef="let element;let row; let j = dataIndex" mat-cell class="overflow"
                                [ngStyle]="{
                                'padding-left' : column.alignRight ? '20px': '10px',
                                    'text-align' :  column.alignRight ? 'right' : 'left',
                                    'width': ((column.weight || 0)*10) + 'px',
                                    'min-width': ((column.weight || 0)*10) + 'px',
                                    'cursor': (column.viewDetail)?'pointer' : 'default' }"
                                [class.cell-align-right]="column.alignRight"
                                [class.cell-align-center]="column.alignCenter">
                                <span *ngIf="!column.format && !column.viewDetail">
                                    {{ !utils.getValueByKey(element, column.id) ? '-' :
                                    utils.getValueByKey(element, column.id)}}
                                </span>
                                <span *ngIf="!column.format && column.viewDetail"
                                    class="hover:cursor-pointer text-link">
                                    {{ !utils.getValueByKey(element, column.id) ? '-' :
                                    utils.getValueByKey(element, column.id)}}
                                </span>

                                <span *ngIf="column && column.format && isNumber(column.format)">
                                    {{ utils.getValueByKey(element, column.id) | currencyFormatPipe:
                                    pipeNumber(column.format) }}
                                </span>
                                <span *ngIf="column && column.format && isDateTime(column.format)">
                                    {{ utils.getValueByKey(element, column.id) | datetimeformat:
                                    column.format.toString() }}
                                </span>
                            </td>
                        </div>
                        <!-- ::::::::::::::::::::::::::::::::::TEXT TOOL TIP:::::::::::::::::::::::::::::::::::::::: -->
                        <div *ngSwitchCase="'text-tool-tip'">
                            <th *matHeaderCellDef mat-header-cell [ngStyle]="{
                                'text-align' :  column.alignRight ? 'right' : 'left',
                                'padding-left' : column.alignRight ? '20px': '10px',
                                'width': ((column.weight || 0)*10) + 'px',
                                'min-width': ((column.weight || 0)*10) + 'px'}">
                                {{ column.name }}
                            </th>
                            <td (click)="handleRowClick(row, j, column)" [ngClass]="column.className"
                                *matCellDef="let element;let row; let j = dataIndex" mat-cell class="overflow"
                                [ngStyle]="{
                                'padding-left' : column.alignRight ? '20px': '10px',
                                    'text-align' :  column.alignRight ? 'right' : 'left',
                                    'width': ((column.weight || 0)*10) + 'px',
                                    'min-width': ((column.weight || 0)*10) + 'px',
                                    'cursor': (column.viewDetail)?'pointer' : 'default' }"
                                [class.cell-align-right]="column.alignRight"
                                [class.cell-align-center]="column.alignCenter">
                                <span class="line-clamp-1" *ngIf="!column.format && !column.viewDetail" [matTooltip]="!utils.getValueByKey(element, column.id) ? '-' :
                                    utils.getValueByKey(element, column.id)">
                                    {{ !utils.getValueByKey(element, column.id) ? '-' :
                                    utils.getValueByKey(element, column.id)}}
                                </span>
                                <span *ngIf="!column.format && column.viewDetail"
                                    class="hover:cursor-pointer text-link line-clamp-1" [matTooltip]="!utils.getValueByKey(element, column.id) ? '-' :
                                    utils.getValueByKey(element, column.id)">
                                    {{ !utils.getValueByKey(element, column.id) ? '-' :
                                    utils.getValueByKey(element, column.id)}}
                                </span>

                                <span class="line-clamp-1" *ngIf="column && column.format && isNumber(column.format)"
                                    [matTooltip]="utils.getValueByKey(element, column.id) | currencyFormatPipe:
                                    pipeNumber(column.format)">
                                    {{ utils.getValueByKey(element, column.id) | currencyFormatPipe:
                                    pipeNumber(column.format) }}
                                </span>
                                <span class="line-clamp-1" *ngIf="column && column.format && isDateTime(column.format)"
                                    [matTooltip]="utils.getValueByKey(element, column.id) | datetimeformat:
                                    column.format.toString()">
                                    {{ utils.getValueByKey(element, column.id) | datetimeformat:
                                    column.format.toString() }}
                                </span>
                            </td>
                        </div>
                        <!-- ::::::::::::::::::::::::::::::::::STATUS:::::::::::::::::::::::::::::::::::::::: -->
                        <div *ngSwitchCase="'status'">
                            <th *matHeaderCellDef mat-header-cell
                                [ngStyle]="{'padding-left' : '5px','width': ((column.weight || 0)*10) + 'px', 'min-width': ((column.weight || 0)*10) + 'px'}">
                                {{ column.name }}
                            </th>
                            <td *matCellDef="let element" mat-cell class="overflow"
                                [ngStyle]="{ 'padding-left' : '5px','width': ((column.weight || 0)*10) + 'px' , 'min-width': ((column.weight || 0)*10) + 'px'}"
                                [class.cell-align-right]="column.alignRight"
                                [class.cell-align-center]="column.alignCenter">
                                <span>
                                    {{ column.statusObject[element[column.id]] }}
                                </span>
                            </td>
                        </div>
                        <!-- ::::::::::::::::::::::::::::::::::SELECT CHECKBOX:::::::::::::::::::::::::::::::::::::::: -->
                        <div *ngSwitchCase="'selection'">
                            <th *matHeaderCellDef mat-header-cell
                                [ngStyle]="{'padding-left' : '5px','width': '50px', 'min-width': '50px'}"
                                [class.cell-align-center]="column.alignCenter">
                                <mat-checkbox *ngIf="column.showSelectAll" class="checkbox" color="primary"
                                    (change)="$event ? toggleAllRows($event) : null"
                                    [checked]="selectionModel.hasValue() && isAllSelected()"
                                    [indeterminate]="selectionModel.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row"
                                [ngStyle]="{'padding-left' : '5px','width': '50px', 'min-width': '50px'}"
                                [class.cell-align-center]="column.alignCenter">
                                <mat-checkbox class="checkbox" color="primary" (click)="$event.stopPropagation()"
                                    (change)="$event ? onCheckBoxItemChange(row) : null"
                                    [checked]="selectionModel.hasValue() && isAllSelected() ? true : isSelectedItem(row)">
                                </mat-checkbox>
                            </td>
                        </div>

                        <!-- ::::::::::::::::::::::::::::::::::BUTTON ACTION:::::::::::::::::::::::::::::::::::::::: -->
                        <div *ngSwitchCase="'button-action'">
                            <th *matHeaderCellDef mat-header-cell
                                [ngStyle]="{'width': ((column.weight || 0)*10) + 'px', 'min-width': ((column.weight || 0)*10) + 'px'}">
                                {{ column.name }}
                            </th>
                            <td mat-cell *matCellDef="let row" [ngStyle]="{'width': '50px', 'min-width': '50px'}"
                                [class.cell-align-center]="column.alignCenter">
                                <button mat-flat-button [color]="column.format" (click)="onButtonClick(row)">{{
                                    column.textButton }}</button>
                            </td>
                        </div>

                        <!-- ::::::::::::::::::::::::::::::::::checked:::::::::::::::::::::::::::::::::::::::: -->
                        <div *ngSwitchCase="'checked'">
                            <th *matHeaderCellDef mat-header-cell
                                [ngStyle]="{'width': ((column.weight || 0)*10) + 'px', 'min-width': ((column.weight || 0)*10) + 'px'}">
                                {{ column.name }}
                            </th>
                            <td mat-cell *matCellDef="let element; let row"
                                [ngStyle]="{'width': '50px', 'min-width': '50px'}"
                                [class.cell-align-center]="column.alignCenter">
                                <mat-checkbox class="checkbox" color="primary" (click)="$event.stopPropagation()"
                                    [checked]="!utils.getValueByKey(element, column.id) ? false :
                                              utils.getValueByKey(element, column.id) === 1 ? true : false"
                                    [disabled]="true">
                                </mat-checkbox>
                            </td>
                        </div>
                        <!-- ::::::::::::::::::::::::::::::::::TRANSACTION AMOUNT:::::::::::::::::::::::::::::::::::::::: -->
                        <ng-container *ngSwitchCase="'transaction-amount'">
                            <th *matHeaderCellDef mat-header-cell
                                [ngStyle]="{
                                    'text-align': column.alignRight ? 'right' : 'left',
                                    'padding-left': column.alignRight ? '20px' : '10px',
                                    'width': ((column.weight || 0) * 10) + 'px',
                                    'min-width': ((column.weight || 0) * 10) + 'px'
                                }">
                                {{ column.name }}
                            </th>

                            <td *matCellDef="let element" mat-cell
                                [ngStyle]="{
                                    'text-align': column.alignRight ? 'right' : 'left',
                                    'padding-left': column.alignRight ? '20px' : '10px',
                                    'width': ((column.weight || 0) * 10) + 'px',
                                    'min-width': ((column.weight || 0) * 10) + 'px'
                                }"
                                [class.cell-align-right]="column.alignRight"
                                [class.cell-align-center]="column.alignCenter">

                                <ng-container *ngIf="element.oldAmount != null && element.newAmount != null">
                                    <span
                                        class="font-semibold"
                                        [ngClass]="{
                                        'text-[#16a34a]': element.newAmount > element.oldAmount,
                                        'text-[#ef4444]': element.newAmount < element.oldAmount
                                        }">
                                        {{ element.newAmount > element.oldAmount ? '+' : element.newAmount < element.oldAmount ? '-' : '' }}
                                        {{ (element.amount ?? utils.getValueByKey(element, column.id)) | number:'1.0-0' }}
                                    </span>
                                </ng-container>

                                <ng-container *ngIf="element.oldAmount == null || element.newAmount == null">
                                    <span class="text-gray-500">-</span>
                                </ng-container>
                            </td>
                        </ng-container>
                        <!-- ::::::::::::::::::::::::::::::::::TextColor:::::::::::::::::::::::::::::::::::::::: -->
                        <div *ngSwitchCase="'text-color'">
                            <th *matHeaderCellDef mat-header-cell
                                [ngStyle]="{'padding-left' : '5px','width': ((column.weight || 0)*10) + 'px', 'min-width': ((column.weight || 0)*10) + 'px'}">
                                {{ column.name }}
                            </th>
                            <td *matCellDef="let element" mat-cell class="overflow"
                                [ngStyle]="{ 'padding-left' : '5px','width': ((column.weight || 0)*10) + 'px' , 'min-width': ((column.weight || 0)*10) + 'px'}"
                                [class.cell-align-right]="column.alignRight"
                                [class.cell-align-center]="column.alignCenter">
                                <span [ngStyle]="{'color': column.statusObject[element[column.mapId]]}">
                                    {{ element[column.id] }}
                                </span>
                            </td>
                        </div>

                        <!-- ::::::::::::::::::::::::::::::::::footer:::::::::::::::::::::::::::::::::::::::: -->
                        <ng-container *ngIf="tableConfig.showFooter">
                            <ng-container *ngIf="column.type == 'selection'">
                                <td mat-footer-cell *matFooterCellDef>
                                    {{column.id}}
                                </td>
                            </ng-container>
                            <ng-container *ngIf="column.type == 'index'">
                                <td mat-footer-cell *matFooterCellDef>
                                    {{column.id}}
                                </td>
                            </ng-container>
                            <ng-container *ngIf="column.type !== 'index' && column.type !== 'selection'">
                                <td mat-footer-cell *matFooterCellDef>
                                    {{column.id}}
                                </td>
                            </ng-container>
                        </ng-container>

                    </ng-container>

                </ng-container>
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element; let j = dataIndex" [attr.colspan]="displayColumns.length">
                        <div class="element-detail"
                            [@expandCollapse]="this.isElementExits(element) ? 'expanded' : 'collapsed'">
                            <ng-container *ngTemplateOutlet="tableChild; context: { $implicit: element }">

                            </ng-container>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row class="bg-primary-grayNeutral-5" *matHeaderRowDef="displayColumns; sticky: true">
                </tr>
                <ng-container *ngIf="tableConfig.showFooter">
                    <tr mat-footer-row *matFooterRowDef="footerColumns" class="example-first-footer-row font-bold">
                    </tr>
                </ng-container>
                <tr mat-row class="hover:bg-accent-50 element-row" [ngStyle]="styleObject(selectedRowIndex, idx)"
                    [class.expanded-row]="this.isElementExits(element)"
                    *matRowDef="let element; let row; columns: displayColumns; let idx = index"></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                <tr *matNoDataRow>
                    <td [attr.colspan]="displayColumns.length">
                        <app-no-data></app-no-data>
                    </td>
                </tr>
            </table>

            <mat-paginator *ngIf="(dataSource | async)?.totalElements > 0"
                class="absolute inset-x-0 border-b sm:border-t sm:border-b-0 z-10 bg-white {{ tableConfig.displayScollX ?'bottom-2' : 'bottom-0'}}"
                [pageSizeOptions]="pageSizeOptions" [length]="(dataSource | async)?.totalElements"
                [pageIndex]="(dataSource | async)?.number" [pageSize]="(dataSource | async)?.size"
                [showFirstLastButtons]="true" (page)="pageSwitch.emit($event)">
            </mat-paginator>
            <!-- <app-custom-paginator
                [length]="(dataSource | async)?.totalElements"
                [pageSize]="(dataSource | async)?.size"
                [pageIndex]="(dataSource | async)?.number"
                [pageSizeOptions]="[10, 25, 50, 75, 100]"
                (page)="pageSwitch.emit($event)">
            </app-custom-paginator> -->

            <!-- </ng-template> -->
        </div>
        <ng-container class="w-full">
            <div class="absolute bottom-3 left-4 z-999">
                <div class="text-2xl font-extrabold text-primary-blue-2">
                    <ul *ngFor="let footer of footerTable;">
                        <li>
                            {{ footer.label }} {{ footer.value | number }} {{ footer.type }}
                            <p *ngIf="footer.note !== ''" class="text-sm italic text-slate-500">{{footer.note}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-container>
    </div>
</div>