<div class="flex flex-col max-w-240 md:min-w-160 -m-6" style="max-height: 90vh">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Định giá tài sản bảo đảm</div>
        <button mat-icon-button>
            <mat-icon class="text-current"
                      [svgIcon]="'heroicons_outline:x'"
                      (click)="closeDialog()"></mat-icon>
        </button>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto" [formGroup]="formGroup">
        <mat-form-field class="w-full">
            <mat-label>Lần định giá</mat-label>
            <input
                matInput
                formControlName="valuationName"
                id="valuationName"
            >
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Tên tài sản</mat-label>
            <input
                matInput
                formControlName="admCollateralName"
                id="admCollateralName"
            >
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Giá trị định giá tài sản (VNĐ)</mat-label>
            <input id="amount"
                   [maxlength]="15" [required]="true"
                   matInput
                   currencyMask autocomplete="off"
                   class="text-left"
                   (ngModelChange)="upadteGuaranteedRate($event)"
                   [options]="{ prefix: '', thousands: ',', precision: 0, allowNegative: false }"
                   formControlName="amount">
            <mat-error *ngIf="formGroup.get('amount').hasError('required')">
                {{ 'QLVV214' | transloco }}
            </mat-error>

            <mat-error *ngIf="formGroup.get('amount').hasError('maxlength')">
                {{ 'QLVV214' | transloco }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Tỷ lệ bảo đảm (%)</mat-label>
            <input id="guaranteedRate"
                   readonly
                   matInput
                   class="text-left"
                   formControlName="guaranteedRate">
            <mat-error *ngIf="formGroup.get('guaranteedRate').hasError('required')">
                Tỷ lệ bảo đảm không được bỏ trống
            </mat-error>
        </mat-form-field>
        <div class="w-full mb-4">
            <app-dropzone
                topTitle="Hồ sơ pháp lý liên quan đến tài sản"
                title="Tải tệp lên"
                styleClass="h-12 mt-[3px]"
                class="w-full"
                previewClass="max-w-fit w-full"
                [formGroup]="formGroup"
                field="fileId"
                [isRequired]="true"
                [multiple]="true"
                [maxFile]="10"
                [maxFileSize]="10"
                requiredMsg="QLVV176"
            ></app-dropzone>
        </div>
        <div class="flex flex-row w-full gap-4">
            <mat-form-field class="w-1/2">
                <mat-label>Ngày tạo</mat-label>
                <input id="createdDate"
                       matInput
                       readonly
                       formControlName="createdDate">
            </mat-form-field>
            <mat-form-field class="w-1/2">
                <mat-label>Người tạo</mat-label>
                <input id="createdByName"
                       matInput
                       readonly
                       formControlName="createdByName">
            </mat-form-field>
        </div>
        <div class="flex flex-row w-full gap-4">
            <mat-form-field class="w-1/2">
                <mat-label>Ngày cập nhật</mat-label>
                <input id="lastUpdatedDate"
                       matInput
                       readonly
                       formControlName="lastUpdatedDate">
            </mat-form-field>
            <mat-form-field class="w-1/2">
                <mat-label>Người cập nhật</mat-label>
                <input id="lastUpdatedByName"
                       matInput
                       readonly
                       formControlName="lastUpdatedByName">
            </mat-form-field>
        </div>
    </div>

    <!-- Action -->
    <div class="flex flex-col sm:flex-row sm:items-center justify-end mb-4 sm:mb-6 pr-8 sm:pr-8">
        <div class="flex items-center mt-4 sm:mt-0">
            <button class="ml-2"
                    mat-stroked-button
                    (click)="closeDialog()"
            >
                Đóng
            </button>
            <button
                mat-flat-button
                color="primary"
                class="ml-2"
                (click)="onSubmit()"
            >
                Lưu
            </button>
        </div>
    </div>
</div>
