<mat-drawer-container
    class="flex-auto h-full bg-card dark:bg-transparent ">

    <mat-drawer
        class="w-full sm:w-100"
        [mode]="'side'"
        [opened]="false"
        [position]="'end'"
        #fileDrawer>
        <file-detail
            [fileDrawer]="fileDrawer"
            [selectedFile]="selectedFile"
        ></file-detail>
    </mat-drawer>

    <mat-drawer-content class="flex flex-col overflow-hidden">
        <div @fadeInTop
             class="text-4xl font-extrabold tracking-tight">
            THÔNG TIN HỒ SƠ HUY ĐỘNG VỐN
        </div>
        <div class="flex items-center justify-end absolute top-2 right-2 z-30">
            <a
                class="ml-auto sm:ml-0"
                mat-stroked-button
                [matTooltip]="'Đóng'"
                (click)="onClose()">
                Đóng
            </a>
            <a @fadeInRight
               *ngIf=" 'INVESTOR_MANUAL_MANUAL_INVEST' | permission"
               mat-flat-button
               color="primary"
               class="ml-5"
               (click)="onInvest()"
               [matTooltip]="'Đầu tư'">
                Đầu tư
            </a>
        </div>
        <mat-tab-group class="py-5 shadow overflow-y-auto" cdkScrollable
                       *ngIf="(profileDetails | async) as profileDetailsData">
            <mat-tab label="Chi tiết hồ sơ">
                <div class="grid grid-cols-4 gap-5 pb-5">
                    <app-radial-bar-chart
                        title="Điểm tài chính"
                        color="#4c84fc"
                        [hideLabel]="true"
                        [score]="profileDetailsData.financialScoreChart"
                    ></app-radial-bar-chart>
                    <app-radial-bar-chart
                        title="Điểm định tính"
                        color="#5cc9ff"
                        [hideLabel]="true"
                        [score]="profileDetailsData.qualitativeScoreChart"
                    ></app-radial-bar-chart>
                    <app-radial-bar-chart
                        title="Điểm tổng cộng"
                        color="#2ebf7e"
                        [hideLabel]="true"
                        [score]="profileDetailsData.totalScoreChart"
                    ></app-radial-bar-chart>
                    <!-- <app-radial-bar-chart
                         title="Khả năng mất vốn (%)"
                         [hideLabel]="true"
                         [score]="profileDetailsData.riskRateChart"
                     ></app-radial-bar-chart>-->
                </div>
                <div class="grid grid-cols-4 gap-5 pb-5">
                    <article class="prose break-words">
                        <p>Số hồ sơ: <br> <b>{{ profileDetailsData.fsLoanProfilesId }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Số tiền huy động(VNĐ): <br> <b>{{ profileDetailsData.amount | currencyFormatPipe : 10 }}</b>
                        </p>
                    </article>
                    <article class="prose break-words">
                        <p>Kỳ hạn(ngày): <br> <b>{{ profileDetailsData.loanTimeCycle }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Lãi suất(%/năm): <br> <b>{{ profileDetailsData.rate }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Hình thức huy động vốn: <br> <b>{{ profileDetailsData.raisingCapitalName }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Mục đích: <br> <b>{{ profileDetailsData.reasonsName }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Hình thức bảo đảm: <br> <b>{{ profileDetailsData.collateralTypeName }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Trạng thái hồ sơ: <br> <b>{{ statusTextMap[profileDetailsData.status] }}</b></p>
                    </article>
                    <article class="prose break-words">
                        <p>Chi tiết: <br> <b>{{ profileDetailsData.info }}</b></p>
                    </article>
                </div>
                <mat-divider class="pb-5"></mat-divider>
                <!--                <article class="prose mt-5">-->
                <!--                    <h4>Báo cáo tài chính ngân hàng</h4>-->
                <!--                </article>-->
                <!--                <div class="flex flex-wrap">-->
                <!--                    <file-ui *ngFor="let file of financialStatement" [file]="file"-->
                <!--                             (click)="onClickFile(file)"></file-ui>-->
                <!--                </div>-->
                <article class="prose mt-5">
                    <h4>Báo cáo đánh giá hồ sơ huy động vốn</h4>
                </article>
                <div class="flex flex-wrap">
                    <file-ui *ngFor="let file of reportLoanProfileAtt" [file]="file"
                             (click)="onClickFile(file)"></file-ui>
                </div>
            </mat-tab>
            <mat-tab label="Chi tiết người huy động">
                <fuse-card class="flex flex-col px-8 pb-4 " style="min-height: 600px;"
                           *ngIf="profileDetailsData.lender.type === userType.CA_NHAN">
                    <article class="prose">
                        <h4>Thông tin cá nhân</h4>
                    </article>
                    <div class="grid grid-rows-4 grid-cols-4  gap-5 pt-5">
                        <div class="row-span-3 ...">
                            <div class="w-full h-50 avatar"
                                 [ngStyle]="{
                                    'background-image':'url('+ (avatar && avatar?.contentBase64 ? avatar.contentBase64 : 'assets/images/avatars/defaut-avatar-' +((profileDetailsData?.lender?.genderName == 'Nam') ? 'man' : 'woman')+ '.png') +')',
                                    'background-size':     'contain',
                                    'background-repeat':   'no-repeat',
                                    'background-position': 'center center',
                                    'border': '1px solid #ccc',
                                    'border-radius': '25px'
                                 }"></div>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Họ và tên: <br> <b>{{ profileDetailsData.lender.fullName }}</b></p>
                            </article>
                        </div>

                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>SĐT liên hệ: <br> <b>{{ profileDetailsData.lender.mobile }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Email: <br> <b>{{ profileDetailsData.lender.email }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>CCCD/Hộ chiếu: <br> <b>{{ profileDetailsData.lender.identification }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Ngày cấp: <br>
                                    <b>{{ profileDetailsData.lender.dateOfIdnumber | datetimeformat : 'DD/MM/YYYY' }}</b>
                                </p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Nơi cấp: <br> <b>{{ profileDetailsData.lender.placeOfIdnumber }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Giới tính: <br> <b>{{ profileDetailsData.lender.genderName }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Ngày sinh: <br>
                                    <b>{{ profileDetailsData.lender.dateOfBirth | datetimeformat : 'DD/MM/YYYY' }}</b>
                                </p>
                            </article>
                        </div>

                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Tình trạng hôn nhân: <br> <b>{{ profileDetailsData.lender.maritalName }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Nghề nghiệp: <br> <b>{{ profileDetailsData.lender.jobName }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Đơn vị công tác: <br> <b>{{ profileDetailsData.lender.jobAddress }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>MST cá nhân: <br> <b>{{ profileDetailsData.lender.taxCode }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Trang Facebook: <br> <b><a target="_blank" [href]="profileDetailsData.lender.facebook">{{ profileDetailsData.lender.facebook }}</a></b></p>
                            </article>
                        </div>
                        
                        <div class="col-span-2 ...">
                            <article class="prose break-words">
                                <p>Địa chỉ thường trú: <br> <b>{{ profileDetailsData.lender.address2 }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-2 ...">
                            <article class="prose break-words">
                                <p>Địa chỉ hiện tại: <br> <b>{{ profileDetailsData.lender.address1 }}</b>
                                </p>
                            </article>
                        </div>
                    </div>
                </fuse-card>

                <fuse-card class="flex flex-col px-8 pb-4" *ngIf="profileDetailsData.lender.type === userType.DOANH_NGHIEP">
                    <article class="prose">
                        <h4>Thông tin doanh nghiệp</h4>
                    </article>
                    <div class="grid grid-rows-4 grid-cols-4  gap-5 pt-5">
                        <div class="row-span-3 ...">
                            <div class="w-full h-50 avatar"
                                 [ngStyle]="{
                                    'background-image':'url('+(avatar && avatar?.contentBase64 ? avatar.contentBase64 : 'assets/images/avatars/defaut-avatar-man.png') +')',
                                    'background-size':     'contain',
                                    'background-repeat':   'no-repeat',
                                    'background-position': 'center center',
                                    'border': '1px solid #ccc',
                                    'border-radius': '25px'
                                 }"></div>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Bên huy động vốn: <br> <b>{{ profileDetailsData.lender.fullName }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Lĩnh vực hoạt động: <br> <b>{{ profileDetailsData.lender.admCategoriesName }}</b>
                                </p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words truncate"
                                     [matTooltip]="profileDetailsData.lender.website">
                                <p>Website: <br> <b><a target="_blank"
                                                       [href]="profileDetailsData.lender.website">{{ profileDetailsData.lender.website }}</a></b>
                                </p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Số GPKD: <br> <b>{{ profileDetailsData.lender.businessLicense }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Ngày cấp phép: <br>
                                    <b>{{ profileDetailsData.lender.businessLicenseDate | datetimeformat : 'DD/MM/YYYY' }}</b>
                                </p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>Nơi cấp: <br> <b>{{ profileDetailsData.lender.placeOfBusinessLicense }}</b>
                                </p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>MST doanh nghiệp: <br> <b>{{ profileDetailsData.lender.businessCode }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words">
                                <p>SĐT liên hệ: <br> <b>{{ profileDetailsData.lender.landline }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-1 ...">
                            <article class="prose break-words truncate"
                                     [matTooltip]="profileDetailsData.lender.facebook">
                                <p>Trang Facebook: <br> <b><a target="_blank"
                                                              [href]="profileDetailsData.lender.facebook">{{ profileDetailsData.lender.facebook }}</a></b>
                                </p>
                            </article>
                        </div>
                        <div class="col-span-2 ...">
                            <article class="prose break-words">
                                <p>Địa chỉ(theo GPKD): <br> <b>{{ profileDetailsData.lender.address3 }}</b></p>
                            </article>
                        </div>
                        <div class="col-span-2 ...">
                            <article class="prose break-words">
                                <p>Địa chỉ hoạt động: <br> <b>{{ profileDetailsData.lender.address2 }}</b></p>
                            </article>
                        </div>
                    </div>
                </fuse-card>
                <fuse-card class="flex flex-col px-8 pb-4 mt-5" *ngIf="profileDetailsData?.lender?.representative">
                    <article class="prose">
                        <h4>Thông tin người đại diện</h4>
                    </article>
                    <div class="grid grid-cols-4 gap-5 p-5">
                        <article class="prose break-words">
                            <p>Họ và tên: <br> <b>{{ profileDetailsData.lender.representative.fullName }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Giới tính: <br> <b>{{ profileDetailsData.lender.representative.genderName }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Ngày sinh: <br>
                                <b>{{ profileDetailsData.lender.representative.dateOfBirth | datetimeformat : 'DD/MM/YYYY' }}</b>
                            </p>
                        </article>
                        <article class="prose break-words">
                            <p>MST cá nhân: <br> <b>{{ profileDetailsData.lender.representative.taxCode }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>CCCD/Hộ chiếu: <br>
                                <b>{{ profileDetailsData.lender.representative.identification }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Ngày cấp: <br>
                                <b>{{ profileDetailsData.lender.representative.idDate | datetimeformat : 'DD/MM/YYYY' }}</b>
                            </p>
                        </article>
                        <article class="prose break-words">
                            <p>Nơi cấp: <br> <b>{{ profileDetailsData.lender.representative.idAddress }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>SĐT liên hệ: <br> <b>{{ profileDetailsData.lender.representative.mobile }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Email: <br> <b>{{ profileDetailsData.lender.representative.email }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Chức vụ: <br>
                                <b>{{ profileDetailsData.lender.representative.positionCompany }}</b></p>
                        </article>
                        <article class="prose break-words ">
                            <p>Trang facebook: <br>
                                <b>{{ profileDetailsData.lender.representative.facebook }}</b></p>
                        </article>
                        <article class="prose break-words col-span-2">
                            <p>Địa chỉ thường trú: <br>
                                <b>{{ profileDetailsData.lender.representative.address2 }}</b></p>
                        </article>
                        <article class="prose break-words col-span-2">
                            <p>Địa chỉ hiện tại: <br>
                                <b>{{ profileDetailsData.lender.representative.address1 }}</b></p>
                        </article>
                        
                    </div>
                </fuse-card>

                <!--
                tuanna confirm bo hien thi 25/08
                <fuse-card class="flex flex-col px-8 pb-4 mt-5"
                           *ngFor="let pcontact of profileDetailsData?.lender?.contact; let idx = index">
                    <article class="prose">
                        <h4>Thông tin người Liên hệ {{idx + 1}}</h4>
                    </article>
                    <div class="grid grid-cols-4 gap-5 p-5">
                        <article class="prose break-words">
                            <p>Họ và tên: <br> <b>{{ pcontact.fullName }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Giới tính: <br> <b>{{ pcontact.genderName }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Ngày sinh: <br> <b>{{ pcontact.dateOfBirth | datetimeformat : 'DD/MM/YYYY' }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>MST cá nhân: <br> <b>{{ pcontact.taxCode }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>CCCD/Hộ chiếu: <br> <b>{{ pcontact.identification }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Ngày cấp: <br> <b>{{ pcontact.idDate | datetimeformat : 'DD/MM/YYYY' }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Nơi cấp: <br> <b>{{ pcontact.idAddress }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Số di động: <br> <b>{{ pcontact.mobile }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Email cá nhân: <br> <b>{{ pcontact.email }}</b></p>
                        </article>
                        <article class="prose break-words">
                            <p>Chức vụ: <br> <b>{{ pcontact.positionCompany }}</b></p>
                        </article>
                        &lt;!&ndash;                        <article class="prose break-words">&ndash;&gt;
                        &lt;!&ndash;                            <p>Ảnh CCCD/Hộ chiếu(Mặt trước): <br> <a href="javascript:void(0)"&ndash;&gt;
                        &lt;!&ndash;                                                                          (click)="clickViewImage(pcontact.frontPhotoIdentication)">Xem&ndash;&gt;
                        &lt;!&ndash;                                file</a></p>&ndash;&gt;
                        &lt;!&ndash;                        </article>&ndash;&gt;
                        &lt;!&ndash;                        <article class="prose break-words">&ndash;&gt;
                        &lt;!&ndash;                            <p>Ảnh CCCD/Hộ chiếu(Mặt sau): <br> <a href="javascript:void(0)"&ndash;&gt;
                        &lt;!&ndash;                                                                       (click)="clickViewImage(pcontact.backsitePhotoIdentication)">Xem&ndash;&gt;
                        &lt;!&ndash;                                file</a></p>&ndash;&gt;
                        &lt;!&ndash;                        </article>&ndash;&gt;
                        <article class="prose break-words col-span-2">
                            <p>Địa chỉ(Theo CCCD/Hộ chiếu): <br> <b>{{ pcontact.address1 }}</b></p>
                        </article>
                        <article class="prose break-words col-span-2">
                            <p>Địa chỉ thường trú: <br> <b>{{ pcontact.address2 }}</b></p>
                        </article>
                    </div>
                </fuse-card>-->
            </mat-tab>
            <mat-tab label="Lịch sử huy động vốn">
                <article class="prose">
                    <h4>Danh sách lịch sử huy động vốn</h4>
                </article>
                <div class="flex flex-col flex-auto p-2 sm:p4 overflow-y-auto">
                    <table mat-table  [dataSource]="_dataSource" *ngIf="_dataSource?.data.length > 0">

                        <ng-container matColumnDef="loanProfilesCode">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Số hồ sơ
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.fsLoanProfilesId }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="reasonsName">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Mục đích
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.reasonsName}}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="amount">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Nhu cầu huy động vốn (VNĐ)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.amount | currencyFormatPipe : 10 }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="rate">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Lãi suất (%/Năm)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.rate }}
                                </div>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="loanTimeCycle">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Kỳ hạn(ngày)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.loanTimeCycle }}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="amountRef">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Tổng tiền đã huy động (VNĐ)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.amountRef | currencyFormatPipe : 10}}
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="statusName">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Trạng thái
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.statusName }}
                                </div>
                            </td>
                        </ng-container>

                        <!--<ng-container matColumnDef="totalDebit">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Dư nợ còn lại (VNĐ)
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.remainAmount | currencyFormatPipe : 10 }}
                                </div>
                            </td>
                        </ng-container>-->

                        <!--<ng-container matColumnDef="loanTimeStart">
                            <th mat-header-cell *matHeaderCellDef>
                                <div class="cell-overflow table-header">
                                    Ngày hết hạn
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="cell-overflow">
                                    {{ element.loanTimeStart | datetimeformat : 'DD/MM/YYYY' }}
                                </div>
                            </td>
                        </ng-container>-->

                        <tr mat-header-row *matHeaderRowDef="[
                            'loanProfilesCode',
                            'reasonsName',
                            'amount',
                            'rate',
                            'loanTimeCycle',
                            'amountRef',
                            'statusName'
                          ]"></tr>
                        <tr
                            mat-row *matRowDef="let row; columns: [
                            'loanProfilesCode',
                            'reasonsName',
                            'amount',
                            'rate',
                            'loanTimeCycle',
                            'amountRef',
                            'statusName'
                                ];"
                            class="hover:bg-accent-50 hover:cursor-pointer"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 20, 30, 50 , 100]"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements"></mat-paginator>
                </div>
            </mat-tab>
        </mat-tab-group>
    </mat-drawer-content>
</mat-drawer-container>
