<div class="flex flex-col max-w-240 md:min-w-160 sm:min-w-120 max-h-screen -m-6">
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-14 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Thông tin chi tiết yêu cầu rút tiền</div>
        <button mat-icon-button tabindex="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'" (click)="close()"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <div class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto h-120">
        <div class="grid grid-cols-2 gap-4">
            <article class="prose break-words col-span-2">
                <p>Mã giao dịch: <br> <b>{{ data ? data.baseData.transCode : '' }}</b></p>
            </article>

            <article class="prose break-words">
                <p>Số tiền cần rút (VND): <br> <b>{{ (data ? data.baseData.amount : 0) | currencyFormatPipe : 10 }}</b>
                </p>
            </article>
            <article class="prose break-words">
                <p>Phí rút tiền (VND): <br>
                    <b>{{ (data ? data.baseData.fee : 0) | currencyFormatPipe : 10 }}</b>
                </p>
            </article>
            <article class="prose break-words">
                <p>Số tài khoản: <br> <b>{{ data ? data.baseData.accNo : '' }}</b></p>
            </article>
            <article class="prose break-words">
                <p>Tên tài khoản thụ hưởng: <br> <b>{{ data ? data.baseData.accName : '' }}</b></p>
            </article>
            <article class="prose break-words col-span-2">
                <p>Ngân hàng: <br> <b>{{ data ? data.baseData.bankName : '' }}</b></p>
            </article>
            <article class="prose break-words col-span-2">
                <p>Chi nhánh: <br> <b>{{ data ? data.baseData.branchName : '' }}</b></p>
            </article>
            <article class="prose break-words col-span-2">
                <p>Nội dung giao dịch: <br> <b>{{ data ? data.baseData.info : '' }}</b></p>
            </article>
            <article class="prose break-words">
                <p>Trạng thái: <br> <b>{{ data ? data.baseData.statusName : '' }}</b></p>
            </article>
            <article class="prose break-words">
                <p>Ghi chú (Nội dung xử lý): <br> <b> {{ data ? data.baseData.approvalComment : '' }}</b></p>
            </article>
            <article class="prose break-words">
                <p>Người lập yêu cầu: <br> <b>{{ data ? data.baseData.createdByName : '' }}</b></p>
            </article>
            <article class="prose break-words">
                <p>Ngày lập: <br>
                    <b>{{ data?.baseData?.createdDate | datetimeformat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                </p>
            </article>
            <div *ngIf="data.baseData.status === 1 || data.baseData.status === 2">
                <article class="prose break-words">
                    <p>Người xử lý: <br> <b>{{ data?.baseData?.approvalByName}}</b></p>
                </article>
                <article class="prose break-words">
                    <p>Ngày xử lý: <br>
                        <b>{{ data?.baseData?.approvalDate | datetimeformat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                    </p>
                </article>
            </div>
        </div>
    </div>
    <!-- Actions -->
    <div class="flex items-center justify-center mb-4 sm:mb-6">
            <a (click)="close()"  mat-stroked-button >
                Đóng
            </a>
    </div>
</div>