<mat-drawer-container
    class="flex-auto h-full bg-card dark:bg-transparent">
    <!-- Sidebar drawer -->
    <mat-drawer
        *ngIf="!isShowDetail;"
        @fadeOutLeft
        @slideInLeft
        class="w-60"
        [mode]="isMobile ? 'over' : 'side'"
        [opened]="!isMobile"
        [position]="'start'"
        [disableClose]="!isMobile"
        #sidebarDrawer>
        <fuse-vertical-navigation
            [appearance]="'default'"
            [navigation]="menuData"
            [inner]="true"
            [mode]="'side'"
            [name]="'sidebar-navigation'"
            [opened]="true"></fuse-vertical-navigation>
    </mat-drawer>
    <mat-drawer-content class="flex flex-col">
        <button *ngIf="isMobile && !isShowDetail && sidebarDrawer" mat-icon-button (click)="sidebarDrawer?.toggle()" class="ml-4 mt-4">
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
