<div class="relative p-4 flex flex-col sm:flex-row sm:items-center sm:justify-between bg-white gap-4">
  <!-- Title -->
  <h3 class="leading-tight text-2xl font-bold">
    {{ titlePage }}
  </h3>

  <!-- Actions -->
  <div class="flex flex-row gap-3 sm:gap-4">
    <button
      *ngIf="authService.authenticatedUser.type === 1"
      mat-flat-button
      color="primary"
      (click)="changeIdentification()"
      class="w-full sm:w-auto"
    >
      Thay đổi CCCD/Hộ chiếu
    </button>

    <button
      *ngIf="authService.authenticatedUser.accountType === 2 && authService.authenticatedUser.type === 2"
      mat-raised-button
      color="primary"
      (click)="downloadBCCTTemplate()"
      class="w-full sm:w-auto"
    >
      Tải file mẫu BCTC
    </button>

    <button
      *ngIf="authService.authenticatedUser.type === 2"
      mat-flat-button
      color="primary"
      (click)="changeBusinessLicense()"
      class="w-full sm:w-auto"
    >
      Thay đổi GPKD
    </button>
  </div>
</div>
