<div class="absolute inset-0 flex flex-col min-w-0 overflow-scroll" *ngIf="(debtManagement | async) as detail">
    <!-- Main -->
    <div class="flex flex-col w-full">
        <div class="w-full relative flex flex-row justify-between items-center p-5">
             
            <div class="flex flex-col sm:flex-row items-center justify-start gap-3">
                <span (click)="discard()"
                    class="text-primary-grayNeutral-1 flex items-center justify-center gap-1 text-sm cursor-pointer">
                        <mat-icon class="icon-size-5 text-primary-grayNeutral-1"
                            svgIcon="heroicons_outline:chevron-left"></mat-icon>
                        Quay lại
                    </span>
                    <span class="text-2xl font-bold tracking-tight">
                        Chi tiết yêu cầu điều chuyển tiền ví
                    </span>
            </div>
            <div class="flex flex-row">
                <!-- <button class="ml-auto sm:ml-0"
                        mat-stroked-button
                        (click)="discard()">
                    Quay lại
                </button> -->
                <!-- Submit -->
                <button class="order-first sm:order-last ml-2"
                        @fadeInRight
                        @fadeInRight
                        mat-flat-button
                        *ngIf="detail?.status === 1"
                        [color]="'primary'"
                        (click)="submit()">
                    Trình ký
                </button>
            </div>
        </div>
        <div class="w-full flex flex-col pt-2 p-5 gap-4">
            <div class="flex flex-col gap-6 border border-primary-grayLight-2 rounded-lg p-5">
                <div class="w-full flex flex-row justify-between">
                    <div class="w-1/4 flex flex-col gap-4">
                        <mat-label>Mã yêu cầu</mat-label>
                        <b>{{ detail.transCode }}</b>
                    </div>
                    <div class="w-1/4 flex flex-col gap-4">
                        <mat-label>Tài khoản ví điều chuyển</mat-label>
                        <b>{{ detail.fromWallet }}</b>
                    </div>
                    <div class="w-1/4 flex flex-col gap-4">
                        <mat-label>Tài khoản ví nhận</mat-label>
                        <b>{{ detail.toWallet}}</b>
                    </div>
                    <div class="w-1/4 flex flex-col gap-4">
                        <mat-label>Tổng số tiền giao dịch (VND)</mat-label>
                        <b>{{ detail.amount | currencyFormatPipe: 3 }}</b>
                    </div>
                </div>
                <div class="w-full flex flex-row justify-between">
                    <div class="w-1/4 flex flex-col gap-4">
                        <mat-label>Trạng thái</mat-label>
                        <app-status-display
                            [status]="detail.status"
                            [statusName]="detail.statusName"
                        ></app-status-display>
                    </div>
                    <div class="w-1/4 flex flex-col gap-4">
                        <mat-label>Người lập
                        </mat-label>
                        <b>{{ detail.createdByName }}</b>
                    </div>
                    <div class="w-1/4 flex flex-col gap-4">
                        <mat-label>Ngày lập</mat-label>
                        <b>{{ detail.createdDate | datetimeformat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                    </div>
                    <div class="w-1/4 flex flex-col gap-4" >
                        <ng-container *ngIf="detail.status !== 1" >
                            <mat-label>Người xử lý
                            </mat-label>
                            <b>{{ detail.approvalByName }}</b>
                        </ng-container>
                    </div>
                </div>
                <div class="w-full flex flex-row justify-between" *ngIf="detail.status !== 1">
                    <div class="w-1/4 flex flex-col gap-4">
                        <mat-label>Ngày xử lý</mat-label>
                        <b>{{ detail.approvalDate | datetimeformat: 'DD/MM/YYYY HH:mm:ss' }}</b>
                    </div>
                    <div class="w-1/4 flex flex-col gap-4" ></div>
                    <div class="w-1/4 flex flex-col gap-4" ></div>
                    <div class="w-1/4 flex flex-col gap-4" ></div>
                </div>
            </div>

            <div class="w-full flex flex-col border border-primary-grayLight-2 rounded-lg p-5">
                <div class="text-lg font-bold mb-3">Danh sách giao dịch điều chuyển</div>
                <div class="border">
                    <table mat-table [dataSource]="_dataSource">

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th class="bg-primary-grayNeutral-5" mat-header-cell *matHeaderCellDef> Số hồ sơ</th>
                            <td mat-cell *matCellDef="let element"> {{element.fsLoanProfilesId}} </td>
                        </ng-container>

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <th class="bg-primary-grayNeutral-5" mat-header-cell *matHeaderCellDef> Bên huy động</th>
                            <td mat-cell *matCellDef="let element"> {{element.admAccountIdPresenterName}} </td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <th class="bg-primary-grayNeutral-5" mat-header-cell *matHeaderCellDef> Phí kết nối huy động vốn</th>
                            <td mat-cell *matCellDef="let element"> {{element.amount | currencyFormatPipe: 3}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements"></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>
