<mat-drawer-container
    class="investor-table flex-auto h-full bg-white">
    <mat-drawer
        class="w-full md:w-12/12 "
        [mode]="'side'"
        [opened]="false"
        [position]="'end'"
        [disableClose]="true"
        #matDrawer>
        <app-detail-investor-management
            (handleCloseDetailPanel)="handleCloseDetailPanel($event)"
        ></app-detail-investor-management>
    </mat-drawer>
    <mat-drawer-content class="flex flex-col">
        <app-datatable
            [tableConfig]="_tableInvestorManagementConfig"
            [dataSource]="_dataSource$"
            [taskbarConfig]="_taskBarConfig"
            (checkboxItemChange)="checkboxItemChange($event)"
            [tableConfigBtns]="_tableButtonConfig"
            (tableEvent)="handleTableEvent($event)"
            (handleSearch)="handleSearch($event)"
            (rowClick)="handleRowClick($event)"
            (pageSwitch)="handlePageSwitch($event)">
        </app-datatable>
    </mat-drawer-content>
</mat-drawer-container>

